<breadcrumb></breadcrumb>
<div class="row space">
    <div class="col-md-12">
        <h3>Constancia general</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <text label="Contenido de la constancia"></text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Constancia de llamada para permitir al imputado comunicarse con su defensor</h3>
                </div>       
            </div>
            <div class="row">
                <div class="col">
                    <text label="Especificar número teléfonico"></text>
                </div>
                <div class="col">
                    <text label="Nombre de la persona que atiende la llamada telefónica"></text>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <text-area label="Observaciones/Incidencias"></text-area>
                </div>
            </div>
            <div class="row space"></div>
            <button class="float-right" md-button routerLink="/registro-general">Cancelar</button> 
            <button class="float-right" md-raised-button color="accent">Guardar</button>
        </form>
    </div>
</div>
