<div class="row">
    <div class="col-md-12">
        <form>
            <select2 [options]="
                [
                    {label:'Acuerdo general',value:'Acuerdo general'},
                    {label:'Registro general', value:'Registro general'},
                    {label:'Registro de derivación a JR (Justicia Restaurativa)', value:'Registro de derivación'},
                    {label:'Registro de llamada para permitir al imputado comunicarse con su defensor',value:'Registro de llamada'}
                ]"
                placeholder="Tipo de solicitud"
                (valueChange)="tipoChange($event)"
                [group]="form"
                name="tipo">
            </select2>
            <div *ngIf="tipo === 'Registro de derivación'">
            </div>    
            <div *ngIf="tipo === 'Acuerdo general'">
                <h4>Fundamento legal</h4>
                <div class="row">
                    <div class="col">
                        <text label="Fundamento legal" name="fundamentoLegal" [group]="form"></text>
                    </div>
                    <div class="col">
                        <text label="Contenido del acuerdo" name="contenidoAcuerdo" [max]="100" [group]="form"></text>
                    </div>
                    <div class="col">
                        <text label="Con la finalidad de" name="finalidad" [max]="100" [group]="form"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <text label="Plazo en el que debe ser complementado" name="plazo" [max]="100" [group]="form"></text>
                    </div>
                    <div class="col">
                        <text label="Apercibimientos" name="apercibimiento" [max]="100" [group]="form"></text>
                    </div>
                    <div class="col">
                        <text label="Señalar que se solicita" name="senialar" [max]="100" [group]="form"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <text-area label="Observaciones/Incidencias" name="observaciones" [group]="form"></text-area>
                    </div>
                </div>
            </div>
            <div *ngIf="tipo=='Registro general'">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Constancia general</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <text-area label="Contenido de la constancia" name="contenidoConstancia" [group]="form"></text-area>
                    </div>
                </div>
            </div>
            <div *ngIf="tipo=='Registro de llamada'">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Constancia de llamada para permitir al imputado comunicarse con su defensor</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <phone label="Especificar número teléfonico" name="noTelefonico" [max]="20" [group]="form"></phone>
                    </div>
                    <div class="col">
                        <text label="Nombre de la persona que atiende la llamada telefónica" name="atencionLlamada" [max]="100" [group]="form"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <text-area label="Observaciones/Incidencias" name="observaciones" [group]="form"></text-area>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
                    <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button class="float-right" mat-button routerLink="/caso/{{casoId}}/registro-general">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
