<breadcrumb></breadcrumb>
<caso-nic [id]="id"></caso-nic>
<style>
    .delito-list .mat-list-item-content {
        height: auto !important;
    }
</style>
<div class="row space">
    <div class="col-md-12">
        <mat-card>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-flex">
                            <div>
                                <h2>Resumen de datos generales</h2>
                            </div>
                        </div>
                        <div class="col">
                            <button class="float-right" mat-raised-button routerLink="/" color="accent">Regresar</button>
                        </div>
                    </div>
                    <div class="row space"></div>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Información general</strong>
                                <p>{{caso.titulo}}</p>
                                <p class="text-justify">{{caso.sintesis}}</p>
                            </div>
                            <div class="col-md-3">
                                <strong>Involucrados</strong>
                                <ul class="list-group" style="max-height: 200px;overflow-x: scroll;">
                                    <li class="list-group-item" *ngFor="let involucrado of involucrados" style="font-size: 14px; border: 0px;">
                                     {{involucrado.persona.nombre}} {{involucrado.persona.paterno}} {{involucrado.persona.materno}} 
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-5">
                                <strong>Delito</strong>
                                <ul class="list-group" style="max-height: 200px;overflow-x: scroll;">
                                    <li class="list-group-item" *ngFor="let delitoCaso of delitos" style="font-size: 11px; border: 0px">
                                     {{delitoCaso.delito.nombre}} 
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row space"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-card class="h-100">
                                    <mat-card-content class="d-flex flex-column h-100">
                                        <div class="row ml-0 mr-0 align-items-center mb-auto">
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <p class="font-weight-bold">Noticia de hechos</p>
                                                </div>
                                                <div class="row">
                                                    <p>Detalle de la noticia de hechos</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row text-center">
                                                    <div class="col p-0">
                                                        <img src="./assets/images/NoticiaDeHechos/acuerdo.svg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row space"></div>
                                        <div class="row">
                                            <button mat-button routerLink="/caso/{{id}}/noticia-hecho/datos-generales">Ver ahora</button>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-md-4">
                                <mat-card class="h-100">
                                    <mat-card-content class="d-flex flex-column h-100">
                                        <div class="row ml-0 mr-0 align-items-center mb-auto">
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <p class="font-weight-bold">Predenuncia</p>
                                                </div>
                                                <div class="row">
                                                    <p>Detalle de la pre denuncia</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row text-center">
                                                    <div class="col p-0">
                                                        <img [style.opacity]="hasRelacionVictimaImputado? 1 : 0.2" src="./assets/images/Acuerdos/acuerdo.svg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row space"></div>
                                        <div class="row">
                                            <button mat-button [disabled]="!hasRelacionVictimaImputado" routerLink="/caso/{{id}}/predenuncia/create">Ver ahora</button>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-card>
            
            <mat-card-content>
             <div class="d-flex justify-content-between">
                    <div class="row">
                        <h2>Detalle pre denuncia <small  *ngIf="caso.hasPredenuncia || hasPredenuncia">(NIC: {{caso.nic}})</small></h2>
                    </div>
                    <div>
                        <mat-icon>more_vert</mat-icon>
                    </div>
                </div >
                <div class="row space"></div>
                <div class="row">
                    <div class="col-md-8">
                        <strong>Detalle de los hechos</strong>
                        <p class="text-justify">{{predenuncia.hechosNarrados}}</p>
                    </div>
                    <div class="col-md-4 text-right">
                        <strong>Fecha y hora de los hechos</strong>
                        <p *ngIf="caso.hasPredenuncia">({{detalleFecha | longDate}})</p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div *ngIf="auth.user.hasRoles(auth.roles.uai, auth.roles.express, auth.roles.mpuai, auth.roles.mpi)">
                    <div class="row space"></div>
                    <div class="row align-items-center">
                        <div class="col-md-auto space">
                            <img src="./assets/images/NoticiaDeHechos/solicitudes.svg">
                        </div>
                        <div class="col-md-auto space">
                            <h4>Solicitudes preliminares</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Solicitudes a periciales</p>
                                            </div>
                                            <div class="row">
                                                <p>Recepción y resolución de solicitudes de peritaje</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia? 1 : 0.2" src="./assets/images/Solicitudes-preliminares/detective.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia" routerLink="/caso/{{id}}/perito">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex align-items-start flex-column h-100">
                                    <div class="d-flex flex-wrap align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Solicitudes a Policía de investigación</p>
                                            </div>
                                            <div class="row">
                                                <p>Recepción y resolución de solicitudes de policía</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia? 1 : 0.2" src="./assets/images/Solicitudes-preliminares/policeCap.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia" routerLink="/caso/{{id}}/policia">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Solicitudes y acuerdos generales</p>
                                            </div>
                                            <div class="row">
                                                <p>Resolución de solicitudes de acuerdos generales</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia && onLine.onLine ? 1 : 0.2" src="./assets/images/Solicitudes-preliminares/contratos.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia || !onLine.onLine" routerLink="/caso/{{id}}/acuerdo-general">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <div class="row space"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Registro general</p>
                                            </div>
                                            <div class="row">
                                                <p>Recepción y resolución de solicitudes de registro</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia && onLine.onLine? 1 : 0.2" src="./assets/images/Solicitudes-preliminares/letter.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia || !onLine.onLine" routerLink="/caso/{{id}}/registro-general">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Inspecciones</p>
                                            </div>
                                            <div class="row">
                                                <p>Recepción y resolución de inspección</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia && onLine.onLine ? 1 : 0.2" src="./assets/images/Solicitudes-preliminares/fingerprint.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia || !onLine.onLine" routerLink="/caso/{{id}}/inspeccion">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Requerimiento de información</p>
                                            </div>
                                            <div class="row">
                                                <p>Resolución de solicitudes de requerimiento de información</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia && onLine.onLine? 1 : 0.2" src="./assets/images/Solicitudes-preliminares/evidence.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia || !onLine.onLine" routerLink="/caso/{{id}}/requerimiento-informacion">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-content>
                <div *ngIf="auth.user.hasRoles(auth.roles.express, auth.roles.mpuai, auth.roles.mpi)">
                    <div class="row space"></div>
                    <div class="row align-items-center">
                        <div class="col-md-auto space">
                            <img src="./assets/images/NoticiaDeHechos/acuerdosC.svg">
                        </div>
                        <div class="col-md-auto space">
                            <h4>Acuerdos</h4>
                        </div>
                    </div>
                    <div class="row space">
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Acuerdo de inicio</p>
                                            </div>
                                            <div class="row">
                                                <p>Registro de acuerdo</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia && onLine.onLine ? 1 : 0.2" src="./assets/images/Acuerdos/acuerdo.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia || !onLine.onLine" routerLink="/caso/{{id}}/acuerdo-inicio">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Acuerdo de radicación</p>
                                            </div>
                                            <div class="row">
                                                <p>Registro de acuerdo de radicación</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasAcuerdoInicio && onLine.onLine? 1 : 0.2" src="./assets/images/Acuerdos/acuerdoRadicacion.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasAcuerdoInicio || !onLine.onLine" routerLink="/caso/{{id}}/acuerdo-radicacion">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="row space"></div>
                <div class="row align-items-center">
                    <div class="col-md-auto space">
                        <img src="./assets/images/NoticiaDeHechos/entrevistasC.svg">
                    </div>
                    <div class="col-md-auto space">
                        <h4>Entrevistas</h4>
                    </div>
                </div>
                <div class="row space">
                    <div class="col-md-4">
                        <mat-card class="h-100">
                            <mat-card-content class="d-flex flex-column h-100">
                                <div class="row ml-0 mr-0 align-items-center mb-auto">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <p class="font-weight-bold">Entrevistas</p>
                                        </div>
                                        <div class="row">
                                            <p>Entrevistas de todos los involucrados</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row text-center">
                                            <div class="col p-0">
                                                <img [style.opacity]="hasPredenuncia? 1 : 0.2" src="./assets/images/witness.svg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row space"></div>
                                <div class="row">
                                    <button mat-button [disabled]="!hasPredenuncia" routerLink="/caso/{{id}}/entrevista">Ver ahora</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="auth.user.hasRoles(auth.roles.express, auth.roles.mpuai, auth.roles.mpi)">
                    <div class="row space"></div>
                    <div class="row align-items-center">
                        <div class="col-md-auto space">
                            <img src="./assets/images/NoticiaDeHechos/entrevistasC.svg">
                        </div>
                        <div class="col-md-auto space">
                            <h4>Conclusiones</h4>
                        </div>
                    </div>
                    <div class="row space">
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Archivo temporal</p>
                                            </div>
                                            <div class="row">
                                                <p>Enviar al archivo temporal</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia && onLine.onLine? 1 : 0.2" src="./assets/images/Conclusiones/folder.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia || !onLine.onLine" routerLink="/caso/{{id}}/archivo-temporal">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">No ejercicio de la Acción Penal</p>
                                            </div>
                                            <div class="row">
                                                <p>No existe ejercicio de la acción penal</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia && onLine.onLine? 1 : 0.2" src="./assets/images/Conclusiones/lawyer.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia || !onLine.onLine" routerLink="/caso/{{id}}/no-ejercicio-accion-penal">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="h-100">
                                <mat-card-content class="d-flex flex-column h-100">
                                    <div class="row ml-0 mr-0 align-items-center mb-auto">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <p class="font-weight-bold">Facultad de No Investigar</p>
                                            </div>
                                            <div class="row">
                                                <p>No hay facultad de investigación</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row text-center">
                                                <div class="col p-0">
                                                    <img [style.opacity]="hasPredenuncia && onLine.onLine ? 1 : 0.2" src="./assets/images/Conclusiones/quill.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row space"></div>
                                    <div class="row">
                                        <button mat-button [disabled]="!hasPredenuncia || !onLine.onLine" routerLink="/caso/{{id}}/facultad-no-investigar">Ver ahora</button>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-footer>

            </mat-card-footer>
        </mat-card>
    </div>
</div>