<breadcrumb></breadcrumb>   
<div class="row space">
    <div class="col-md-12">
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h2>Resumen de datos generales</h2>
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Información de la noticia</strong>
                        <p>Título de la noticia</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat dapibus consequat. Pellentesque et finibus sapien, ac posuere nulla.</p>
                    </div>
                    <div class="col-md-4">
                        <strong>Involucrados</strong>
                        <md-list>
                            <md-list-item>Nombre Paterno Materno</md-list-item>
                            <md-list-item>Nombre Paterno Materno</md-list-item>
                            <md-list-item>Nombre Paterno Materno</md-list-item>
                        </md-list>
                    </div>
                    <div class="col-md-2">
                        <strong>Delito</strong>
                        <md-list>
                            <md-list-item>Delito</md-list-item>
                            <md-list-item>Delito</md-list-item>
                            <md-list-item>Delito</md-list-item>
                        </md-list>
                    </div>
                </div>
                <md-divider></md-divider>
            </md-card-content>
        </md-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h2>Detalle pre denuncia</h2>
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <div class="row">
                    <div class="col-md-8">
                        <strong>Detalle de los hechos</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat dapibus consequat. Pellentesque et finibus sapien, ac posuere nulla. Nam luctus, urna eget aliquam facilisis, mauris dui luctus turpis, in aliquet quam dolor vitae mauris. Nam vel metus congue, semper augue eget, vehicula mi. Donec elementum est eget pulvinar dictum. Pellentesque lectus nunc, volutpat in auctor suscipit, tristique ut orci. Proin arcu nunc, molestie sed facilisis tincidunt, interdum sit amet neque. Etiam ipsum dui, sagittis ut egestas nec, porta et augue. Mauris pharetra sem condimentum libero iaculis luctus. Morbi non viverra tellus.</p>
                    </div>
                    <div class="col-md-4">
                        <strong>Fecha y hora de los hechos</strong>
                        <p>14 de diciembre de 2017 a las 14:00 hrs</p>
                    </div>
                </div>
                
                <md-divider></md-divider>
                <div class="row space"></div>
                <div class="row space">
                    <div class="col-md-12 space">
                        <h4>Solicitudes preliminares</h4>
                    </div>
                    <div class="col-md-4">
                        <md-card>
                            <md-card-content>
                                <p class="font-weight-bold">Solicitudes a periciales</p>
                                <p>Recepción y resolución de solicitudes de peritaje</p>
                                <button md-button routerLink="/perito">Ver ahora</button>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="col-md-4">
                        <md-card>
                            <md-card-content>
                                <p class="font-weight-bold">Solicitudes a policía ministerial</p>
                                <p>Recepción y resolución de solicitudes de policía</p>
                                <button md-button routerLink="/policia">Ver ahora</button>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="col-md-4">
                        <md-card>
                            <md-card-content>
                                <p class="font-weight-bold">Acuerdo general</p>
                                <p>Resolución de solicitudes de acuerdos generales</p>
                                <button md-button routerLink="/acuerdo-general">Ver ahora</button>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
                <div class="row space">
                    <div class="col-md-4">
                        <md-card>
                            <md-card-content>
                                <p class="font-weight-bold">Registro general</p>
                                <p>Recepción y resolución de solicitudes de registro</p>
                                <button md-button routerLink="/registro-general">Ver ahora</button>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="col-md-4">
                        <md-card>
                            <md-card-content>
                                <p class="font-weight-bold">Inspecciones</p>
                                <p>Recepción y resolución de inspección</p>
                                <button md-button routerLink="/inspeccion">Ver ahora</button>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="col-md-4">
                        <md-card>
                            <md-card-content>
                                <p class="font-weight-bold">Requerimiento de información</p>
                                <p>Resolución de solicitudes de requerimiento de información</p>
                                <button md-button routerLink="/requerimiento-informacion">Ver ahora</button>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </md-card-content>
            <md-card-footer>
            
            </md-card-footer>
        </md-card>
    </div>
</div>