<md-expansion-panel>
    <md-expansion-panel-header>
        <md-panel-title>
            <md-icon>fingerprint</md-icon> Datos de identificación
            </md-panel-title>
            <md-panel-description>

            </md-panel-description>
    </md-expansion-panel-header>
    <div class="row">
        <div class="col-md-3">
            <select2 placeholder="Documento de identificación"
                [options]="personaServ.idiomaIdentificacion.familiaLinguistica"
                name="identificacion"
                [group]="globals.form">
                        
            </select2>
        </div>
        <div class="col-md-auto">
            <text label="Autoridad emisora"
                name="autoridadEmisora"
                [group]="globals.form">
                    
            </text>
        </div>
        <div class="col-md-auto">
            <text label="Número o folio de documento"
                name="folioIdentificacion"
                [group]="globals.form">        
            </text>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" *ngIf="globals.tipoInterviniente=='6'" [formGroup]="globals.form">
            <div  class="row" formArrayName="aliasNombrePersona" >
                <div class="col-md-auto">
                    <button class="float-left" md-raised-button (click)="addOtroNombre('alias')" color="accent" >Agregar alias</button>
                </div>
                <div class="col-md-12" *ngFor="let nombre of alias;let i=index; trackBy:trackByIndex " [formGroupName]="nombres">
                    <md-form-field class="full-width">
                        <input mdInput placeholder="Alias" formControlName="nombre">
                    </md-form-field>
                    <input type="hidden" value="Alias" formControlName="tipo">
                </div>
            </div>
        </div>
        <div class="col-md-5" [formGroup]="globals.form">
            <div  class="row" formArrayName="aliasNombrePersona" >
                <div class="col-md-auto">
                    <button class="float-left" md-raised-button (click)="addOtroNombre('otroNombre')" color="accent" >Agregar otro nombre</button>
                </div>
                <div class="col-md-12" *ngFor="let nombre of otrosNombres;let i=index; trackBy:trackByIndex " [formGroupName]="nombres">
                    <md-form-field class="full-width">
                        <input mdInput placeholder="Otro nombre" formControlName="nombre">
                    </md-form-field>
                    <input type="hidden" value="Otro nombre" formControlName="tipo">
                </div>
            </div>
        </div>
    </div>
</md-expansion-panel>