<md-expansion-panel>
    <md-expansion-panel-header>
        <md-panel-title>
            <md-icon>fingerprint</md-icon> Datos de identificación
            </md-panel-title>
            <md-panel-description>

            </md-panel-description>
    </md-expansion-panel-header>
    <div class="row">
        <div class="col-md-3">
            <select2 [options]="[]" placeholder="Documento de identificación"></select2>
        </div>
        <div class="col-md-auto">
            <text label="Autoridad emisora"></text>
        </div>
        <div class="col-md-auto">
            <text label="Número o folio de documento"></text>
        </div>
        <div class="col-md-3" *ngIf="globals.tipoInterviniente=='Imputado'">
            <text label="alias" ></text>
        </div>
        <div class="col-md-auto">
            <text label="Otros nombres"></text>
        </div>
    </div>
</md-expansion-panel>