<mat-expansion-panel expanded="true" class="expansion-identidad">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>perm_identity</mat-icon>Datos de identidad
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container-fluid">
        <div class="row" *ngIf="globals.tipoPersona=='Moral'">
            <div class="col-md-3">
                <text label="Razón social" name="razonSocial"  hintStart="{{globals.hintsObligatorio}}"   [group]="globals.form" hintStart="Campo obligatorio"></text>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text label="Nombre"  hintStart="{{globals.hintsObligatorio}}"  name="nombre" [group]="globals.form"></text>
            </div>
            <div class="col">
                <text label="Apellido paterno"   hintStart="{{globals.hintsObligatorio}}"   name="paterno" [group]="globals.form"></text>
            </div>
            <div class="col">
                <text label="Apellido materno" name="materno" [group]="globals.form"></text>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <select2 [options]="options.sexo" placeholder="Sexo" name="id" hintStart="{{globals.hintsObligatorio}}"  [group]="globals.form.controls.sexo"></select2>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <date-picker label="Fecha de nacimiento" name="fechaNacimiento" (onClean)="disableEdad()" [validateDays]="'post'" [group]="globals.form" (onDateSelect)="edad($event)"></date-picker>
                    </div>
                    <div class="col">
                      <int label="Edad" name="edad" hintStart="{{globals.hintsObligatorio}}"   [max]="2" [group]="globals.form"></int>
                    </div>

                    <div class="col">
                      <curp-rfc label="CURP" name="curp" [max]="18" [group]="globals.form"></curp-rfc>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <select2 [options]="personaServ.nacionalidadReligion.nacionalidad" placeholder="Nacionalidad" name="nacionalidad" [group]="globals.form"></select2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <select2 [options]="options.paises" placeholder="País de nacimiento"  name="id" [group]="globals.form.controls.pais" (valueChange)="changePais($event)"></select2>
            </div>
            <div class="col-md-4" *ngIf="!isMexico">
              <text label="Estado de nacimiento" name="estadoNacimientoOtro" [max]="40" [group]="globals.form" ></text>
            </div>

            <div class="col-md-4" *ngIf="!isMexico">
              <text  label="Municipio" name="municipioNacimientoOtro" [max]="40" [group]="globals.form"></text>
            </div>
            <div class="col-md-4" *ngIf="isMexico">
              <select2 [options]="options.estados" placeholder="Estado de nacimiento" name="id" [group]="globals.form.controls.estado" (valueChange)="changeEstado($event)"></select2>
            </div>

            <div class="col-md-4" *ngIf="isMexico">
              <select2 [options]="options.municipios" placeholder="Municipio" name="id" [group]="globals.form.controls.municipio"></select2>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <select2 [options]="options.escolaridad" placeholder="Escolaridad" name="id" [group]="globals.form.controls.escolaridad" ></select2>
            </div>
            <div class="col">
              <select2 [options]="options.ocupacion" placeholder="Ocupación" hintStart="{{globals.hintsObligatorio}}"  name="id" [group]="globals.form.controls.ocupacion"></select2>
            </div>
            <div class="col">
              <text label="Lugar de trabajo"  name="lugarTrabajo" [group]="globals.form"></text>
            </div>

            <div class="col">
              <number label="Ingresos mensuales"  name="ingresoMensual" [group]="globals.form"></number>
            </div>

            <div class="col">
             <curp-rfc label='RFC' name="rfc" [max]="globals.maxRFC" [curp]="false" [group]="globals.form"></curp-rfc>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
              <select2 [options]="options.estadoCivil" placeholder="Estado civil"  name="id" [group]="globals.form.controls.estadoCivil"></select2>
            </div>
            <div class="col-md-2">
               <int label="Número de hijos" name="numHijos" [max]="2" [group]="globals.form"></int>
            </div>

            <div class="col-md-2">
              <select2 [options]="personaServ.nacionalidadReligion.religion" placeholder="Religión" name="religion" [group]="globals.form"></select2>
            </div>

            <div class="col-md-2">
                <select2
                    [options]="personaServ.idiomaIdentificacion.hablaEspaniol"
                    placeholder="Habla español"
                    name="hablaEspaniol"
                    [group]="globals.form"
                    (clean)="personaServ.idiomaIdentificacion.find(undefined, 'hablaEspaniol')"
                    (valueChange)="personaServ.idiomaIdentificacion.find($event, 'hablaEspaniol')">

                </select2>
            </div>
            <div class="col-md-2">
                <select2
                    [options]="personaServ.idiomaIdentificacion.lenguaIndigena"
                    placeholder="Lengua Indígena"
                    name="lenguaIndigena"
                    [group]="globals.form"
                    (clean)="personaServ.idiomaIdentificacion.find(undefined, 'lenguaIndigena')"
                    (valueChange)="personaServ.idiomaIdentificacion.find($event, 'lenguaIndigena')">

                </select2>
            </div>
            <div class="col-md-2">
               <select2 [options]="options.grupoEtnico" placeholder="Grupo étnico" name="id" [group]="globals.form.controls.grupoEtnico"></select2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <select2 [options]="options.alfabetismo" placeholder="Alfabetismo" name="id" [group]="globals.form.controls.alfabetismo"></select2>
            </div>

            <div class="col-md-3">
                <select2
                    [options]="personaServ.idiomaIdentificacion.familiaLinguistica"
                    placeholder="Familia lingüística"
                    name="familiaLinguistica"
                    [group]="globals.form"
                    (clean)="personaServ.idiomaIdentificacion.find(undefined, 'familiaLinguistica')"
                    (valueChange)="personaServ.idiomaIdentificacion.find($event, 'familiaLinguistica')">

                </select2>
            </div>
            <div class="col-md-3">
              <select2 [options]="options.interprete" placeholder="Necesita intérprete" name="id" [group]="globals.form.controls.interprete"></select2>
            </div>
            <div class="col-md-3">
               <select2 [options]="options.adiccion" placeholder="Adicciones" name="id" [group]="globals.form.controls.adiccion"></select2>
            </div>
        </div>

        <div class="row" *ngIf="this.globals.isImputadoAny">
            <div class="col-md-2">
                <checkbox label="Detenido" name="detenido" [group]="globals.form" (valueChange)="changeDetenido($event)" ></checkbox>
            </div>
            <div class="col-md-2" *ngIf="globals.detenido">
                <date-picker label="Fecha de detención" name="fechaDetencion" [group]="globals.form.controls.personaCaso.controls[0]"></date-picker>
            </div>
            <div class="col-md-2" *ngIf="globals.detenido">
                <time label="Hora de detención" name="horaDetencion" [group]="globals.form.controls.personaCaso.controls[0]"></time>
            </div>

            <div class="col-md-2" *ngIf="globals.detenido">
                <select2
                    [options]="personaServ.tipoDetenido.tipoDetencion"
                    placeholder="Tipo de detención"
                    name="tipoDetencion"
                    [group]="globals.form.controls.personaCaso.controls[0].controls.tipoDetenido"
                    (valueChange)="personaServ.tipoDetenido.find($event, 'tipoDetencion')">

                </select2>
            </div>

            <div class="col-md-2" *ngIf="globals.detenido">
                <date-picker label="Fecha de declaración" name="fechaDeclaracion" [group]="globals.form.controls.personaCaso.controls[0]"></date-picker>
            </div>
            <div class="col-md-2" *ngIf="globals.detenido">
                <select2
                    [options]="personaServ.tipoDetenido.tipoReincidencia"
                    placeholder="Tipo de reincidencia"
                    name="tipoReincidencia"
                    [group]="globals.form.controls.personaCaso.controls[0].controls.tipoDetenido"
                    (valueChange)="personaServ.tipoDetenido.find($event, 'tipoReincidencia')">
                </select2>
            </div>
            <div class="col-md-2" *ngIf="globals.detenido">
                <select2
                    [options]="personaServ.tipoDetenido.cereso"
                    placeholder="Cereso"
                    name="cereso"
                    [group]="globals.form.controls.personaCaso.controls[0].controls.tipoDetenido"
                    (valueChange)="personaServ.tipoDetenido.find($event, 'cereso')">

                </select2>
            </div>

        </div>
    </div>
</mat-expansion-panel>
