<mat-expansion-panel [formGroup]="globals.form" expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>room</mat-icon> Datos de Localización
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
    </mat-expansion-panel-header>
    <div formArrayName="localizacionPersona">
        <div *ngFor="let localizacion of (globals.form.controls.localizacionPersona)['controls']; let i=index; trackBy:trackByIndex" [formGroupName]="i" class="container-fluid">
            <div class="row" >
                <div class="col-md-3">
                    <select2 [options]="options.paises"
                        placeholder="País"
                        name="id"
                        [group]="globals.form.controls.localizacionPersona.controls[i].controls.pais" 
                        (valueChange)="changePais($event)">
                    </select2>
                </div>
                <div class="col-md-3" *ngIf="isMexico">
                    <select2 [options]="options.estados"
                        placeholder="Estado"
                        name="id"
                        [group]="globals.form.controls.localizacionPersona.controls[i].controls.estado"
                        (valueChange)="changeEstado($event)">
                    </select2>
                </div>
                <div class="col-md-3" *ngIf="isMexico">
                    <select2 [options]="options.municipios"
                        placeholder="Municipio/Delegación"
                        name="id"
                        [group]="globals.form.controls.localizacionPersona.controls[i].controls.municipio"
                        (valueChange)="changeMunicipio($event)">
                    </select2>
                </div>
                <div class="col-md-3" *ngIf="isMexico">
                    <select2 [options]="options.colonias"
                        placeholder="Colonia/Asentamiento"
                        name="id"
                        [group]="globals.form.controls.localizacionPersona.controls[i].controls.colonia"
                        (valueChange)="changeColonia($event)">
                    </select2>
                </div>
                <div class="col-md-3" *ngIf="isMexico">
                    <select2 [options]="options.localidades"
                        placeholder="Localidad"
                        name="id"
                        [group]="globals.form.controls.localizacionPersona.controls[i].controls.localidad">
                    </select2>
                </div>
                <div class="col-md-3" *ngIf="!isMexico">
                    <text label="Estado"
                        name="estadoOtro"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                            
                    </text>
                </div>

                <div class="col-md-3" *ngIf="!isMexico">
                    <text label="Municipio/Delegación"
                        name="municipioOtro"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                                
                    </text>
                </div>
                <div class="col-md-3" *ngIf="!isMexico">
                    <text label="Colonia/Asentamiento"
                        name="coloniaOtro"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
    
                    </text>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <text label="Localidad"
                        name="localidadOtro"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                    </text>
                </div>
                <div class="col-md-3">
                    <text label="Calle" name="calle" [group]="globals.form.controls.localizacionPersona.controls[i]"></text>
                </div>
                <div class="col-md-3">
                    <text label="No. exterior" name="noExterior" [group]="globals.form.controls.localizacionPersona.controls[i]"></text>
                </div>
                <div class="col-md-3">
                    <text label="No. interior" name="noInterior" [group]="globals.form.controls.localizacionPersona.controls[i]"></text>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <text label="CP"
                        name="cp"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
        
                    </text>
                </div>
                <div class="col-md-3">
                    <select2 placeholder="Tipo de domicilio"
                        [options]="options.tipoDomicilio"
                        name="id"
                        [group]="globals.form.controls.localizacionPersona.controls[i].controls.tipoDomicilio">
                    </select2>
                </div>
                <div class="col-md-6">
                    <text label="Referencias"
                        name="referencias"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">        
                    </text>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <text label="Tel. particular"
                        name="telParticular"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                            
                    </text>
                </div>
                <div class="col-md-3">
                    <text label="Tel. del trabajo"
                        name="telTrabajo"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                            
                    </text>
                </div>
                <div class="col-md-3">
                    <text label="Extensión"
                        name="extension"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                            
                    </text>
                </div>
                <div class="col-md-3">
                    <text label="Tel. móvil"
                        name="telMovil"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                            
                    </text>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <text label="Fax"
                        name="fax"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                            
                    </text>
                </div>
                <div class="col-md-3">
                    <text label="Otro medio de contacto"
                        name="otroMedioContacto"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                            
                    </text>
                </div>
                <div class="col-md-3">
                    <text label="Correo"
                        name="correo"
                        [group]="globals.form.controls.localizacionPersona.controls[i]">
                            
                    </text>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="Naranja">Tipo de residencia</label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <radiobutton [radios]="[
                            {label:'Residencia habitual',value:'Residencia habitual'},
                            {label:'Domicilio procesal',value:'Domicilio procesal'}]"
                            >
                                
                        </radiobutton>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button mat-raised-button color="accent" (click)="addLocalizacion($event)">Agregar localización</button>
        </div>
    </div>
</mat-expansion-panel>