<md-expansion-panel>
    <md-expansion-panel-header>
        <md-panel-title>
            <md-icon>sentiment_neutral</md-icon> Media de filiación
        </md-panel-title>
        <md-panel-description>

        </md-panel-description>
              </md-expansion-panel-header>
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.complexionPielSangre.tipoComplexion" placeholder="Complexión" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.complexionPielSangre.colorPiel" placeholder="Piel" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.caraNariz.formaCara" placeholder="Cara" ></select2>
                </div>
              </div>
              Cabello
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.cabello.cantidad" placeholder="Cantidad"></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.cabello.color" placeholder="Color" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.cabello.forma" placeholder="Forma" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.cabello.calvicie" placeholder="Calvicie" ></select2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.cabello.implantacion" placeholder="Implantación" ></select2>
                </div>
              </div>
              Frente
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.frenteMenton.alturaFrente" placeholder="Altura" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.frenteMenton.inclinacionFrente" placeholder="Inclinación" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.frenteMenton.anchoFrente" placeholder="Ancho" ></select2>
                </div>
              </div>
              Cejas
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.cejaBoca.direccionCeja" placeholder="Dirección" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.cejaBoca.implantacionCeja" placeholder="Implantación" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.cejaBoca.formaCeja" placeholder="Forma" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.cejaBoca.tamanioCeja" placeholder="Tamaño" ></select2>
                </div>
              </div>
              Ojos
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.labioOjo.colorOjo" placeholder="Color" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.labioOjo.formaOjo" placeholder="Forma" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.labioOjo.tamanioOjo" placeholder="Tamaño" ></select2>
                </div>
              </div>
              Nariz
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.caraNariz.raizNariz" placeholder="Raíz(prof)" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.caraNariz.dorsoNariz" placeholder="Dorso" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.caraNariz.anchoNariz" placeholder="Ancho" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.caraNariz.baseNariz" placeholder="Base" ></select2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.caraNariz.alturaNariz" placeholder="Altura"></select2>
                </div>
              </div>
              Boca
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.cejaBoca.tamanioBoca" placeholder="Tamaño" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.cejaBoca.comisurasBoca" placeholder="Comisuras" ></select2>
                </div>
              </div>
              Labios
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.labioOjo.espesorLabio" placeholder="Espesor" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.labioOjo.alturaNasoLabialLabio" placeholder="Altura del naso labial" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.labioOjo.prominenciaLabio" placeholder="Prominencia" ></select2>
                </div>
              </div>
              Mentón
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.frenteMenton.tipoMenton" placeholder="Tipo" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.frenteMenton.formaMenton" placeholder="Forma" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.frenteMenton.inclinacionMenton" placeholder="Inclinación" ></select2>
                </div>
              </div>
              Oreja derecha
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.forma" placeholder="Forma" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.helixOriginal" placeholder="Hélix original" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.helixSuperior" placeholder="Hélix superior" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.helixPosterior" placeholder="Hélix posterior" ></select2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.helixAdherencia" placeholder="Hélix adherencia" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.lobuloContorno" placeholder="Lóbulo contorno" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.lobuloAdherencia" placeholder="Lóbulo adherencia" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.lobuloParticular" placeholder="Lóbulo particular" ></select2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.lobuloDimension" placeholder="Lóbulo dimensión" ></select2>
                </div>
              </div>

              Oreja izquierda
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.forma" placeholder="Forma" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.helixOriginal" placeholder="Hélix original" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.helixSuperior" placeholder="Hélix superior" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.helixPosterior" placeholder="Hélix posterior" ></select2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.helixAdherencia" placeholder="Hélix adherencia" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.lobuloContorno" placeholder="Lóbulo contorno" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.lobuloAdherencia" placeholder="Lóbulo adherencia" ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.lobuloParticularidad" placeholder="Lóbulo particular" ></select2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.oreja.lobuloDimension" placeholder="Lóbulo dimensión" ></select2>
                </div>
              </div>
              Sangre
              <div class="row">
                <div class="col-md-2">
                  <select2 [options]="personaServ.complexionPielSangre.tipoSangre" placeholder="Tipo"  ></select2>
                </div>
                <div class="col-md-2">
                  <select2 [options]="personaServ.complexionPielSangre.factorRhSangre" placeholder="Factor RH" ></select2>
                </div>
              </div>
              Talla
              <div class="row">
                <div class="col-md-2">
                  <text label="Estatura" ></text>
                </div>
                <div class="col-md-2">
                  <text label="Peso" ></text>
                </div>
              </div>
              Señas Particulares
              <div class="row">
                <div class="col-md-2">
                  <checkbox label="Usa anteojos" name="usaAnteojos" [group]="globals.form.controls.mediaFiliacion"></checkbox>
                </div>

              </div>

              <div class="row">
                <div class="col-md-8">
                  <text label="Cicatrices" ></text>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <text label="Tatuajes" ></text>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <text label="Lunares" ></text>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <text label="Prótesis" ></text>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <text label="Otras" ></text>
                </div>
              </div>

</md-expansion-panel>