<div>
    <div class="row justify-content-start">
        <div class="col-md-12">
            <h2>Anexo 9 inventario de objetos y/o bienes asegurados</h2>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <select2 placeholder="Tipo de Objeto" id=""
                [options]="[
                    {label:'Objetos de gran tamaño',value:'Objetos de gran tamaño'}
                ]" name="inventarioTipoObjeto" [group]="form">
            </select2>
        </div>
        <div class="col-md-4">
            <text label="Cantidad" name="inventarioCantidad" [group]="form" placeholder="20"></text>
        </div>
        <div class="col-md-4">
            <text label="Especificación" name="inventarioEspecificacion" [group]="form" placeholder=""></text>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-auto">
            <button class="" mat-raised-button color="accent" (click)="saveTable(form.value)">Agregar</button>
        </div>
    </div>
    <br>
    <div class="row space"></div>
    <div class="row">
        <div class="col-md-12">
                <div class="principal-component">
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef style="text-align:center">Tipo</mat-header-cell>
                    <mat-cell *matCellDef="let element" style="text-align:center"> {{element.tipo}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="cantidad">
                    <mat-header-cell *matHeaderCellDef style="text-align:center">Cantidad</mat-header-cell>
                    <mat-cell *matCellDef="let element" style="text-align:center"> {{element.cantidad}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="especificacion">
                    <mat-header-cell *matHeaderCellDef style="text-align:center">Especificación</mat-header-cell>
                    <mat-cell *matCellDef="let element" style="text-align:center"> {{element.especificacion}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let element" style="text-align:center">
                        <span>
                            <mat-icon class="button-menu mat-icon material-icons" role="img" aria-hidden="true" style="text-align:center" (click)="deleteRow(element.indx)">delete</mat-icon>
                        </span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;"></mat-row>
            </mat-table>
            </div>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row space"></div>
</div>
