<breadcrumb></breadcrumb>
<div class="row space">    
    <div class="col-md-12 text-right">
        <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small>
    </div>
</div>
<div class="row space">
    <div class="col-md-6">
        <h3>Fundamentación</h3>
    </div>
    <div class="col-md-6">
        <button class="float-right" md-raised-button color="accent" (click)="openDialog()">Agregar</button>
    </div>
</div>
<div class="row justify-content-center space">
    <div class="col-md-10">
        <md-card>
            <div style="height: 300px; overflow: scroll;">
                <p *ngFor="let delito of listaDelitos">
                    {{delito.nombre}}
                </p>
            </div>
        </md-card>
    </div>
</div>

<!-- <div class="row space">
    <div class="col-md-6">
        <md-slide-toggle>Captura manual</md-slide-toggle>
    </div>
</div> -->
<div class="row">
    <div class="col-md-6">
        <!-- <text label="Nombre"></text> -->
    </div>
    <div class="col-md-6">
        <div class="row justify-content-end">
            <div class="col-md-auto">
                <button class="float-right" md-raised-button  color="accent" _saving (saveFn)="guardar()" >Guardar</button>
            </div>
            <div class="col-md-auto">
                <button class="float-right" md-button routerLink="/caso/{{casoId}}/noticia-hecho">Cancelar</button>
            </div>
        </div>
    </div>
</div>




