<md-dialog-content>
    <div class="content-dialog-lg">
        <div class="">
            <div class="row breadcrumd">
                <div class="col">
                    <text label="Buscar delitos" [functionChange]="setDelito.bind(this)"></text>
                </div>
                <div class="col-sm-auto">
                    <button md-fab color="accent" (click)="buscar()">
                        <md-icon >search</md-icon>
                    </button>
                </div>
            </div>
        </div>
        {{textSearch}}
        <div class="row space">
            <div class="col-md-6" >
                <div class="cuadro" style="height: 300px; overflow: scroll; ">
                 <md-table #table [dataSource]="dataSource">

                    <ng-container mdColumnDef="resultado">
                      <md-header-cell *mdHeaderCellDef> Resultados </md-header-cell>
                      <md-cell *mdCellDef="let element"> 
                        <div>
                            {{element.nombre}} 
                        </div>
                        <div class="float-right">
                            <button md-icon-button (click)="agregar(element)">
                                <md-icon >add</md-icon>
                            </button>
                        </div>
                       
                  </md-cell>
                    </ng-container>

                    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
                    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>

                </md-table>   
                </div>    
            </div>
            <div class="col-md-6" >
                <div class="cuadro" style="height: 300px; overflow: scroll; ">
                <md-table #table [dataSource]="dataSourceaddList">

                    <ng-container mdColumnDef="resultado">
                      <md-header-cell *mdHeaderCellDef> Fundamentación </md-header-cell>
                      <md-cell *mdCellDef="let element"> 
                        <div>
                            {{element.nombre}} 
                        </div>
                  </md-cell>
                    </ng-container>

                    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
                    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>

                </md-table>
                </div>
            </div>
        </div>
    </div>
</md-dialog-content>
<md-dialog-actions class="d-flex justify-content-end">
    
        <button md-raised-button color="accent" (click)="guardar()" [disabled]="listaDeSeleccionados.length==0" >Agregar delito</button>
    
        <button md-button (click)="cerrar();" >Cerrar</button>

</md-dialog-actions>