<mat-dialog-content>
    <div class="content-dialog-lg">
        <div class="">
            <div class="row breadcrumd">
                <div class="col">
                    <text label="Buscar fundamentación" [functionChange]="setDelito.bind(this)"></text>
                </div>
                <div class="col-sm-auto">
                    <button mat-fab color="accent" (click)="buscar()">
                        <mat-icon >search</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        {{textSearch}}
        <div class="row space">
            <div class="col-md-6" >
                <div class="cuadro" style="height: 300px; overflow: scroll; ">
                 <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="resultado">
                      <mat-header-cell *matHeaderCellDef> Resultados </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <div>
                            {{element.nombre}} 
                        </div>
                        <div class="float-right">
                            <button mat-icon-button (click)="agregar(element)">
                                <mat-icon >add</mat-icon>
                            </button>
                        </div>
                       
                  </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>   
                </div>    
            </div>
            <div class="col-md-6" >
                <div class="cuadro" style="height: 300px; overflow: scroll; ">
                <mat-table #table [dataSource]="dataSourceaddList">

                    <ng-container matColumnDef="resultado">
                      <mat-header-cell *matHeaderCellDef> Fundamentación </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <div>
                            {{element.nombre}} 
                        </div>
                  </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
    
        <button mat-raised-button color="accent" (click)="guardar()" [disabled]="listaDeSeleccionados.length==0" >Agregar delito</button>
    
        <button mat-button (click)="cerrar();" >Cerrar</button>

</mat-dialog-actions>