<div class="container">
	<div class="row">
		<h1>Anexo 5 inventario de pertenencias del detenido</h1>
	</div>
	<div class="row">
		<div class="col-md-3">
            <select2 placeholder="Detenido" id=""
            [options]="[
                {label:'Saul Roman',value:'Saul Roman'},
                {label:'Diego Lopez',value:'Diego Lopez'}
            ]">
                
            </select2>
        </div>
        <div class="col-md-4">
            <text label="Descripción del objeto" name="" ></text>
        </div>
        <div class="col-md-4">
            <text label="Cantidad" name="" ></text>
        </div>
	</div>
</div>