<div class="row space">
    <div class="col-md-6">
        <h3>Delitos</h3>
    </div>
    <div class="col-md-6">
        <button class="float-right" mat-raised-button routerLink="/caso/{{id}}/delito/create" color="accent">Agregar delito</button>
    </div>
</div>
<mat-paginator #paginator 
[length]="pag" 
[pageIndex]="0" 
[pageSize]="10" 
[pageSizeOptions]="[5, 10, 25, 100]"
(page)="changePage($event)">    
</mat-paginator>
<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.delito.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="principal">
        <mat-header-cell *matHeaderCellDef> Principal </mat-header-cell>
        <mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon *ngIf="element.principal==true" style="color: gold;" (click)="swap(element)">star</mat-icon>
            <mat-icon  *ngIf="element.principal==false" style="color: gold;" (click)="swap(element)" >star_border</mat-icon>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="_columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: _columns;"></mat-row>
</mat-table>
