<breadcrumb></breadcrumb>   
<div class="row justify-content-md-center">
    <div class="col-md-10">
        <div class="row space">
            <div class="col-sm-6">
                <h2>Mis casos</h2>
            </div>
            <div class="col-sm-6">
                <button class="float-right" mat-raised-button color="accent" routerLink="/noticia-hecho/datos-generales">Nuevo caso</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <search></search>
            </div>
        </div>
        <mat-list *ngIf="dataSource != null">
            <mat-list-item *ngFor="let caso of dataSource.data">
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 matLine>{{caso.nombre()}}</h4>
                <h4 class="text-muted" matLine md-subheade>{{caso.titulo}}</h4>
                <h4 class="text-muted" matLine md-subheade>{{caso.sintesis}}</h4>
                <p matLine>{{caso.fecha()}}</p>
                <button mat-icon-button [matMenuTriggerFor]="menuCaso">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menuCaso="matMenu">
                    <button mat-menu-item routerLink="/caso/{{caso.id}}/detalle" (click)="guardarCaso(caso)">
                        <mat-icon fxHide="false" fxHide.gt-sm>remove_red_eye</mat-icon>Ver
                    </button>
                </mat-menu>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
        <mat-paginator #paginator
            [length]="pag"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="changePage($event)">
        </mat-paginator>
    </div>
</div>
