<div class="row">
    <div class="col-md-12">
        <form [formGroup]="form">
            <select2 [options]="
                [
                     {label:'Periciales',value:'Periciales'}, 
                     {label:'Psicofísico',value:'Psicofísico'}
                ]" placeholder="Tipo de solicitud" (valueChange)="tipoChange($event)" [group]="form">
            </select2>
            <div *ngIf="tipo==='Periciales'">
                <h4>Narración de los hechos denunciados</h4>
                <text-area label="Hechos narrados (hechos denunciados)" name="hechosNarrados" [(value)]="model.hechosNarrados"></text-area>
                <text-area label="Hechos narrados que se denuncian"></text-area>
                <h4>Oficio solicitud de servicios periciales</h4>
                <text label="Número de oficio" name="numeroOficio" [(value)]="model.numeroOficio" [group]="form"></text>
                <text label="Nombre del director de del instituto de servicios periciales" name="nombreDirector" [(value)]="model.nombreDirector"
                    [group]="form"></text>
                <text label="Se solicita al pertio en materia de" name="solicitaPerito" [(value)]="model.solicitaPerito" [group]="form"></text>
                <text label="Finalidad del requerimiento" name="finalidadRequerimiento" [(value)]="model.finalidadRequerimiento" [group]="form"></text>
                <text label="Plazo en días para cumplir el informe" name="plazoDias" [(value)]="model.plazoDias" [group]="form"></text>
                <text label="Apercibimiento o medidas de apremio" name="apercibimiento" [(value)]="model.apercibimiento" [group]="form"></text>
                <text-area label="Observaciones/incidencias" name="observaciones" [(value)]="model.observaciones"></text-area>
            </div>
            <div *ngIf="tipo==='Psicofísico'">
                <h4>Éxamen psicofísico</h4>
                <text label="Número de oficio"></text>
                <text label="Nombre del médico legista"></text>
                <text label="A quien se realizará el éxamen"></text>
                <select2 placeholder="Se solicita éxamen"></select2>
                <text-area label="Apercibimiento o medidas de apremio"></text-area>
                <text-area label="Observaciones/incidencias"></text-area>
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-auto" [mdTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
                    <button md-raised-button color="accent" _saving (saveFn)="edit(form.valid, form.value)" [disabled]="!form.valid" *ngIf="id != null">Editar</button>
                    <button md-raised-button color="accent" _saving (saveFn)="save(form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button class="float-right" md-button routerLink="/caso/{{casoId}}/inspeccion">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>