<div class="row">
    <div class="col-md-12">
        <form [formGroup]="form">
            <select2 [options]="
                [
                     {label:'Periciales',value:'Periciales'}, 
                     {label:'Psicofísico',value:'Psicofísico'}
                ]" placeholder="Tipo de solicitud" (valueChange)="tipoChange($event)" [group]="form"
                name="tipo">
            </select2>
            <div *ngIf="isPericiales">
                <h4>Narración de los hechos denunciados</h4>
                <text-area label="Hechos narrados que se denuncian" name="hechosNarrados" [group]="form"></text-area>
                <h4>Oficio solicitud de servicios periciales</h4>
                <text label="Número de oficio" name="noOficio" [group]="form"></text>
                <text label="Nombre del director del instituto de servicios periciales" name="directorInstituto" [group]="form"></text>
                <select2 placeholder="Se solicita al pertio en materia de" [options]="options.peritoMateria" name="id" [group]="form.controls.peritoMateria"></select2>
                <text label="Finalidad del requerimiento" name="finalidad" [group]="form"></text>
                <text label="Plazo en días para cumplir el informe" name="plazoDias" [group]="form"></text>
                <text label="Apercibimiento o medidas de apremio" name="apercibimiento" [group]="form"></text>
                <text-area label="Observaciones/incidencias" name="observaciones" [group]="form"></text-area>
            </div>
            <div *ngIf="isPsicofisico">
                <h4>Éxamen psicofísico</h4>
                <text label="Número de oficio" name="noOficio" [group]="form"></text>
                <text label="Nombre del médico legista" name="medicoLegista" [group]="form"></text>
                <text label="A quien se realizará el éxamen" name="realizadoA" [group]="form"></text>
                <select2 placeholder="Se solicita éxamen" [options]="options.tipoExamen" name="id" [group]="form.controls.tipoExamen"></select2>
                <text-area label="Apercibimiento o medidas de apremio" name="apercibimiento" [group]="form"></text-area>
                <text-area label="Observaciones/incidencias" name="observaciones" [group]="form"></text-area>
            </div> 

            <div class="row justify-content-end">
                <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
                    <button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id != null">Editar</button>
                    <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button class="float-right" mat-button routerLink="/caso/{{casoId}}/perito">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>