<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<div class="row space">    
    <div class="col-md-12 text-right">
        <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small>
    </div>
</div>
<div class="row space">
    <div class="col-md-6">
        <h2>Noticia de Hechos</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" *ngIf="id == null"  mat-raised-button routerLink="/" color="accent">Regresar</button>
        <button class="float-right"  *ngIf="id != null" mat-raised-button routerLink="{{returnRoute}}" color="accent">Regresar</button>
    </div>
</div>
<div class="mdl-tabs vertical-mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="row">
        <div class="col-md-3 col-sm-2">
            <div class="mdl-tabs__tab-bar">
                <a href="#tab1-panel" class="mdl-tabs__tab is-active">
                    <mat-icon class="d-inline">class</mat-icon>
                    <label class="d-xs-none d-sm-none d-md-inline">Datos generales</label>
                </a>
                <div [class]="hasId() ? '' : 'hidden' ">
                    <a href="#tab2-panel" class="mdl-tabs__tab disabled" [routerLink]="['persona']">
                        <mat-icon>assignment_ind</mat-icon>
                        <label class="d-xs-none d-sm-none d-md-inline">Personas</label>
                    </a>
                    <a href="#tab3-panel" class="mdl-tabs__tab">
                        <mat-icon>gavel</mat-icon>
                        <label class="d-xs-none d-sm-none d-md-inline">Delitos</label>
                    </a>
                    <a href="#tab4-panel" class="mdl-tabs__tab">
                        <mat-icon>room</mat-icon>
                        <label class="d-xs-none d-sm-none d-md-inline">Lugares</label>
                    </a>
                    <a href="#tab5-panel" class="mdl-tabs__tab">
                        <mat-icon svgIcon="arma" class="arma-icon"></mat-icon>
                        <label class="d-xs-none d-sm-none d-md-inline">Armas</label>
                    </a>
                    <a href="#tab6-panel" class="mdl-tabs__tab">
                        <mat-icon>directions_car</mat-icon>
                        <label class="d-xs-none d-sm-none d-md-inline">Vehículos</label>
                    </a>
                    <a href="#tab7-panel" class="mdl-tabs__tab">
                        <mat-icon>compare_arrows</mat-icon>
                        <label class="d-xs-none d-sm-none d-md-inline">Relaciones</label>
                    </a>
                    <a href="#tab8-panel" class="mdl-tabs__tab">
                        <mat-icon>description</mat-icon>
                        <label class="d-xs-none d-sm-none d-md-inline">Titulares</label>
                    </a>
                    <a href="#tab9-panel" class="mdl-tabs__tab">
                        <mat-icon>insert_drive_file</mat-icon>
                        <label class="d-xs-none d-sm-none d-md-inline">Documentos</label>
                    </a>
                </div>
            </div>
        </div>
       <div class="col-md-9 col-sm-10">
            <div class="mdl-tabs__panel is-active" id="tab1-panel">
                 <!-- <datos-generales></datos-generales> -->
                 <router-outlet></router-outlet>
            </div>
            <div [class]="hasId() ? '' : 'hidden' ">
                <div class="mdl-tabs__panel" id="tab2-panel">
                     <!-- <persona></persona> -->
                     <!-- <router-outlet name='noticia-hecho'></router-outlet> -->
                </div>
                <div class="mdl-tabs__panel" id="tab3-panel">
                      <delito></delito>
                </div>
                <div class="mdl-tabs__panel" id="tab4-panel">
                     <lugar></lugar>
                </div>
                <div class="mdl-tabs__panel" id="tab5-panel">
                     <arma></arma>
                </div>
                <div class="mdl-tabs__panel" id="tab6-panel">
                      <vehiculo></vehiculo>
                </div>
                <div class="mdl-tabs__panel" id="tab7-panel">
                     <relacion></relacion>
                </div>
                <div class="mdl-tabs__panel" id="tab8-panel">
                     <titular></titular>
                </div>
                <div class="mdl-tabs__panel" id="tab9-panel">
                    <documento></documento>
               </div>
            </div>
        </div>
    </div>
</div>