<div class="row">
	<div class="col-md-12">
		<h3>Datos Generales</h3>
	</div>
	<div class="col-md-12">
		<form [formGroup]="form">
			<text label="Título del caso" 		name="titulo" 	hintStart="Campo obligatorio" [group]="form"></text>
			<text label="Sintesís del caso"     name="sintesis" hintStart="Campo obligatorio" [group]="form"></text>
			<div class="row align-items-center justify-content-between">
				<div class="col-sm-auto">
					<label class="mb-0">Delito principal</label>
				</div>
				<div class="col-sm-auto">
					<button md-raised-button color="accent" (click)="openDialog()" [disabled]="hasId() ? true : false">Agregar delito</button>
				</div>
			</div>
			<text name="delito" hintStart="Campo obligatorio" [group]="form" readonly="true"></text>
			<div class="row justify-content-end">
				<div class="col-sm-auto" [mdTooltip]="!form.valid ? 'No se han llenado los campos requeridos' : ''" (mouseenter)="validateForm(form)">
					<button md-raised-button color="accent" _saving (saveFn)="edit(form.valid, form.value)" [disabled]="!form.valid || [saving]" *ngIf="hasId()">Editar</button>	
					<button md-raised-button color="accent" _saving (saveFn)="save(form.valid, form.value)" [disabled]="!form.valid || [saving]" *ngIf="!hasId()">Guardar</button>
				</div>
				<div class="col-sm-auto">
					<button md-button routerLink="/">Cancelar</button>
				</div>
			</div>
		</form>
	</div>
</div>
