<div class="row">
	<div class="col-md-12">
		<h3>Datos Generales</h3>
	</div>
	<div class="col-md-12">
		<form [formGroup]="form">
			<text label="Título del caso" name="titulo" [group]="form" [max]="150"></text>
			<text-area label="Síntesis del caso" name="descripcion" [group]="form"></text-area>
			<div class="row align-items-center justify-content-between">
				<div class="col-sm-auto">
					<label class="mb-0">Delito principal</label>
				</div>
				<div class="col-sm-auto">
					<button mat-raised-button color="accent" *ngIf="!hasId() && isTitular" (click)="openDialog()" [disabled]="hasId() ? true : false">Agregar delitos</button>
				</div>
			</div>
			<text-area  name="delito"  class="delito-principal-input" hintStart="Campo obligatorio" [rows]="4" [readonly]="true" [group]="form"> </text-area>


      <div class="row justify-content-end">
				<div class="col-sm-auto" [matTooltip]="!form.valid ? 'No se han llenado los campos requeridos' : ''" (mouseenter)="validateForm(form)">
					<button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [isEdit]="true" [disabled]="!form.valid || [saving] || masDe3Dias==true" *ngIf="hasId()">Guardar</button>
					<button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid || [saving] || masDe3Dias==true" *ngIf="!hasId() && isTitular">Guardar</button>
				</div>
				<div class="col-sm-auto">
					<button mat-button routerLink="/">Cancelar</button>
				</div>				
			</div>
			<div class="row justify-content-end space">
				<div class="col-sm-auto" *ngIf="!onLine.onLine && masDe3Dias==true">
					Más de tres dias sin conexión, favor de conectarse a internet
				</div>
			</div>
		</form>
	</div>
</div>
