
<div class="row space">
    <div class="col-md-8">
        <h2 class="centrar">DASHBOARD DE SINCRONIZACION</h2>
    </div>
</div>

<div class="row space">
    <div class="col-md-4">
        <mat-card>
            <mat-card-content>
                <h2 class="centrar">Cantidad de peticiones</h2>

                <h1 class="centrar"> {{datos.total.length}}</h1>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4" *ngIf="datos.total.length != 0">
            <mat-card>
                    <mat-card-content>
                      <h2 class="centrar">Cantidad de pendientes: {{ datos.pendientes.length }}</h2>
                  
                      <section class="example-section">
                            <mat-progress-bar
                                class="example-margin"
                                [color]="primary"
                                [mode]="determinate"
                                [value]="datos.pendientes.length / datos.total.length * 100">
                            </mat-progress-bar>
                          </section>
            
                        <h2 class="centrar"> {{ (datos.pendientes.length / datos.total.length * 100).toFixed(2)}}%</h2>
                      
                    </mat-card-content>
                  </mat-card>
        </div>
</div>



<div class="row space">
    <div class="col-md-8">
        <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Errores
                    </mat-panel-title>
                    <mat-panel-description>
                      Detalle de las peticiones sin sincronizar
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  
                  <mat-table #table [dataSource]="dataSource">
              
                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                    
                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="descripcion">
                          <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
                          <mat-cell *matCellDef="let element">  
                                  <span class="negrita">número de intentos:</span> {{element.numItentos}} <br>
                                  <span class="negrita">tipo:</span> {{element.tipo}} <br>
                                  <span class="negrita">url:</span> {{element.url}} <br>
                                  <span class="negrita">usuario:</span> {{element.username}} <br>
                                  <span class="negrita">body: {{jsonToString(element.body)}}</span>
                          </mat-cell>
                        </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                  
                </mat-expansion-panel>
              </mat-accordion>
        
                
    </div>
</div>


<div class="row space">
        <div class="col-md-4">
            <mat-card>
                <mat-card-content>
                    <h2 class="centrar">Cantidad de catálogos</h2>
    
                    <h1 class="centrar"> {{datos.catalogos.length}}</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


    <div class="row space">
            <div class="col-md-8">
                <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Cátalogos
                            </mat-panel-title>
                            <mat-panel-description>
                              Detalle de los catálogos
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          
                          <mat-table #table [dataSource]="dataSourceCatalogos">
                      
                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->
                            
                                <!-- Position Column -->
                                <ng-container matColumnDef="nombre">
                                  <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                                </ng-container>
                            
                                <!-- Name Column -->
                                <ng-container matColumnDef="descripcion">
                                  <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
                                  <mat-cell *matCellDef="let element">  
                                          
                                  </mat-cell>
                                </ng-container>
                            
                                <mat-header-row *matHeaderRowDef="displayedColumnsCatalogos"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsCatalogos;"></mat-row>
                              </mat-table>
                          
                        </mat-expansion-panel>
                      </mat-accordion>
                
                        
            </div>
        </div>