<breadcrumb></breadcrumb>
<div class="content-body">
    <div class="row">
        <div class="col-md-10">
            <h2 *ngIf="tipo">Agregar Tipo de Arma</h2>
            <h2 *ngIf="calibre">Agregar Calibre</h2>
            <h2 *ngIf="mecanismo">Agregar Mecanismo</h2>
        </div>
        <div class="col-md-2">
            <button class="float-right" md-raised-button (click)="return()" color="accent">Regresar</button>
        </div>
    </div>
    <div class="content">
        <form (ngSubmit)="save(form.valid, form.value)" [formGroup]="form">
            <div class="row" *ngIf="tipo">
                <div class="col-md-6">
                    <text label="Nombre del arma" ([value])="model.nombreArma" name="nombreArma" [group]="form"></text>
                </div>
            </div>

            <div class="row" *ngIf="calibre">
                <div class="col-md-6">
                    <text label="Calibre del arma" ([value])="model.calibre" name="calibre" [group]="form"></text>
                </div>
            </div>

            <div class="row" *ngIf="mecanismo">
                <div class="col-md-6">
                    <text label="Mecanismo de acción" ([value])="model.mecanismoAccion" name="mecanismoAccion" [group]="form"></text>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <div class="p-2">
                    <button md-raised-button color="accent" _saving (saveFn)="save(form.valid, form.value)" [disabled]="!form.valid || [saving]">Guardar</button>
                </div>
                <div class="p-2">
                    <button md-button>Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>