<div *ngIf="name==''" >
	<mat-form-field class="full-width">
		<mat-select placeholder="{{placeholder}}" [(ngModel)]="value" (ngModelChange)="update($event)" class="full-width" >
		  <mat-option *ngFor="let option of options" [value]="option.value">
		    {{ option.label }}
		  </mat-option>
		</mat-select>
	</mat-form-field>
</div>

<div [formGroup]="group"  *ngIf="name!=''">
	<mat-form-field class="full-width">
		<mat-select placeholder="{{placeholder}}" [(ngModel)]="value" (ngModelChange)="update($event)" class="full-width" formControlName="{{name}}">
		  <mat-option *ngFor="let option of options" [value]="option.value">
		    {{ option.label }}
		  </mat-option>
		</mat-select>
		 <mat-hint align="end">{{startHint}}</mat-hint>
	</mat-form-field>
</div>

