
<div class="row space">
    <div class="col-md-12">
        <caso-herencia [casoId]="casoId" [people]="personas" [heredarFunction]="heredarDatos.bind(this)"[form]="form" (heredarSintesisChange)="heredarFlag($event)" [precarga]="precarga"></caso-herencia>
      </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Determinación de no ejercicio de la acción penal</h4>

        <div class="row">
            <div class="col-md-12">
                <text-area label="Narración de los hechos" name="narracionHechos" [group]="form" [focus]="true"></text-area>
            </div>
            <div class="col-md-12">
                <text-area label="Datos de prueba" name="datosPrueba" [group]="form"></text-area>
            </div>
            <div class="col-md-4">
                <date-picker label="Fecha del hecho delictivo" name="fechaHechoDelictivo" [group]="form"></date-picker>
            </div>
            <div  class="col-md-12">
                <text-area label="Artículo del CPEM que sanciona y prevé el delito" name="articuloCpem"  [group]="form"></text-area>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <text-area label="Referir, fundar y motivar la actualización de la hipótesis del artículo 327 del CNPP" name="hipotesisCnpp" [group]="form"></text-area>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <text-area label="Fracción que corresponda del artículo 327" name="fraccionArticulo"  [group]="form"></text-area>
            </div>
            <div class="col-md-3">
                <select2 placeholder="Hipótesis de sobreseímiento que se actualiza" [options]="
                [{label:'I. El hecho no se cometió',value:'I. El hecho no se cometió'},
                {label:'II. El hecho cometido no contituye delito',value:'II. El hecho cometido no contituye delito'},
                {label:'III. Apareciera claramente establecida la inocencia del imputado',value:'III. Apareciera claramente establecida la inocencia del imputado'},
                {label:'IV. El imputado esté excento de responsabilidad penal',value:'IV. El imputado esté excento de responsabilidad penal'},
                {label:'V. Agotada la investigación, el ministerio público estime que no cuenta con los elementos suficientes para fundar una acusación',value:'V. Agotada la investigación, el ministerio público estime que no cuenta con los elementos suficientes para fundar una acusación'},
                {label:'VI. Se hubiere extinguido la acción penal por alguno de los motivos establecidos por la ley',value:'VI. Se hubiere extinguido la acción penal por alguno de los motivos establecidos por la ley'},
                {label:'VII. Una ley o reforma posterior derogue el delito por el que se sigue proceso',value:'VII. Una ley o reforma posterior derogue el delito por el que se sigue proceso'},
                {label:'VIII. El hecho de que se trata haya sido materia de un proceso penal en el que se hubiera dictado sentencia firme respecto del imputado',value:'VIII. El hecho de que se trata haya sido materia de un proceso penal en el que se hubiera dictado sentencia firme respecto del imputado'},
                {label:'IX. Por muerte del imputado',value:'IX. Por muerte del imputado'}]" name="hipotesisSobreseimiento" [(value)]="model.hipotesisSobreseimiento" [group]="form"></select2>

            </div>
            <div  class="col-md-12">
                <text-area label="Nombre del fiscal de justicia del Estado de México" name="nombreProcurador" [group]="form"></text-area>
            </div>
        </div>
    </div>
</div>
<br>
<h4>Determina incompetencia</h4>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <select2 placeholder="Los hechos son del ámbito de" [options]="
                [{label:'Competencia',value:'competencia'},
                {label:'Jurisdicción',value:'jurisdicción'}]" name="ambitoHechos" [(value)]="model.ambitoHechos" [group]="form"></select2>
            </div>
            <div  class="col-md-12">
                <text-area label="Nombre de la autoridad competente" name="autoridadCompetente" [group]="form"></text-area>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <text-area label="Causa de la incompetencia" name="causaIncompetencia" [group]="form"></text-area>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text-area label="Cargo, turno y adscripción de la autoridad competente" name="cargoAutoridadCompetente" [group]="form"></text-area>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text-area label="Observaciones/Incidencias" name="observaciones" [group]="form"></text-area>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end" >
    <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
       <!-- <button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id != null">Guardar</button> -->
       <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
    </div>
    <div class="col-sm-auto">
       <button class="float-right" mat-button routerLink="/caso/{{casoId}}/no-ejercicio-accion-penal">Cancelar</button>
    </div>
</div>
