<h4>Determinación de no ejercicio de la acción penal</h4>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <text label="Narración de los hechos" name="narracionHechos" [(value)]="model.narracionHechos" [group]="form"></text>
            </div>
            <div class="col-md-3">
                <text label="Datos de prueba" name="datosPrueba" [(value)]="model.datosPrueba" [group]="form"></text>
            </div>
            <div class="col-md-3">
                <date label="Fecha del hecho delictivo" name="fechaHechoDelictivo" [(value)]="model.fechaHechoDelictivo" [group]="form"></date>
            </div>
            <div class="col-md-3">
                <text label="Artículo del CPEM que sanciona y prevé el delito" name="articuloCpem" [(value)]="model.articuloCpem" [group]="form"></text>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <text label="Referir, fundar y motivar la actualización de la hipótesis del artículo 327 del CNPP" name="hipotesisCnpp" [(value)]="model.hipotesisCnpp" [group]="form"></text>
            </div>
            <div class="col-md-3">
                <text label="Fracción que corresponda del artículo 327" name="fraccionArticulo" [(value)]="model.fraccionArticulo" [group]="form"></text>
            </div>
            <div class="col-md-3">
                <select2 placeholder="Hipótesis de sobreseímiento que se actualiza" [options]="
                [{label:'I. El hecho no se cometió',value:'I'},
                {label:'II. El hecho cometido no contituye delito',value:'II'},
                {label:'III. Apareciera claramente establecida la inocencia del imputado',value:'III'},
                {label:'IV. El imputado este exento de responsabilidad penal',value:'IV'},
                {label:'V. Agotada la investigación, el ministerio público estime que no cuenta con los elementos suficientes para fundar una acusación',value:'V'},
                {label:'VI. Se hubiere extinguido la acción penal por alguno de los motivos establecidos por la ley',value:'VI'},
                {label:'VII. Una ley o reforma posterior derogue el delito por el que se sigue proceso',value:'VII'},
                {label:'VIII. El hecho de que se trata haya sido materia de un proceso penal en el que se hubiera dictado sentencia firme respecto del imputado',value:'VIII'},
                {label:'IX. Por muestre del imputado',value:'IX'}]" name="hipotesisSobreseimiento" [(value)]="model.hipotesisSobreseimiento" [group]="form"></select2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <text label="Nombre del fiscal de justicia del Estado de México" name="nombreProcurador" [(value)]="model.nombreProcurador" [group]="form"></text>
            </div>
        </div>
    </div>
</div>
<br>
<h4>Determina incompetencia</h4>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <select2 placeholder="Los hechos son del ámbito de" [options]="
                [{label:'Competencia',value:'competencia'},
                {label:'Jurisdicción',value:'jurisdicción'}]" name="ambitoHechos" [(value)]="model.ambitoHechos" [group]="form"></select2>
            </div>
            <div class="col-md-4">
                <text label="Nombre de la autoridad competente" name="autoridadCompetente" [(value)]="model.autoridadCompetente" [group]="form"></text>
            </div>
            <div class="col-md-4">
                <text label="Causa de la incompetencia" name="causaIncompetencia" [(value)]="model.causaIncompetencia" [group]="form"></text>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text-area label="Cargo, turno y adscripción de la autoridad competente" name="cargoAutoridadCompetente" [(value)]="model.cargoAutoridadCompetente" [group]="form"></text-area>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text-area label="Observaciones/Incidencias" name="observaciones" [(value)]="model.observaciones" [group]="form"></text-area>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end" >
    <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
       <!-- <button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id != null">Editar</button> -->    
       <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
    </div>
    <div class="col-sm-auto">
       <button class="float-right" mat-button routerLink="/caso/{{casoId}}/no-ejercicio-accion-penal">Cancelar</button> 
    </div>
</div>