<h4>Determinación de no ejercicio de la acción penal</h4>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <text label="Naracción de los hechos"></text>
            </div>
            <div class="col-md-3">
                <text label="Datos de prueba"></text>
            </div>
            <div class="col-md-3">
                <date label="Fecha del hecho delictivo"></date>
            </div>
            <div class="col-md-3">
                <text label="Artículo del CPEM que sanciona y prevé el delito"></text>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <text label="Referir, fundar y motivar la actualización de la hipótesis del artículo 327 del CNPP"></text>
            </div>
            <div class="col-md-3">
                <text label="Fracción que corresponda del artículo 327"></text>
            </div>
            <div class="col-md-3">
                <text label="Hipótesis de sobreseímientoue se actualiza"></text>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <text label="Nombre del procurador de justicia del estado de México"></text>
            </div>
        </div>
    </div>
</div>
<br>
<h4>Determina incompetencia</h4>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <select2 placeholder="Los hechos son del ámbito de"></select2>
            </div>
            <div class="col-md-4">
                <text label="Nombre de la autoridad competente"></text>
            </div>
            <div class="col-md-4">
                <text label="Causa de la incompetencia"></text>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text-area label="Cargo, turno y adscripción de la autoridad competente"></text-area>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text-area label="Observaciones/Incidencias"></text-area>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">
        <div class="p-2">
            <button md-raised-button color="accent">Guardar</button>
        </div>
        <div class="p-2">
            <button md-button routerLink="/archivo-temporal">Cancelar</button>
        </div>
    </div>