<div class="row space">
    <div class="col-md-6">
        <h3>Lugares</h3>
    </div>
    <div class="col-md-6">
        <button class="float-right" md-raised-button routerLink="/caso/{{casoId}}/lugares/create" color="accent">Agregar lugar</button>
    </div>
</div>
<md-paginator #paginator [length]="pag" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" >
</md-paginator>
<md-table #table [dataSource]="dataSource">

    <ng-container mdColumnDef="tipo">
        <md-header-cell *mdHeaderCellDef> Tipo </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.tipo}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="calle">
        <md-header-cell *mdHeaderCellDef> Calle </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.calle}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="colonia">
        <md-header-cell *mdHeaderCellDef> Colonia </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.coloniaOtro || element.colonia?.nombre}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="localidad">
        <md-header-cell *mdHeaderCellDef> Localidad </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.municipioOtro || element.municipio?.nombre}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="estado">
        <md-header-cell *mdHeaderCellDef> Estado </md-header-cell>
        <md-cell  *mdCellDef="let element"> {{element.estadoOtro || element.estado?.nombre}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;" routerLink="/caso/{{casoId}}/lugares/{{row.id}}"></md-row>
</md-table>

