<div class="row space">
    <div class="col-md-6">
        <h3>Lugares</h3>
    </div>
    <div class="col-md-6">
        <button class="float-right" mat-raised-button routerLink="/caso/{{casoId}}/lugares/create" color="accent">Agregar lugar</button>
    </div>
</div>
<mat-paginator #paginator [length]="pag" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)" >
</mat-paginator>
<mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.detalleLugar?.tipoLugar || "No tiene"}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calle">
        <mat-header-cell *matHeaderCellDef> Calle </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.calle}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="colonia">
        <mat-header-cell *matHeaderCellDef> Colonia </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{(element.pais && element.pais.id == IdMexico) ? element.colonia?.nombre : element?.coloniaOtro }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="localidad">
        <mat-header-cell *matHeaderCellDef> Localidad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{(element.pais && element.pais.id == IdMexico) ? element.municipio?.nombre : element?.municipioOtro }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{(element.pais && element.pais.id == IdMexico) ? element.estado?.nombre : element?.estadoOtro }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/caso/{{casoId}}/lugares/{{row.id}}"></mat-row>
</mat-table>

<!-- .data["0"].pais.id -->

<!-- {{(element.pais.id == 143)?element.coloniaOtro : element.colonia?.nombre}} -->