<form>
    <h4>Aceptación de remisión de UMASC</h4>
    <text label="Nombre de la persona que acepta asistir a la unidad de medios alternativos" name="nombrePersonaAcepta" [(value)]="model.nombrePersonaAcepta" [group]="form"></text>
    <h4>Acuerdo de inicio</h4>
    <select2 [options]="[{label:'Sí',value:'Sí'},{label:'No',value:'No'}]" placeholder="resentó o recibió llamada" [group]="form" name="presentoLlamada" ></select2>
    <text label="Manifestó" name="manifesto" [(value)]="model.manifesto" [group]="form"></text>
    <text label="Síntesis de los hechos" name="sintesisHechos" [(value)]="model.sintesisHechos" [group]="form"></text>
    <text-area label="Observaciones/incidencias" name="observaciones" [(value)]="model.observaciones" [group]="form"></text-area>
    <div class="row space"></div>
    <div class="row justify-content-end">
        <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
            <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="!hasAcuerdoInicio">Guardar</button>
        </div>
        <div class="col-sm-auto">
            <button class="float-right" mat-button routerLink="/caso/{{casoId}}/detalle">Cancelar</button>
        </div>
    </div>
</form>