<form>
    <h4>Aceptación de remisión a Justicia Restaurativa (JR)</h4>
    <text label="Nombre de la persona que acepta asistir a Justicia Restaurativa" name="nombrePersonaAcepta" [max]="150" [group]="form"></text>
    <h4>Acuerdo de inicio</h4>
    <select2 [options]="options.presentoLlamada" placeholder="Presentó o recibió llamada" [group]="form.controls.presentoLlamada" name="id" ></select2>
    <text-area label="Manifestó" name="manifesto"  [group]="form"></text-area>
    <text-area label="Síntesis de los hechos" name="sintesisHechos" [group]="form"></text-area>
    <text-area label="Observaciones/incidencias" name="observaciones" [group]="form"></text-area>
    <div class="row space"></div>
    <div class="row justify-content-end">
        <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
            <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="!hasAcuerdoInicio">Guardar</button>
        </div>
        <div class="col-sm-auto">
            <button class="float-right" mat-button routerLink="/caso/{{casoId}}/detalle">Cancelar</button>
        </div>
    </div>
</form>