<div class="row space justify-content-end">
	<div class="col-md-2">
		<select2 placeholder= "Formatos"  (valueChange)="changeFormat($event, object.id)"[options]="[{label:'CARÁTULA',value:'F1_007'},{label:'FORMATO DE ACUERDO DE INICIO',value:'F1_015_016'}]"></select2>
	</div>
	<div class="col-md-auto">
        <div class="form-group">
            <button mat-raised-button color="accent" (click)="openDocDialog()" >Adjuntar</button>
        </div>
	</div>
</div>
<mat-paginator #paginator [length]="data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nameEcm}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fechaCreacion">
          <mat-header-cell *matHeaderCellDef> Fecha de creación </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.created| date:'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="downloadFile(row, row.contentType)"></mat-row>
    </mat-table>

