<breadcrumb></breadcrumb>
<div class="row space">
    <div class="col-md-6">
        <h2>Catálogo de turno</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" mat-raised-button routerLink="/catalogos/{{ tipo }}/create" color="accent">Nuevo</button>
    </div>
</div>
<hr>
<div class="row space"></div>



<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre  }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="clave">
        <mat-header-cell *matHeaderCellDef> Clave </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.clave}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;" routerLink="/catalogos/turno/{{ row.id }}" [class.active]="row.id == selectedRow"></mat-row>
</mat-table>

<mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)" >
</mat-paginator>

<div class="row space"></div>
<div class="row space">
    <div class="col-md-12">
        <button class="float-right" mat-raised-button routerLink="/" color="accent">Regresar</button>
    </div>
</div>