<breadcrumb></breadcrumb>
<div class="row space">    
    <div class="col-md-12 text-right">
        <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small>
    </div>
</div>
<div class="row space">
	<div class="col-md-6">
		<h2>Facultad de No Investigar</h2>
	</div>
	<div class="col-md-6">
		<button class="float-right" md-raised-button routerLink="/caso/{{casoId}}/facultad-no-investigar" color="accent">Regresar</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<md-tab-group>
			<md-tab label="Determinación"><facultad-no-investigar></facultad-no-investigar></md-tab>
			<md-tab label="Documentos"><documento-facultad-no-investigar></documento-facultad-no-investigar></md-tab>
		</md-tab-group>
	</div>
</div>