<form [formGroup]="form">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
          <text label="Nombre de denunciante" name="nombreDenunciante" [group]="form"></text>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
          <text label="Originario de " name="originarioDenunciante" [max]="150" [group]="form"></text>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <number label="Edad" name="edadDenunciante" [maxValue]="999" [max]="3" [group]="form"></number>
        </div>
      </div>
   <div class="row">
      <div class="col-md-4 col-sm-12 col-lg-4">
          <text label="Domicilio" name="domicilioDenunciante" [max]="150" [group]="form"></text>
      </div>
    </div>
    <div class="row">
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="Síntesis de los hechos" name="sintesisHechos"  [group]="form"></text-area>
	    </div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="Datos de prueba" name="datosPrueba" [group]="form"></text-area>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <text-area label="Motivos por los que se abstuvo de investigar" name="motivosAbstuvoInvestigar" [group]="form"></text-area>
        </div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="En su caso, el medio alternativo de solución de conflictos adoptado" name="medioAlternativoSolucion"  [group]="form"></text-area>
	    </div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="A quién se remite la determinación" name="destinatarioDeterminacion" [group]="form"></text-area>
      </div>

	</div>
	<div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
          <text-area label="Nombre del superior jerárquico" name="superiorJerarquico"  [group]="form"></text-area>
        </div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="Observaciones/Incidencias" name="observaciones"  [group]="form"></text-area>
	    </div>
	</div>
	<div class="row justify-content-end" >
		<div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
		   <!-- <button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id != null">Guardar</button> -->
		   <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
		</div>
		<div class="col-sm-auto">
		   <button class="float-right" mat-button routerLink="/caso/{{casoId}}/facultad-no-investigar">Cancelar</button>
		</div>
   </div>
</form>
