<form [formGroup]="form">

    <div class="row">
	    <div class="col-md-4 col-sm-12 col-lg-4">
	    	<text label="Síntesis de los hechos" name="sintesisHechos" [(value)]="model.sintesisHechos" [group]="form"></text>  
	    </div>
	    <div class="col-md-4 col-sm-12 col-lg-4">
	    	<text label="Datos de prueba" name="datosPrueba" [(value)]="model.datosPrueba" [group]="form"></text> 
	    </div>
	    <div class="col-md-4 col-sm-12 col-lg-4">
	    	<text label="Motivos por los que se abstuvo de investigar" name="motivosAbstuvoInvestigar" [(value)]="model.motivosAbstuvoInvestigar" [group]="form"></text> 
	    </div>
    </div>
    <div class="row">

	    <div class="col-md-8 col-sm-12 col-lg-8">
	    	<text label="En su caso, medio alternativo de solución de conflictos adoptado" name="medioAlternativoSolucion" [(value)]="model.medioAlternativoSolucion" [group]="form"></text> 
	    </div>
	    <div class="col-md-4 col-sm-12 col-lg-4">
	    	<text label="A quién se remite la determinación" name="destinatarioDeterminacion" [(value)]="model.destinatarioDeterminacion" [group]="form"></text> 
	    </div>
	</div> 
	<div class="row">
 
	    <div class="col-md-4 col-sm-12 col-lg-4">
	    	<text label="Nombre de superior jerárquico" name="superiorJerarquico" [(value)]="model.superiorJerarquico" [group]="form"></text> 
	    </div>
	</div>
	<div class="row">

	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="Observaciones/Incidencias" name="observaciones" [(value)]="model.observaciones" [group]="form"></text-area> 
	    </div>
	</div>
	<div class="row justify-content-end" >
		<div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
		   <button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id != null">Editar</button>    
		   <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
		</div>
		<div class="col-sm-auto">
		   <button class="float-right" mat-button routerLink="/caso/{{casoId}}/facultad-no-investigar">Cancelar</button> 
		</div>
   </div>
</form>