
<div class="row space">
    <div class="col-md-12">
        <caso-herencia [casoId]="casoId" (personasChange)="personasChanged($event)"  (heredarChange)="heredarChanged($event)" [heredarFunction]="heredarDatos.bind(this)"[form]="form"></caso-herencia>
      </div>
</div>

<form [formGroup]="form">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <text-area label="Nombre de denunciante" name="nombreDenunciante" [group]="form" [focus]="true"></text-area>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12">
          <text-area label="Originario de " name="originarioDenunciante" [group]="form"></text-area>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
          <text  *ngIf="heredar; else noHeredarEdad" label="Edad" name="edadesDenunciante" [max]="1000" [group]="form"></text>
          <ng-template #noHeredarEdad>
            <int label="Edad" name="edadDenunciante" [max]="3" [group]="form"></int>
          </ng-template>
        </div>
      </div>
   <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
          <text-area label="Domicilio" name="domicilioDenunciante" [group]="form"></text-area>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-lg-4">
        <text label="Inciso del artículo 34 apartado A de la fracción I" name="fraccion" [max]="150" [group]="form"></text>
      </div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="Síntesis de los hechos" name="sintesisHechos"  [group]="form"></text-area>
	    </div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="Datos de prueba" name="datosPrueba" [group]="form"></text-area>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <text-area label="Motivos por los que se abstuvo de investigar" name="motivosAbstuvoInvestigar" [group]="form"></text-area>
        </div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="En su caso, el medio alternativo de solución de conflictos adoptado" name="medioAlternativoSolucion"  [group]="form"></text-area>
	    </div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="A quién se remite la determinación" name="destinatarioDeterminacion" [group]="form"></text-area>
      </div>

	</div>
	<div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
          <text-area label="Nombre del superior jerárquico" name="superiorJerarquico"  [group]="form"></text-area>
        </div>
	    <div class="col-md-12 col-sm-12 col-lg-12">
	    	<text-area label="Observaciones/Incidencias" name="observaciones"  [group]="form"></text-area>
	    </div>
	</div>
	<div class="row justify-content-end" >
		<div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
		   <!-- <button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id != null">Guardar</button> -->
		   <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
		</div>
		<div class="col-sm-auto">
		   <button class="float-right" mat-button routerLink="/caso/{{casoId}}/facultad-no-investigar">Cancelar</button>
		</div>
   </div>
</form>
