<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<div class="row space">
    <div class="col-md-12 text-right">
        <!-- <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small> -->
    </div>
</div>
<div class="content-body">
    <div class="row space">
        <div class="col-md-10">
            <h2>Registrar vehículo</h2>
        </div>
        <div class="col-md-2">
            <button class="float-right" mat-raised-button routerLink="/caso/{{casoId}}/noticia-hecho/vehiculos" color="accent">Regresar</button>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-3">
                <select2 placeholder="Motivo por el que se registra"
                    [options]="vehiculoServ.motivoColorClase.motivoRegistro"
                    name="motivoRegistro"
                    [group]="form"
                    (valueChange)="vehiculoServ.motivoColorClase.find($event, 'motivoRegistro')">

                </select2>
            </div>
            <div class="col-md-3">
                <select2 placeholder="Vehículo"
                    name="campoVehiculo"
                    [options]="vehiculoServ.tipoUsoTipoVehiculo.tipoVehiculo"
                    [group]="form"
                    (valueChange)="vehiculoServ.tipoUsoTipoVehiculo.find($event, 'tipoVehiculo')">

                </select2>
            </div>
            <div class="col-md-3">
                <text label="Nº tarjeta de circulación" name="tarjetaCirculacion" [max]="40" [group]="form"></text>
            </div>
            <div class="col-md-3">
                <text label="Nº económico" name="noEconomico" [max]="40" [group]="form"></text>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <select2 placeholder="Clase"
                name="clase"
                [options]="vehiculoServ.motivoColorClase.clase"
                [group]="form"
                (valueChange)="vehiculoServ.motivoColorClase.find($event, 'clase')">

            </select2>
            </div>
            <div class="col-md-3">
                <select2 placeholder="Marca"
                    [options]="vehiculoServ.marcaSubmarca.marca"
                    name="marca"
                    [group]="form"
                    (valueChange)="marcaChange($event)">

                </select2>
            </div>
            <div class="col-md-3">
                <select2 placeholder="Submarca"
                    name="submarca"
                    [options]="vehiculoServ.marcaSubmarca.submarca"
                    [group]="form"
                    (valueChange)="vehiculoServ.marcaSubmarca.find($event, 'submarca')">

                </select2>
            </div>
            <div class="col-md-3">
                <select2 placeholder="Color"
                    name="color"
                    [options]="vehiculoServ.motivoColorClase.color"
                    [group]="form"
                    (valueChange)="vehiculoServ.motivoColorClase.find($event, 'color')">

                </select2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <int
                    label="Modelo"
                    name="modelo"
                    hintStart="{{hintObligatorio}}"
                    [max]="4"
                    [group]="form">

                </int>
            </div>
            <div class="col-md-3">
                <select2 placeholder="Estado de origen de las placas"
                        [(options)]="optionsServ.estados"
                        name="id"
                        [group]="form.controls.estadoOrigenPlacas">

                </select2>
            </div>
            <div class="col-md-3">
                <text
                    label="Placas"
                    name="placas"
                    hintStart="{{hintObligatorio}}"
                    [max]="10"
                    [group]="form"
                    [regex]="regexPlaca">

            </text>
            </div>
            <div class="col-md-3">
                <text label="Placas adicionales" name="placasAdicionales" [max]="10" [group]="form" [regex]="regexPlaca"></text>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <text label="Registro federal del vehículo (RFV)" name="registroFederalVehiculo" [max]="20" [group]="form"></text>
            </div>
            <div class="col-md-3">
                <text
                    label="Nº serie (VIN)"
                    name="noSerie"
                    hintStart="{{hintObligatorio}}"
                    [max]="20"
                    [group]="form">

                </text>
            </div>
            <div class="col-md-3">
                <text
                    label="Nº motor"
                    name="noMotor"
                    hintStart="{{hintObligatorio}}"
                    [max]="40"
                    [group]="form">

                </text>
            </div>

            <div class="col-md-3">
                <select2 placeholder="Aseguradora"
                    name="aseguradora"
                    [options]="vehiculoServ.procedenciaAseguradora.aseguradora"
                    [group]="form"
                    (valueChange)="vehiculoServ.procedenciaAseguradora.find($event, 'aseguradora')">
                </select2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <text label="Factura" name="factura" [max]="40" [group]="form"></text>
            </div>
            <div class="col-md-3">
                <select2 placeholder="Datos tomados de"
                    name="datosTomados"
                    [options]="vehiculoServ.tipoUsoTipoVehiculo.datosTomadosDe"
                    [group]="form"
                    (valueChange)="vehiculoServ.tipoUsoTipoVehiculo.find($event, 'datosTomadosDe')"
                    >
                </select2>
            </div>
            <div class="col-md-3">
                <text label="Nº póliza" name="noPoliza" [max]="40" [group]="form"></text>
            </div>
            <div class="col-md-3">
                <number label="Valor estimado" name="valorEstimado" [group]="form"></number>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <select2 placeholder="Tipo de uso" name="tipoUso"
                            [options]="vehiculoServ.tipoUsoTipoVehiculo.tipoUso"
                            [group]="form"
                            (valueChange)="vehiculoServ.tipoUsoTipoVehiculo.find($event, 'tipoUso')">
                        </select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Procedencia"
                            [options]="vehiculoServ.procedenciaAseguradora.procedencia"
                            name="procedencia"
                            [group]="form"
                            (valueChange)="change($event)"
                            (valueChange)="vehiculoServ.procedenciaAseguradora.find($event, 'procedencia')">
                        </select2>
                    </div>
                    <div class="col" *ngIf="isProcedenciaExtranjera==true">
                        <text label="Pedimento de importación" name="pedimentoImportancion" [max]="40" [group]="form"></text>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <checkbox label="¿Lleva carga?" name="llevaCarga" [group]="form"></checkbox>
                    </div>
                    <div class="col-md-6">
                        <checkbox label="¿Alterado? (Nº serie)" name="alterado" [group]="form"></checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text-area label="Señas particulares"  name="seniasParticulares" [group]="form"></text-area>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text-area label="Notas" name="notas" [group]="form"></text-area>
                <input name="id" formControlName="id" [formGroup]="form" hidden>
            </div>
        </div>
        <div class="row justify-content-end space">
            <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validate(form)"  matTooltipPosition="above">
                <button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [disabled]="!form.valid || [saving]|| !isOneFilled" *ngIf="id != null">Guardar</button>
                <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid || [saving]|| !isOneFilled" *ngIf="id == null">Guardar</button>
            </div>
            <div class="col-sm-auto">
                <button mat-button routerLink="/caso/{{casoId}}/noticia-hecho/vehiculos">Cancelar</button>
            </div>
        </div>
    </form>
</div>
