<breadcrumb #parent>
    <div class="row">
        <template ngFor let-route [ngForOf]="parent.breadcrumbs">
            <a    *ngIf="!route.terminal" class="breadcrumb" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
            <span *ngIf="route.terminal"  class="breadcrumb">{{ route.displayName }}</span>
        </template>
    </div>
</breadcrumb>
<div class="content-body">
    <div class="row">
        <div class="col-md-10">
            <h2>Registrar vehículo</h2>
        </div>
        <div class="col-md-2">
            <button class="float-right" md-raised-button routerLink="/vehiculos" color="accent">Regresar</button>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col">
                <select2 placeholder="Motivo por el que se registra"></select2>
            </div>
            <div class="col">
                <text label="Vheículo"></text>
            </div>
            <div class="col">
                <text label="Nº tarjeta de circulación"></text>
            </div>
            <div class="col">
                <text label="Nº económico"></text>
            </div>
            <div class="col">
                <text label="Clase"></text>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text label="Placas"></text>
            </div>
            <div class="col">
                <text label="Submarca"></text>
            </div>
            <div class="col">
                <text label="Color"></text>
            </div>
            <div class="col">
                <text label="Modelo"></text>
            </div>
            <div class="col">
                <text label="Estado de origen de las placas"></text>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text label="Marca"></text>
            </div>
            <div class="col">
                <text label="Placas adicionales"></text>
            </div>
            <div class="col">
                <text label="Registro federal del vehículo (RFV)"></text>
            </div>
            <div class="col">
                <text label="Nº serie (VIN)"></text>
            </div>
            <div class="col">
                <text label="Nº motor"></text>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text label="Aseguradora"></text>
            </div>
            <div class="col">
                <text label="Factura"></text>
            </div>
            <div class="col">
                <text label="Datos tomados de"></text>
            </div>
            <div class="col">
                <text label="Nº póliza"></text>
            </div>
            <div class="col">
                <text label="Valor estimado"></text>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <text label="Tipo de uso"></text>
            </div>
            <div class="col">
                <text label="Procedencia"></text>
            </div>
            <div class="col">
                <text label="Pedimento de importación"></text>
            </div>
            <div class="col">
                <checkbox label="¿Lleva cargar?"></checkbox>
            </div>
            <div class="col">
                <checkbox label="¿Alterado? (Nº serie)"></checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <text label="Señas particulares"></text>
            </div>
        </div>
        <div class="row justify-content-md-end">
            <div class="col-md-2">
                <button md-raised-button type="submit" color="accent">Guardar</button>
            </div>
            <div class="col-md-2">
                <button md-button type="submit">Cancelar</button>
            </div>
        </div>
    </div>
</div>