<div class="content-body">
    <div class="row">
        <div class="col-md-10">
            <h2>Registrar vehículo</h2>
        </div>
        <div class="col-md-2">
            <button class="float-right" md-raised-button routerLink="/vehiculos" color="accent">Regresar</button>
        </div>
    </div>
    <div class="content mat-elevation-z8">
        <div class="row">
            <div class="col">
                <select2 placeholder="Motivo por el que se registra"></select2>
                <text label="Marca"></text>
                <text label="Placas"></text>
                <text label="Aseguradora"></text>
                <text label="Tipo de uso"></text>
            </div>
            <div class="col">
                <text label="Vheículo"></text>
                <text label="Submarca"></text>
                <text label="Placas adicionales"></text>
                <text label="Factura"></text>
                <text label="Procedencia"></text>
            </div>
            <div class="col">
                <text label="Nº tarjeta de circulación"></text>
                <text label="Color"></text>
                <text label="Registro federal del vehículo (RFV)"></text>
                <text label="Datos tomados de"></text>
                <text label="Pedimento de importación"></text>
            </div>
            <div class="col">
                <text label="Nº económico"></text>
                <text label="Modelo"></text>
                <text label="Nº serie (VIN)"></text>
                <text label="Nº póliza"></text>
                <checkbox label="¿Lleva cargar?"></checkbox>
            </div>
            <div class="col">
                <text label="Clase"></text>
                <text label="Estado de origen de las placas"></text>
                <text label="Nº motor"></text>
                <text label="Valor estimado"></text>
                <checkbox label="¿Alterado? (Nº serie)"></checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <text label="Señas particulares"></text>
            </div>
        </div>
        <div class="row justify-content-md-end">
            <div class="col-md-2">
                <button md-raised-button type="submit" color="accent">Guardar</button>
            </div>
            <div class="col-md-2">
                <button md-button type="submit">Cancelar</button>
            </div>
        </div>
    </div>
</div>