<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<div class="row space">
    <div class="col-md-12 text-right">
        <!-- <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small> -->
    </div>
</div>
<div class="content-body">
    <div class="row">
        <div class="col-md-10">
            <h2>Registrar lugar</h2>
        </div>
        <div class="col-md-2">
            <button class="float-right" mat-raised-button routerLink="/caso/{{casoId}}/noticia-hecho/lugares" color="accent">Regresar</button>
        </div>
    </div>
    <div class="content">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-2">
                    <select2
                        placeholder="Tipo"
                        [(options)]="lugarServ.tipoLugar"
                        name="tipo"
                        [group]="form"
                        hintStart="Campo obligatorio"
                        (valueChange)="lugarServ.find($event, 'tipoLugar')">

                    </select2>
                </div>
                <div class="col-md-2">
                    <select2
                        placeholder="Tipo de zona"
                        [(options)]="lugarServ.tipoZona"
                        name="tipoZona"
                        [group]="form"
                        hintStart="Campo obligatorio"
                        (valueChange)="lugarServ.find($event, 'tipoZona')">
                    </select2>
                </div>
                <div class="col-md-4">
                    <text label="Calle" name="calle" [group]="form" hintStart="Campo obligatorio"></text>
                </div>
                <div class="col-md-2">
                    <text label="Nº exterior" name="noExterior" [group]="form" ></text>
                </div>
                <div class="col-md-2">
                    <text label="Nº interior" name="noInterior" [group]="form"></text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <text-area label="Referencias"  name="referencias" [group]="form" hintStart="Campo obligatorio"></text-area>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 full-width">
                    <select2
                        placeholder="País"
                        [options]="optionsServ.paises"
                        name="id"
                        [group]="form.controls.pais"
                        (valueChange)="changePais($event)"
                        hintStart="Campo obligatorio"
                        >

                    </select2>
                </div>
                <div class="col-md-3" *ngIf="!isMexico">
                    <text label="Estado" name="estadoOtro" [group]="form"hintStart="Campo obligatorio"></text>
                </div>
                <div class="col-md-3" *ngIf="!isMexico">
                    <text label="Municipio/Delegación" name="municipioOtro" [group]="form" hintStart="Campo obligatorio"></text>
                </div>
                <div class="col-md-3" *ngIf="!isMexico">
                    <text label="Colonia/Asentamiento" name="coloniaOtro" [group]="form" hintStart="Campo obligatorio"></text>
                </div>
                <div class="col-md-3" *ngIf="isMexico">
                    <select2
                        placeholder="Estado"
                        [options]="optionsServ.estados"
                        name="id"
                        [group]="form.controls.estado"
                        (valueChange)="changeEstado($event)"
                        hintStart="Campo obligatorio"
                        >

                    </select2>
                </div>
                <div class="col-md-3" *ngIf="isMexico" >
                    <select2
                         placeholder="Municipio/Delegacion"
                         [options]="optionsServ.municipios"
                         name="id"
                         [group]="form.controls.municipio"
                         (valueChange)="changeMunicipio($event)"
                         hintStart="Campo obligatorio"
                         >

                    </select2>
                </div>
                <div class="col-md-3" *ngIf="isMexico">
                    <select2 placeholder="Colonia" [options]="optionsServ.colonias" name="id" [group]="form.controls.colonia" hintStart="Campo obligatorio"></select2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <text label="C.P." name="cp" [group]="form"></text>
                </div>
                <div class="col-md-3">
                    <date label="Fecha" name="fecha" [group]="form" hintStart="Campo obligatorio"></date>
                </div>
                <div class="col-md-3">
                    <time label="Hora" name="hora" [group]="form"></time>
                </div>
                <div class="col-md-3">
                    <select2
                        placeholder="Día"
                        name="dia"
                        [options]="lugarServ.dia"
                        [group]="form"
                        (valueChange)="lugarServ.find($event, 'dia')">
                    </select2>
                </div>
            </div>
            <div class="row space">
                <div class="col">
                    <text-area label="Descripción del lugar" name="descripcionLugar" [group]="form"></text-area>
                    <text-area label="Referencias geográficas" name="refeGeograficas" [group]="form"></text-area>
                    <text-area label="Notas" name="notas" [group]="form"></text-area>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="md-custom-search">
                            <input type="search" placeholder="Buscar ubicación" #search [formControl]="searchControl">
                            <mat-icon  class="suffix" *ngIf="search.value === ''">search</mat-icon>
                            <mat-icon  class="suffix" *ngIf="search.value !== ''" (click)="search.value=''">close</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="changeLocation($event)" [zoom]="zoom" style="height: 400px; width: 100%;" >
                         <agm-marker [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
                    </agm-map>
                </div>
            </div>
            <input name="id" formControlName="id" [formGroup]="form" hidden>
            <div class="row justify-content-end">
                <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)" matTooltipPosition="above">
                    <button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [disabled]="!form.valid || [saving]" *ngIf="id != null">Editar</button>
                    <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid || [saving]" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button mat-button routerLink="/caso/{{casoId}}/noticia-hecho/lugares">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
