<div class="content-body">
    <div class="row">
        <div class="col-md-10">
            <h2>Registrar lugar</h2>
        </div>
        <div class="col-md-2">
            <button md-raised-button routerLink="/lugares" color="primary">Regresar</button>
        </div>
    </div>
    <div class="content mat-elevation-z8">
        <div class="row justify-content-md-center align-items-center">
            <div class="col">
                <div class="row">
                    <div class="col-md-2">
                        <selectcomponent placeholder="Tipo"></selectcomponent>
                    </div>
                    <div class="col-md-2">
                        <selectcomponent placeholder="Tipo de zona"></selectcomponent>
                    </div>
                    <div class="col-md-4">
                        <text label="Calle"></text>
                    </div>
                    <div class="col-md-2">
                        <text label="Nº exterior"></text>
                    </div>
                    <div class="col-md-2">
                        <text label="Nº interior"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <text label="Referencias"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 full-width">
                        <selectcomponent placeholder="País"></selectcomponent>
                    </div>
                    <div class="col-md-3">
                        <text label="Estado"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Municipio/Delegación"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Colonia/Asentamiento"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text label="C.P."></text>
                    </div>
                    <div class="col-md-3">
                        <date label="Fecha"></date>
                    </div>
                    <div class="col-md-3">
                        <text label="Hora"></text>
                    </div>
                    <div class="col-md-3">
                        <selectcomponent placeholder="Día"></selectcomponent>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <text label="Descripción del lugar"></text>
                        <text label="Referencias geográficas"></text>
                        <text label="Notas"></text>
                    </div>
                </div>
                <div class="row justify-content-md-end">
                    <div class="col-md-2">
                        <button md-raised-button type="submit" color="primary">Guardar</button>
                    </div>
                    <div class="col-md-2">
                        <button md-button type="submit">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>