<div class="row">
	<div class="col-md-12">
		<button class="float-right" md-raised-button routerLink="/personas/persona-fisica-imputado" color="accent">Agregar involucrado</button>
	</div>
</div>
<md-table #table [dataSource]="">
	<ng-container mdColumnDef="position">
		<md-header-cell *mdHeaderCellDef> Tipo de interviniente </md-header-cell>
		<md-cell *mdCellDef="let element"> {{element.id}} </md-cell>
	</ng-container>

	<!-- Name Column -->
	<ng-container mdColumnDef="name">
		<md-header-cell *mdHeaderCellDef> Nombre o razón social </md-header-cell>
		<md-cell *mdCellDef="let element"> {{element.nombre}} </md-cell>
	</ng-container>

	<!-- Weight Column -->
	<ng-container mdColumnDef="weight">
		<md-header-cell *mdHeaderCellDef> Alias </md-header-cell>
		<md-cell *mdCellDef="let element"> {{element.paterno}} </md-cell>
	</ng-container>

	<!-- Color Column -->
	<ng-container mdColumnDef="symbol">
		<md-header-cell *mdHeaderCellDef> Acciones </md-header-cell>
		<md-cell *mdCellDef="let element"> {{element.materno}} </md-cell>
	</ng-container>

	<md-header-row *mdHeaderRowDef="_columns"></md-header-row>
	<md-row *mdRowDef="let row; columns: _columns;"></md-row>
</md-table>