<div>
    <div class="row">
        <div class="col-md-12">
            <h2>Anexo 10 Entrega-recepción del lugar de la intervención</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <text label="Lugar de entrega" name="entregaLugar" [group]="form" ></text>
        </div>
        <div class="col-md-3">
            <text label="Entidad de la entrega recepción" name="entregaEntidad" [group]="form"></text>
        </div>        
        <div class="col-md-3">
            <text label="Municipio" name="entregaMunicipio" [group]="form"></text>
        </div>
        <div class="col-md-3">
            <text label="Colonia" name="entregaColonia" [group]="form"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <text label="Calle" name="entregaCalle" [group]="form" ></text>
        </div>
        <div class="col-md-3">
            <text label="Número interior" name="entregaNumInterior" [group]="form"  ></text>
        </div>        
        <div class="col-md-3">
            <text label="Número exterior" name="entregaNumExterior" [group]="form" ></text>
        </div>
        <div class="col-md-3">
            <text label="C.P." name="entregaCp" [group]="form"></text>
        </div>
    </div>
	<div class="row space"></div>
    <div class="row space"></div>
    <div class="row justify-content-end">
        <div class="col-sm-auto">
            <button class="" mat-raised-button color="accent">Guardar</button>
        </div>
        <div class="col-sm-auto">
            <button class="" mat-raised-button routerLink="/caso/1313/informe-homologado" color="">Cancelar</button> 
        </div>
    </div>
 </div>