<md-sidenav-container fullscreen>
    <md-toolbar color="warn" class="mat-drawer-container mat-sidenav-container mat-drawer-transition mat-elevation-z8">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon class="md-24">menu</md-icon>
        </button>
        <span>
            <md-list-item>SIGI</md-list-item>
        </span>
        <span class="spacer"></span>
        <md-icon class="button-menu">notifications</md-icon>

        <md-icon class="button-menu">account_circle</md-icon>
        <span>  Administardor del sistema</span>
        <md-icon fxHide="false" fxHide.gt-sm class="clickable">more_vert</md-icon>
    </md-toolbar>
    <md-sidenav #sidenav opened="true" mode="side" class="mat-elevation-z8">
        <md-toolbar color="warn">
            <h2>
                <span>Menu</span>
            </h2>
            <span class="spacer"></span>
            <button md-icon-button (click)="sidenav.close()">
                <md-icon>close</md-icon>
            </button>
        </md-toolbar>
        <md-list>
            <md-list-item><a routerLink="/">Home</a></md-list-item>
            <md-list-item><a routerLink="/usuarios">Usuarios</a></md-list-item>
            <md-list-item><a routerLink="/vehiculos">Vehículos</a></md-list-item>
            <md-list-item><a routerLink="/lugares">Lugares</a></md-list-item>
        </md-list>
    </md-sidenav>
    <div class="container-fluid" style="padding-top: 16px;">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
<!-- <footer>
    <div class="container">
        <a class="logo-font" >evomatik</a>
        <span class="attribution">
        &copy; {{ today | date: 'yyyy' }}.
        Estructura de proyecto con angular y material angular
        </span>
    </div>
</footer> -->


