mat-sidenav-container.mat-drawer-container {
    background-color: white;    
}

mat-sidenav.mat-drawer {
    background-color: #fafafa;
}

.inner-sidenav-content {
    overflow: auto;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:64px;
  }