<md-sidenav-container  *ngIf="authService.isLoggedin" fullscreen>
    <md-toolbar color="primary" class="mat-drawer-container mat-sidenav-container mat-drawer-transition mat-elevation-z8">
        <button md-icon-button (click)="sidenav.toggle()" *ngIf="_SIDEBAR">
            <md-icon class="md-24">menu</md-icon>
        </button>
        <span>
            <md-list-item routerLink="/" style="cursor: pointer;">SIGI</md-list-item>
        </span>
        <span class="spacer"></span>
        
        <button md-icon-button [mdMenuTriggerFor]="notify">
            <md-icon class="button-menu">notifications</md-icon>
        </button>
        <md-menu #notify="mdMenu">
            <button md-menu-item>
                <md-icon fxHide="false" fxHide.gt-sm>perm_identity</md-icon>
                <div> 
                    <label>Robo a casa habitación</label>
                    <label>Por: Sergio Alejandro Hernández</label> 
                    <label>Hace 2 horas</label>
                </div>
                <div>
                    <md-icon class="button-menu">notifications</md-icon>   
                </div>
            </button>
            <button md-menu-item>
                <md-icon fxHide="false" fxHide.gt-sm>perm_identity</md-icon>Hola1
            </button>
            <button md-menu-item>
                <md-icon fxHide="false" fxHide.gt-sm>perm_identity</md-icon>Hola2
            </button>
        </md-menu>


        <md-icon class="button-menu">account_circle</md-icon>
        <span class="d-xs-none d-sm-none d-md-inline"> Administrador del sistema</span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon fxHide="false" fxHide.gt-sm>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item>
                <md-icon fxHide="false" fxHide.gt-sm>perm_identity</md-icon>Perfil
            </button>
            <button md-menu-item>
                <md-icon fxHide="false" fxHide.gt-sm>build</md-icon>Configuración
            </button>
            <button md-menu-item>
                <md-icon fxHide="false" fxHide.gt-sm>help_outline</md-icon>Ayuda
            </button>
            <md-divider></md-divider>
            <button md-menu-item>
                <md-icon fxHide="false" fxHide.gt-sm>autorenew</md-icon>
            </button>
            <button (click)="logout()" md-menu-item>
                <md-icon fxHide="false" fxHide.gt-sm>highlight_off</md-icon>Logout
            </button>
        </md-menu>
    </md-toolbar>
    <md-sidenav #sidenav opened="true" mode="side" class="mat-elevation-z8" *ngIf="_SIDEBAR">
        <md-toolbar color="primary">
            <h2>
                <span>Menu</span>
            </h2>
            <span class="spacer"></span>
        </md-toolbar>
        <md-list>
            <md-list-item><a routerLink="/">Home</a></md-list-item>
            <md-list-item><a routerLink="/usuarios">Usuarios</a></md-list-item>
            <md-list-item><a routerLink="/vehiculos">Vehículos</a></md-list-item>
            <md-list-item><a routerLink="/lugares">Lugares</a></md-list-item>
            <md-list-item><a routerLink="/armas">Armas </a></md-list-item>
            <md-list-item><a routerLink="/personas/persona-fisica-imputado">Persona fisica imputado</a></md-list-item>
            <md-list-item><a routerLink="/relaciones">Relaciones</a></md-list-item>
        </md-list>
    </md-sidenav>
    <md-progress-bar *ngIf="globalService._LOADER" mode="indeterminate" color="accent"></md-progress-bar>
    <div class="container-fluid" style="padding-top: 16px;">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
<md-sidenav-container  *ngIf="!authService.isLoggedin" fullscreen>
    <login></login>
</md-sidenav-container>



