<mat-sidenav-container  *ngIf="authService.isLoggedin" fullscreen>
    <mat-toolbar style="" color="primary" class="mat-drawer-container mat-sidenav-container mat-drawer-transition mat-elevation-z8">
        <button mat-icon-button (click)="sidenav.toggle()" *ngIf="_SIDEBAR">
            <mat-icon class="md-24">menu</mat-icon>
        </button>
        <span>
            <mat-list-item routerLink="/" style="cursor: pointer;">SIGI</mat-list-item>
        </span>
        <span class="spacer"></span>
        
        <button mat-icon-button [matMenuTriggerFor]="notify">
            <mat-icon class="button-menu">notifications</mat-icon>
        </button>

        <mat-menu #notify="matMenu" class="notification-list">
            <button class="titulo" mat-menu-item>
                <h4>Notificaciones</h4>
            </button>

            <button mat-menu-item>
                <div class="row"> 
                    <div class="col-md-2">
                        <mat-icon class="prueba" fxHide="false" fxHide.gt-sm>perm_identity</mat-icon>
                    </div>  
                    <div class="col-md-8 not"> 
                        <label>Robo a casa habitación</label><br/>
                        <label>Por: <strong>Sergio Alejandro Hernández</strong></label><br/>
                        <label>Hace 2 horas</label>
                    </div>
                    <div class="col-md-2 z">
                        <mat-icon fxHide="false" fxHide.gt-sm>clear</mat-icon>
                    </div>
                </div>
            </button>

            <button mat-menu-item>
                <div class="row"> 
                    <div class="col-md-2">
                        <mat-icon fxHide="false" fxHide.gt-sm>perm_identity</mat-icon>
                    </div>  
                    <div class="col-md-8 not"> 
                        <label>Robo a casa habitación</label><br/>
                        <label>Por: <strong>Sergio Alejandro Hernández</strong></label><br/>
                        <label>Hace 2 horas</label>
                    </div>
                    <div class="col-md-2 z">
                        <mat-icon fxHide="false" fxHide.gt-sm>clear</mat-icon>
                    </div>
                </div>
            </button>

            <button mat-menu-item>
                <div class="row"> 
                    <div class="col-md-2">
                        <mat-icon fxHide="false" fxHide.gt-sm>perm_identity</mat-icon>
                    </div>  
                    <div class="col-md-8 not"> 
                        <label>Robo a casa habitación</label><br/>
                        <label>Por: <strong>Sergio Alejandro Hernández</strong></label><br/>
                        <label>Hace 2 horas</label>
                    </div>
                    <div class="col-md-2 z">
                        <mat-icon fxHide="false" fxHide.gt-sm>clear</mat-icon>
                    </div>
                </div>
            </button>

            <button mat-menu-item>
                <div class="row"> 
                    <div class="col-md-2">
                        <mat-icon fxHide="false" fxHide.gt-sm>perm_identity</mat-icon>
                    </div>  
                    <div class="col-md-8 not"> 
                        <label>Robo a casa habitación</label><br/>
                        <label>Por: <strong>Sergio Alejandro Hernández</strong></label><br/>
                        <label>Hace 2 horas</label>
                    </div>
                    <div class="col-md-2 z">
                        <mat-icon fxHide="false" fxHide.gt-sm>clear</mat-icon>
                    </div>
                </div>
            </button>

            <button mat-menu-item>
                <div class="row"> 
                    <div class="col-md-2">
                        <mat-icon fxHide="false" fxHide.gt-sm>perm_identity</mat-icon>
                    </div>  
                    <div class="col-md-8 not"> 
                        <label>Robo a casa habitación</label><br/>
                        <label>Nuevo caso asignado por <strong>Sergio Alejandro Hernández</strong></label><br/>
                        <div class="row">
                            <p class="col-md-6">NIC: N/A</p> <p class="col-md-6">NUC: N/A</p>
                        </div>    
                        <label>Hace 2 horas</label>
                    </div>
                    <div class="col-md-2 z">
                        <mat-icon fxHide="false" fxHide.gt-sm>clear</mat-icon>
                    </div>
                </div>
            </button>

            <button class="titulo" mat-menu-item>
                <h4>Ver todas</h4>
            </button>

        </mat-menu>


        <mat-icon class="button-menu">account_circle</mat-icon>
        <span class="d-xs-none d-sm-none d-md-inline">{{ authService.user.nombreCompleto}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon fxHide="false" fxHide.gt-sm>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon fxHide="false" fxHide.gt-sm>perm_identity</mat-icon>Perfil
            </button>
            <button mat-menu-item>
                <mat-icon fxHide="false" fxHide.gt-sm>build</mat-icon>Configuración
            </button>
            <button mat-menu-item>
                <mat-icon fxHide="false" fxHide.gt-sm>help_outline</mat-icon>Ayuda
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
                <mat-icon fxHide="false" fxHide.gt-sm>autorenew</mat-icon>
            </button>
            <button (click)="logout()" mat-menu-item>
                <mat-icon fxHide="false" fxHide.gt-sm>highlight_off</mat-icon>Logout
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav #sidenav opened="true" mode="side" class="mat-elevation-z8" *ngIf="_SIDEBAR">
        <mat-toolbar color="primary">
            <h2>
                <span>Menu</span>
            </h2>
            <span class="spacer"></span>
        </mat-toolbar>
        <mat-list>
            <mat-list-item><a routerLink="/">Home</a></mat-list-item>
            <mat-list-item><a routerLink="/usuarios">Usuarios</a></mat-list-item>
            <mat-list-item><a routerLink="/vehiculos">Vehículos</a></mat-list-item>
            <mat-list-item><a routerLink="/lugares">Lugares</a></mat-list-item>
            <mat-list-item><a routerLink="/armas">Armas </a></mat-list-item>
            <mat-list-item><a routerLink="/personas/persona-fisica-imputado">Persona fisica imputado</a></mat-list-item>
            <mat-list-item><a routerLink="/relaciones">Relaciones</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-progress-bar *ngIf="globalService._LOADER" mode="indeterminate" color="accent"></mat-progress-bar>
    <div class="container-fluid inner-sidenav-content" style="padding-top: 16px;">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
<mat-sidenav-container  *ngIf="!authService.isLoggedin" fullscreen>
    <login></login>
</mat-sidenav-container>
<jaspero-confirmations ></jaspero-confirmations>



