<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<caso-nic [id]="casoId"></caso-nic>
<div class="row space">
    <div class="col-md-6">
        <h2>Informe policial homologado</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" mat-raised-button routerLink="/caso/1313/informe-homologado" color="accent">Regresar
    </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-tab-group>
            <mat-tab label="Solicitud">
                <app-solicitud-iph></app-solicitud-iph>
            </mat-tab>
            <mat-tab label="Documentos">
                <documentos-iph></documentos-iph> 
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="row space"></div>

