<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<caso-nic [id]="casoId"></caso-nic>
<div class="row space">
    <div class="col-md-6">
        <h2>Informe policial homologado</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" mat-raised-button routerLink="/caso/{{casoId}}/detalle" color="accent">Regresar</button>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		<mat-tab-group>
			<mat-tab label="Solicitud"></mat-tab>
			<mat-tab label="Documentos"></mat-tab>
		</mat-tab-group>
	</div>
</div>
<div class="row space"></div>
<div class="row">
	<div class="col-md-12">
		<mat-tab-group>
			<mat-tab label="IPH"></mat-tab>
            <mat-tab label="Anexo 1"></mat-tab>
            <mat-tab label="Anexo 2"></mat-tab>
            <mat-tab label="Anexo 3"></mat-tab>
            <mat-tab label="Anexo 4"></mat-tab>
            <mat-tab label="Anexo 5"></mat-tab>
            <mat-tab label="Anexo 6"></mat-tab>
		</mat-tab-group>
	</div>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <text label="Número de referencia" id=""></text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>I. Datos de identificación del primer responsable</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <text label="Nombre del primer responsable" id=""></text>
                </div>
                <div class="col-md-4">
                    <text label="Institución de la que proviene" id=""></text>
                </div>
                <div class="col-md-4">
                    <text label="Entidad, Municipio" id=""></text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <text label="Clave Única de Identificación Policial (CUIP)" id=""></text>
                </div>
                <div class="col-md-4">
                    <button class="float-right" mat-raised-button color="accent">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>
