<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<caso-nic [id]="casoId"></caso-nic>
<div class="row space">
    <div class="col-md-6">
        <h2>Informe policial homologado</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" mat-raised-button routerLink="/caso/1313/informe-homologado" color="accent">Regresar</button>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		<mat-tab-group>
			<mat-tab label="Solicitud"></mat-tab>
			<mat-tab label="Documentos"></mat-tab>
		</mat-tab-group>
	</div>
</div>
<div class="row space"></div>
<div class="row">
	<div class="col-md-12">
        <form>
		<mat-tab-group>
    			<mat-tab label="IPH">
                    <ng-template mat-tab-label>IPH</ng-template>
                    <principal> </principal>
                </mat-tab>
                <mat-tab label="Anexo 1">
                    <ng-template mat-tab-label>Anexo 1</ng-template>
                    <anexo1> </anexo1>    
                </mat-tab>
                <mat-tab label="Anexo 2">
                    <ng-template mat-tab-label>Anexo 2</ng-template>
                    <anexo2> </anexo2>
                </mat-tab>
                <mat-tab label="Anexo 3">
                    <ng-template mat-tab-label>Anexo 3</ng-template>
                    <anexo3> </anexo3>
                </mat-tab>
                <mat-tab label="Anexo 4">
                    <ng-template mat-tab-label>Anexo 4</ng-template>
                    <anexo4> </anexo4>
                </mat-tab>
                <mat-tab label="Anexo 5">
                    <ng-template mat-tab-label>Anexo 5</ng-template>
                    <anexo5> </anexo5>
                </mat-tab>
                <mat-tab label="Anexo 6">
                    <ng-template mat-tab-label>Anexo 6</ng-template>
                    <anexo6> </anexo6>
                </mat-tab>
                <mat-tab label="Anexo 7">
                    <ng-template mat-tab-label>Anexo 7</ng-template>
                    <anexo7> </anexo7>
                </mat-tab>
            
		</mat-tab-group>
        </form>
	</div>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <!-- <principal> </principal> -->
        </form>
    </div>
</div>
