<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<div class="row space">
    <div class="col-md-12 text-right">
        <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small>
    </div>
</div>
<div class="row space">
    <div class="col-md-6">
        <h2>Registrar Relación</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" md-raised-button routerLink="/caso/{{casoId}}/noticia-hecho" color="accent">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="form">
            <div class="row" >
                <div class="col">
                    <select2 placeholder="Tipo de relación"
                        name="tipo"
                        [(options)]="tiposRelacion"
                        (valueChange)="changeTipoRelacion($event)"
                        [group]="form.controls.tipoRelacionPersona">

                    </select2 >
                </div>

                <div class="col">
                    <select2 placeholder="Modalidad"
                        name="id"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="options"
                        [group]="form.controls.modalidadDelito">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Delito"
                        name="id"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="optionsNoticia.delitos"
                        [group]="form.controls.delitoCaso" >

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Forma de comisión"
                        name="id"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="optionsRelacion.formaComision"
                        [group]="form.controls.formaComision">

                    </select2>
                </div>
                <div class="col" >
                    <select2 placeholder="Imputado"
                        name="id"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="optionsNoticia.imputados"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCasoRelacionada">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isAsesorJuridicoVictima">
                <div class="col">
                    <select2 placeholder="Víctima u ofendido"
                        name="id"
                        [(options)]="optionsNoticia.victimas"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCaso">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Asesor legal"
                        [(options)]="optionsNoticia.asesoresPublicos"
                        name="id"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCasoRelacionada">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isDefensorImputado">
                <div class="col">
                    <select2 placeholder="Víctima u ofendido"
                        name="id"
                        [(options)]="optionsNoticia.victimas"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCaso">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Defensor"
                        [(options)]="optionsNoticia.defensoresPublicos"
                        name="id"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCasoRelacionada">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isRepresentanteVictima">
                <div class="col">
                    <select2 placeholder="Víctima u ofendido"
                        name="id"
                        [(options)]="optionsNoticia.victimas"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCaso">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Representante"
                        [(options)]="optionsNoticia.representantesLegales"
                        name="id"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCasoRelacionada">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isImputadoVictimaDelito">
                <div class="col">
                    <select2 placeholder="Víctima u ofendido"
                        name="id"
                        [(options)]="optionsNoticia.victimas"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCaso">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Lugar"
                        name=""
                        [(options)]="optionsNoticia.lugares"
                        [group]="">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Concurso del delito"
                        name="id"
                        [(options)]="optionsRelacion.concursoDelito"
                        [group]="form.controls.concursoDelito">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Clasificación del delito"
                        name="id"
                        [(options)]="optionsRelacion.clasificacionDelitoOrden"
                        [group]="form.controls.clasificacionDelitoOrden">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Elemento de comisión"
                        name="id"
                        [(options)]="optionsRelacion.elementoComision"
                        [group]="form.controls.elementoComision">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isImputadoVictimaDelito">
                <div class="col">
                    <select2 placeholder="Clasificación"
                        name="id"
                        [(options)]="optionsRelacion.clasificacionDelito"
                        [group]="form.controls.clasificacionDelito">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Forma de acción"
                        name="id"
                        [(options)]="optionsRelacion.formaAccion"
                        [group]="form.controls.formaAccion">

                    </select2>
                </div>

                <div class="col">
                    <select2 placeholder="Consumación"
                        name=""
                        [(options)]="optionsRelacion.matrizDesaparicionConsumacion.consumacion"
                        [group]=""
                        (valueChange)="set('desaparicionConsumada','consumacion',$event,'desaparicion_consumacion')">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Grado de participación"
                        name="id"
                        [(options)]="optionsRelacion.gradoParticipacion"
                        [group]="form.controls.gradoParticipacion">

                    </select2>
                </div>

                <div class="col">
                    <select2 placeholder="Relación entre acusado y ofendido"
                        name=""
                        [(options)]="optionsRelacion.matrizDesaparicionConsumacion.relacionAcusadoOfendido"
                        [group]=""
                        (valueChange)="set('desaparicionConsumada','relacionAcusadoOfendido',$event,'desaparicion_consumacion')">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isImputadoVictimaDelito">
                <div class="col">
                    <select2 placeholder="Forma de conducta"
                        name="id"
                        [(options)]="optionsRelacion.formaConducta"
                        [group]="form.controls.formaConducta">

                    </select2>
                </div>

                <div class="col">
                    <select2 placeholder="Tipo de desaparición"
                        name=""
                        [(options)]="optionsRelacion.matrizDesaparicionConsumacion.tipoDesaparicion"
                        [group]=""
                        (valueChange)="set('desaparicionConsumada','tipoDesaparicion',$event,'desaparicion_consumacion')">

                    </select2>
                </div>
                <div class="col" [formGroup]="form">
                    <md-checkbox class="example-margin" name="flagrancia" formControlName="flagrancia" >Flagrancia</md-checkbox>
                </div>
                <div class="col" [formGroup]="form">
                    <!-- <md-checkbox class="example-margin" name="violenciaGenero" formControlName="violenciaGenero" (change)="changeViolenciaGenero($event)">Violencia de genero</md-checkbox> -->
                    <checkbox label="Violencia de genero" (valueChange)="changeViolenciaGenero($event)"></checkbox>
                </div>
            </div>
            <br/>
            <div class="row space" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">
                <div class="col">
                    <h4>Violencia de genero</h4>
                        <div class="row">

                            <div class="col-md-3">
                                <select2 placeholder="Víctima de delincuencia organizada"
                                    name=""
                                    [options]="optionsRelacion.matrizViolenciaGenero.delincuenciaOrganizada"
                                    (valueChange)="set('violenciaGenero','delincuenciaOrganizada',$event,'violencia_genero')">

                                </select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Víctima de violencia de genero"
                                    [options]="optionsRelacion.matrizViolenciaGenero.violenciaGenero"
                                    (valueChange)="set('violenciaGenero','violenciaGenero',$event,'violencia_genero')">

                                </select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Víctima de trata"
                                    [options]="optionsRelacion.matrizViolenciaGenero.victimaTrata"
                                    (valueChange)="set('violenciaGenero','victimaTrata',$event,'violencia_genero')">

                                </select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Víctima de acoso"
                                    [options]="optionsRelacion.matrizViolenciaGenero.victimaAcoso"
                                    (valueChange)="set('violenciaGenero','victimaAcoso',$event,'violencia_genero')">

                                </select2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <select2 placeholder="Orden de protección"
                                    [options]="optionsRelacion.matrizViolenciaGenero.ordenProteccion"
                                    (valueChange)="set('violenciaGenero','ordenProteccion',$event,'violencia_genero')">

                                </select2>
                            </div>
                        </div>
                </div>
            </div>

            <div class="row space" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">
                <div class="col">
                    <h5>Efectos de violencia</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <select2 placeholder="Efecto"
                                name="efecto"
                                [group]="formRelacion.efectoDetalle"
                                [options]="optionsRelacion.matrizEfectoDetalle.efecto"
                                (valueChange)="optionsRelacion.matrizEfectoDetalle.find($event, 'efecto')">

                            </select2>
                        </div>
                        <div class="col-md-3">
                            <select2 placeholder="Detalle"
                                name="detalle"
                                [group]="formRelacion.efectoDetalle"
                                [options]="optionsRelacion.matrizEfectoDetalle.detalle"
                                (valueChange)="optionsRelacion.matrizEfectoDetalle.find($event, 'detalle')">

                            </select2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="float-right m-1" color="accent" md-raised-button >Limpiar</button>
                            <button class="float-right m-1" md-raised-button color="accent" (click)="addEfectoDetalle(formRelacion.efectoDetalle.value)" [disabled]="false">Agregar</button>
                        </div>
                    </div>


                    <div class="row space">
                        <div class="col">
                            <div class="">
                              <md-table #table [dataSource]="colections.sourceEfectoDetalle">
                                    <!-- Efecto Column -->
                                    <ng-container mdColumnDef="efecto">
                                        <md-header-cell *mdHeaderCellDef> Efecto </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.efecto}} </md-cell>
                                    </ng-container>

                                    <!-- Detalle Column -->
                                    <ng-container mdColumnDef="detalle">
                                        <md-header-cell *mdHeaderCellDef> Detalle </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.detalle}} </md-cell>
                                    </ng-container>

                                    <md-header-row *mdHeaderRowDef="efectoDisplayedColumns"></md-header-row>
                                    <md-row *mdRowDef="let row; columns: efectoDisplayedColumns;"></md-row>
                                </md-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Trata de personas -->
            <div class="row space" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">
                <div class="col">
                    <h5>Trata de personas</h5>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="País de origen"
                                [options]="optionsService.paises"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.paisOrigen"
                                (valueChange)="changePais($event,'arrEstadosOrigen')">
                            </select2>
                            <select2 placeholder="País destino"
                                [options]="optionsService.paises"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.paisDestino"
                                (valueChange)="changePais($event,'arrEstadosDestino')" >
                            </select2>

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Estado origen"
                                [options]="arrEstadosOrigen"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.estadoOrigen"
                                (valueChange)="changeEstado($event,'arrMunicipiosOrigen')">
                            </select2>
                             <select2 placeholder="Estado destino"
                                [options]="arrEstadosDestino"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.estadoDestino"
                                (valueChange)="changeEstado($event,'arrMunicipiosDestino')">
                            </select2>

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Municipio origen"
                                [options]="arrMunicipiosOrigen"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.municipioOrigen">
                            </select2>
                           <select2 placeholder="Municipio destino"
                                [options]="arrMunicipiosDestino"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.municipioDestino">
                            </select2>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Tipo"
                                [options]="optionsRelacion.matrizTipoTransportacion.tipo"
                                (valueChange)="set('tipoTransportacion','tipo',$event,'tipo_transportacion')">
                            </select2>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Transportación"
                                [options]="optionsRelacion.matrizTipoTransportacion.transportacion"
                                (valueChange)="set('tipoTransportacion','transportacion',$event,'tipo_transportacion')">
                            </select2>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                        <button class="float-right m-1" color="accent" md-raised-button >Limpiar</button>
                        <button class="float-right m-1" 
                            md-raised-button color="accent"
                            (click)="addTrataPersonas(formRelacion.trataPersonasForm.value)"
                            [disabled]="!form.controls.trataPersona.valid">
                            Guardar
                        </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="">
                                <md-table #table [dataSource]="colections.sourceTrataPersonas">

                                    <ng-container mdColumnDef="País de origen">
                                        <md-header-cell *mdHeaderCellDef> País de origen </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.paisOrigen.id}} </md-cell>
                                    </ng-container>


                                    <ng-container mdColumnDef="Estado de origen">
                                        <md-header-cell *mdHeaderCellDef> Estado de origen </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.estadoOrigen.id}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Municipio de origen">
                                        <md-header-cell *mdHeaderCellDef> Municipio de origen </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.municipioOrigen.id}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="País destino">
                                        <md-header-cell *mdHeaderCellDef> País destino </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.paisDestino.id}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Estado destino">
                                        <md-header-cell *mdHeaderCellDef> Estado destino </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.estadoDestino.id}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Municipio destino">
                                        <md-header-cell *mdHeaderCellDef> Municipio destino </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.municipioDestino.id}} </md-cell>
                                    </ng-container>

                                    <ng-container mdColumnDef="Tipo de trata">
                                        <md-header-cell *mdHeaderCellDef> Tipo de trata </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.tipoTransportacion.id}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Transportación">
                                        <md-header-cell *mdHeaderCellDef> Transportación </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.tipoTransportacion.id}}
                                        </md-cell>
                                    </ng-container>

                            <md-header-row *mdHeaderRowDef="trataDisplayedColumns"></md-header-row>
                                    <md-row *mdRowDef="let row; columns: trataDisplayedColumns;"></md-row>
                                </md-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <!--Hostigamiento y/o acoso -->
            <div class="row space" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">

                <div class="col">
                    <h5>Hostigamiento y/o acoso</h5>
                    <div class="row">
                        <div class="col">
                            <select2 placeholder="Modalidad"
                                name="modalidad"
                                [group]="formRelacion.hostigamiento"
                                [options]="optionsRelacion.matrizModalidadAmbito.modalidad"
                                (valueChange)="optionsRelacion.matrizModalidadAmbito.find($event, 'modalidad')">
                            </select2>

                        </div>
                        <div class="col">
                            <select2 placeholder="Ámbito"
                                name="ambito"
                                [group]="formRelacion.hostigamiento"
                                [options]="optionsRelacion.matrizModalidadAmbito.ambito"
                                (valueChange)="optionsRelacion.matrizModalidadAmbito.find($event, 'ambito')">
                            </select2>

                        </div>
                        <div class="col">
                            <select2 placeholder="Conducta"
                                name="conducta"
                                [group]="formRelacion.hostigamiento"
                                [options]="optionsRelacion.matrizConductaDetalle.conducta"
                                (valueChange)="optionsRelacion.matrizConductaDetalle.find($event, 'conducta')">
                            </select2>

                        </div>
                        <div class="col">
                            <select2 placeholder="Detalle de conducta"
                                name="detalle"
                                [group]="formRelacion.hostigamiento"
                                [options]="optionsRelacion.matrizConductaDetalle.detalle"
                                (valueChange)="optionsRelacion.matrizConductaDetalle.find($event, 'detalle')">
                            </select2>
                        </div>
                        <div class="col">
                            <select2 placeholder="Testigo"
                                name="testigo"
                                [group]="formRelacion.hostigamiento"
                                [(options)]="optionsNoticia.testigos">
                            </select2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="float-right m-1" color="accent" md-raised-button >Limpiar</button>
                            <button class="float-right m-1" md-raised-button color="accent" [disabled]="!formRelacion.hostigamiento.valid" (click)="addHostigamiento(formRelacion.hostigamiento.value)">Agregar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="">
                                <md-table #table [dataSource]="colections.sourceHostigamiento">

                                    <ng-container mdColumnDef="Modalidad">
                                        <md-header-cell *mdHeaderCellDef> Modalidad </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.modalidad}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Ámbito">
                                        <md-header-cell *mdHeaderCellDef> Ámbito </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.ambito}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Conducta">
                                        <md-header-cell *mdHeaderCellDef> Conducta </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.conducta}} </md-cell>
                                    </ng-container>

                                    <ng-container mdColumnDef="Detalle">
                                        <md-header-cell *mdHeaderCellDef> Detalle </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.detalle}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Testigo">
                                        <md-header-cell *mdHeaderCellDef> Testigo </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.testigo}} </md-cell>
                                    </ng-container>

                                    <md-header-row *mdHeaderRowDef="hostigamientoDisplayedColumns"></md-header-row>
                                    <md-row *mdRowDef="let row; columns: hostigamientoDisplayedColumns;"></md-row>
                                </md-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end space">
                <div class="col-sm-auto" [mdTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)" mdTooltipPosition="above">
                    <button md-raised-button color="accent" _saving (saveFn)="edit(form.valid, form.value)" [disabled]="!form.valid || [saving]" *ngIf="id != null">Editar</button>
                    <button md-raised-button color="accent" _saving (saveFn)="save(form.valid, form.value)" [disabled]="!form.valid || [saving]" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button md-button routerLink="/caso/{{casoId}}/noticia-hecho">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>


