<breadcrumb></breadcrumb>
<div class="row space">    
    <div class="col-md-12 text-right">
        <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small>
    </div>
</div>
<div class="row space">
    <div class="col-md-6">
        <h2>Registrar Relación</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" md-raised-button routerLink="/caso/{{casoId}}/noticia-hecho" color="accent">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="this.generalForm">
          <form [formGroup]="this.relacionForm">
                <div class="row" >
                    <div class="col">
                        <select2 placeholder="Tipo de relación" name="tipo" [(options)]="tiposRelacion" (valueChange)="changeTipoRelacion($event)" [group]="relacionForm"> </select2 >
                    </div>
                    
                    <div class="col">
                        <select2 placeholder="Modalidad" name="modalidad" *ngIf="isImputadoVictimaDelito" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Delito" name="delito" *ngIf="isImputadoVictimaDelito" [(options)]="options" [group]="relacionForm" ></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Forma de comisión"  name="formaComision"*ngIf="isImputadoVictimaDelito" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col" >
                        <select2 placeholder="Imputado" name="imputado"*ngIf="isImputadoVictimaDelito" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                </div>
                <div class="row" *ngIf="isAsesorJuridicoVictima">
                    <div class="col">
                        <select2 placeholder="Víctima u ofendido" name="victima" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Asesor legal" [(options)]="options"></select2>
                    </div>
                </div>
                <div class="row" *ngIf="isDefensorImputado">
                    <div class="col">
                        <select2 placeholder="Víctima u ofendido" name="victima" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Defensor" [(options)]="options"></select2>
                    </div>
                </div>
                <div class="row" *ngIf="isRepresentanteVictima">
                    <div class="col">
                        <select2 placeholder="Víctima u ofendido" name="victima" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Representante" [(options)]="options"></select2>
                    </div>
                </div>
                <div class="row" *ngIf="isImputadoVictimaDelito">
                    <div class="col">
                        <select2 placeholder="Víctima u ofendido" name="victima" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Lugar" name="lugar" [(options)]="optionsNoticia.lugaresx" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Concurso del delito" name="concursoDelito" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Clasificación del delito" name="clasificacionDelitoOrden" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Elemento de comisión" name="elementosComision" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                </div>
                <div class="row" *ngIf="isImputadoVictimaDelito">
                    <div class="col">
                        <select2 placeholder="Clasificación" name="clasificacion" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Forma de acción" name="formaAccion" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Consumación" name="consumacion" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Grado de participación" name="gradoParticipacion" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Relación entre acusado y ofendido" name="relacionAcusadoOfendido" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                </div>
                <div class="row" *ngIf="isImputadoVictimaDelito">
                    <div class="col">
                        <select2 placeholder="Forma de conducta" name="formaConducta" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <select2 placeholder="Tipo de desaparición" name="tipoDesaparicion" [(options)]="options" [group]="relacionForm"></select2>
                    </div>
                    <div class="col">
                        <md-checkbox class="example-margin" name="flagrancia" formControlName="flagrancia">Flagrancia</md-checkbox>
                    </div>
                    <div class="col">
                        <md-checkbox class="example-margin" name="violenciaGenero" formControlName="violenciaGenero" (change)="changeViolenciaGenero($event)">Violencia de genero</md-checkbox>
                        <!-- <checkbox label="Violencia de genero" (valueChange)="changeViolenciaGenero($event)"></checkbox> -->
                    </div>
                </div>
          </form>

            <br/>
            <div class="row" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">
                <div class="col">
                    <h4>Violencia de genero</h4>
                        <div class="row">

                            <div class="col-md-3">
                                <select2 placeholder="Víctima de delincuencia organizada" name="victimaDelincuenciaOrganizada" [group]="relacionForm" ></select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Víctima de violencia de genero" name="victimaViolenciaGenero" [group]="relacionForm"></select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Víctima de trata" name="victimaTrata" [group]="relacionForm"></select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Víctima de acoso" name="victimaAcoso" [group]="relacionForm"></select2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <select2 placeholder="Orden de protección" name="ordenProteccion" [group]="relacionForm"></select2>
                            </div>
                        </div>
                </div>
            </div>
   
            <div class="row" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">
                <div class="col">
                    <h5>Efectos de violencia</h5>
                    <form [formGroup]="this.efectoViolenciaForm">
                        <div class="row">

                            <div class="col-md-3">
                                <select2 placeholder="Efecto" name="efecto" [group]="efectoViolenciaForm"></select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Detalle" name= "detalle" [group]="efectoViolenciaForm"></select2>
                            </div>

                        </div>
                       <div class="row">
                        <div class="col">
                         <button class="float-right m-1" color="accent" md-raised-button >Limpiar</button> 
                        <button class="float-right m-1" md-raised-button color="accent" _saving (saveFn)="save(efectoViolenciaForm.valid, efectoViolenciaForm.value)">Guardar</button>
                        </div>
                        
                        </div>

                    </form>

                    <div class="row">
                        <div class="col">
                            <div class="">
                              <md-table #table [dataSource]="efectoDataSource">
                                    <!-- Efecto Column -->
                                    <ng-container mdColumnDef="efecto">
                                        <md-header-cell *mdHeaderCellDef> Efecto </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.efecto}} </md-cell>
                                    </ng-container>

                                    <!-- Detalle Column -->
                                    <ng-container mdColumnDef="detalle">
                                        <md-header-cell *mdHeaderCellDef> Detalle </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.detalle}} </md-cell>
                                    </ng-container>

                                    <md-header-row *mdHeaderRowDef="efectoDisplayedColumns"></md-header-row>
                                    <md-row *mdRowDef="let row; columns: efectoDisplayedColumns;"></md-row>
                                </md-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <!--Trata de personas -->
            <div class="row" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">
                <div class="col">
                   <form [formGroup]="this.trataPersonasForm">

                    <h5>Trata de personas</h5>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="País de origen" [options]="options.paises" name="paisOrigen" [group]="trataPersonasForm">
                            </select2>
                            <select2 placeholder="País destino" [options]="options.paises" [group]="trataPersonasForm">
                            </select2>
                           
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Estado origen" [options]="options.estados" name="estadoOrigen" [group]="trataPersonasForm">
                            </select2>
                             <select2 placeholder="Estado destino" [options]="options.estados" name="estadoDestino" [group]="trataPersonasForm">
                            </select2>
 
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Municipio origen" [options]="options.municipios" name="municipioOrigen"  [group]="trataPersonasForm">
                            </select2>
                           <select2 placeholder="Municipio destino" [options]="options.municipios" name="municipioDestino" [group]="trataPersonasForm">
                            </select2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                         <button class="float-right m-1" color="accent" md-raised-button >Limpiar</button> 
                        <button class="float-right m-1" md-raised-button color="accent" _saving (saveFn)="save(trataPersonasForm.valid, trataPersonasForm.value)">Guardar</button>
                        </div>
                    </div>
                    </form>
                    <div class="row">
                        <div class="col">
                            <div class="">
                                <md-table #table [dataSource]="trataDataSource">
                                    <!-- Efecto Column -->
                                    <ng-container mdColumnDef="País de origen">
                                        <md-header-cell *mdHeaderCellDef> País de origen </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.paisOrigen}} </md-cell>
                                    </ng-container>

                                    <!-- Detalle Column -->
                                    <ng-container mdColumnDef="Estado de origen">
                                        <md-header-cell *mdHeaderCellDef> Estado de origen </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.estadoOrigen}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Municipio de origen">
                                        <md-header-cell *mdHeaderCellDef> Municipio de origen </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.estadoOrigen}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="País destino">
                                        <md-header-cell *mdHeaderCellDef> País destino </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.estadoOrigen}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Estado destino">
                                        <md-header-cell *mdHeaderCellDef> Estado destino </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.estadoOrigen}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Municipio destino">
                                        <md-header-cell *mdHeaderCellDef> Municipio destino </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.estadoOrigen}} </md-cell>
                                    </ng-container>

                                    <ng-container mdColumnDef="Tipo de trata">
                                        <md-header-cell *mdHeaderCellDef> Tipo de trata </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.estadoOrigen}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Transportación">
                                        <md-header-cell *mdHeaderCellDef> Transportación </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.estadoOrigen}} 
                                        </md-cell>
                                    </ng-container>

                            <md-header-row *mdHeaderRowDef="trataDisplayedColumns"></md-header-row>
                                    <md-row *mdRowDef="let row; columns: trataDisplayedColumns;"></md-row>
                                </md-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            
            <!--Hostigamiento y/o acoso -->
            <div class="row" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">

                <div class="col">
                    <h5>Hostigamiento y/o acoso</h5>
                    <form [formGroup]="this.hostigamientForm">

                        <div class="row">
                            <div class="col">
                                <select2 placeholder="Modalidad" name="modalidad" [group]="hostigamientForm">
                                </select2>

                            </div>
                            <div class="col">
                                <select2 placeholder="Ámbito" name="ambito"[group]="hostigamientForm">
                                </select2>

                            </div>
                            <div class="col">
                                <select2 placeholder="Conducta" name="conducta" [group]="hostigamientForm">
                                </select2>

                            </div>
                            <div class="col">
                                <select2 placeholder="Detalle de conducta" name="detalleConducta" [group]="hostigamientForm">
                                </select2>
                            </div>
                            <div class="col">
                                <select2 placeholder="Testigo" name="testigo"[group]="hostigamientForm">
                                </select2>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col">
                             <button class="float-right m-1" color="accent" md-raised-button >Limpiar</button> 
                            <button class="float-right m-1" md-raised-button color="accent" _saving (saveFn)="save(hostigamientForm.valid, hostigamientForm.value)">Guardar</button>
                            </div>
                        </div>
                       </form> 
                    <div class="row">
                        <div class="col">
                            <div class="">
                                <md-table #table [dataSource]="hostigamientoDataSource">
                                    <!-- Efecto Column -->
                                    <ng-container mdColumnDef="Modalidad">
                                        <md-header-cell *mdHeaderCellDef> Modalidad </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.modalidad}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Ámbito">
                                        <md-header-cell *mdHeaderCellDef> Ámbito </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.ambito}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Conducta">
                                        <md-header-cell *mdHeaderCellDef> Conducta </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.conducta}} </md-cell>
                                    </ng-container>  

                                    <ng-container mdColumnDef="Detalle">
                                        <md-header-cell *mdHeaderCellDef> Detalle </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.detalle}} </md-cell>
                                    </ng-container>
                                    <ng-container mdColumnDef="Testigo">
                                        <md-header-cell *mdHeaderCellDef> Testigo </md-header-cell>
                                        <md-cell *mdCellDef="let element"> {{element.testigo}} </md-cell>
                                    </ng-container> 

                                    <md-header-row *mdHeaderRowDef="hostigamientoDisplayedColumns"></md-header-row>
                                    <md-row *mdRowDef="let row; columns: hostigamientoDisplayedColumns;"></md-row>
                                </md-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end space">
                <div class="col-sm-auto" [mdTooltip]="validateMsg(relacionForm)" (mouseenter)="validateForm(relacionForm)" mdTooltipPosition="above">
                    <button md-raised-button color="accent" _saving (saveFn)="edit(relacionForm.valid, relacionForm.value)" [disabled]="!relacionForm.valid || [saving]" *ngIf="id != null">Editar</button>    
                    <button md-raised-button color="accent" _saving (saveFn)="save(relacionForm.valid, relacionForm.value)" [disabled]="!relacionForm.valid || [saving]" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button md-button routerLink="/caso/{{casoId}}/noticia-hecho">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>


