<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<div class="row space">
    <div class="col-md-12 text-right">
        <!-- <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small> -->
    </div>
</div>
<div class="row space">
    <div class="col-md-6">
        <h2>Registrar Relación</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" mat-raised-button routerLink="/caso/{{casoId}}/noticia-hecho/relaciones" color="accent">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="form">
            <div class="row" >
                <div class="col">
                    <select2
                        placeholder="Tipo de relación"
                        name="tipo"
                        hintStart="Campo obligatorio"
                        [(options)]="tiposRelacion"
                        (valueChange)="changeTipoRelacion($event)"
                        [group]="form.controls.tipoRelacionPersona">

                    </select2 >
                </div>

                <div class="col">
                    <select2
                        placeholder="Modalidad"
                        name="id"
                        hintStart="Campo obligatorio"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="optionsRelacion.modalidadDelito"
                        [group]="form.controls.modalidadDelito">

                    </select2>
                </div>
                <div class="col">
                    <select2
                        placeholder="Delito"
                        name="id"
                        hintStart="Campo obligatorio"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="optionsNoticia.delitos"
                        [group]="form.controls.delitoCaso" >

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Arma"
                        name="id"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="optionsNoticia.armas"
                        [group]="form.controls.tipoRelacionPersona.controls.armaTipoRelacionPersona.controls[0].controls.arma">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Vehículo"
                        name="id"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="optionsNoticia.vehiculos"
                        [group]="form.controls.tipoRelacionPersona.controls.vehiculoTipoRelacionPersona.controls[0].controls.vehiculo">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isAsesorJuridicoVictima">
                <div class="col">
                    <select2
                        placeholder="Víctima u ofendido"
                        name="id"
                        hintStart="Campo obligatorio"
                        [(options)]="optionsNoticia.victimas"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCaso">

                    </select2>
                </div>
                <div class="col">
                    <select2
                        placeholder="Asesor legal"
                        [(options)]="optionsNoticia.asesoresPublicos"
                        name="id"
                        hintStart="Campo obligatorio"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCasoRelacionada">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isDefensorImputado">
                <div class="col">
                    <select2
                        placeholder="Víctima u ofendido"
                        name="id"
                        hintStart="Campo obligatorio"
                        [(options)]="optionsNoticia.victimas"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCaso">

                    </select2>
                </div>
                <div class="col">
                    <select2
                        placeholder="Defensor"
                        [(options)]="optionsNoticia.defensoresPublicos"
                        name="id"
                        hintStart="Campo obligatorio"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCasoRelacionada">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isRepresentanteVictima">
                <div class="col">
                    <select2
                        placeholder="Víctima u ofendido"
                        name="id"
                        hintStart="Campo obligatorio"
                        [(options)]="optionsNoticia.victimas"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCaso">

                    </select2>
                </div>
                <div class="col">
                    <select2
                        placeholder="Representante"
                        [(options)]="optionsNoticia.representantesLegales"
                        name="id"
                        hintStart="Campo obligatorio"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCasoRelacionada">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isImputadoVictimaDelito">
                <div class="col">
                    <select2
                        placeholder="Forma de comisión"
                        name="id"
                        hintStart="Campo obligatorio"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="optionsRelacion.formaComision"
                        [group]="form.controls.formaComision">

                    </select2>
                </div>
                <div class="col" >
                    <select2
                        placeholder="Imputado"
                        name="id"
                        hintStart="Campo obligatorio"
                        *ngIf="isImputadoVictimaDelito"
                        [(options)]="optionsNoticia.imputados"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCasoRelacionada">

                    </select2>
                </div>
                <div class="col">
                    <select2
                        placeholder="Víctima u ofendido"
                        name="id"
                        hintStart="Campo obligatorio"
                        [(options)]="optionsNoticia.victimas"
                        [group]="form.controls.tipoRelacionPersona.controls.personaCaso">

                    </select2>
                </div>
                <div class="col">
                    <select2
                        placeholder="Lugar"
                        name="id"
                        hintStart="Campo obligatorio"
                        [(options)]="optionsNoticia.lugares"
                        [group]="form.controls.tipoRelacionPersona.controls.lugarTipoRelacionPersona.controls[0].controls.lugar">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Concurso del delito"
                        name="id"
                        [(options)]="optionsRelacion.concursoDelito"
                        [group]="form.controls.concursoDelito">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isImputadoVictimaDelito">
                <div class="col">
                    <select2 placeholder="Clasificación del delito"
                        name="id"
                        [(options)]="optionsRelacion.clasificacionDelitoOrden"
                        [group]="form.controls.clasificacionDelitoOrden">

                    </select2>
                </div>
                <div class="col">
                    <select2
                        placeholder="Elementos de comisión"
                        name="id"
                        hintStart="Campo obligatorio"
                        [(options)]="optionsRelacion.elementoComision"
                        [group]="form.controls.elementoComision">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Clasificación"
                        name="id"
                        [(options)]="optionsRelacion.clasificacionDelito"
                        [group]="form.controls.clasificacionDelito">

                    </select2>
                </div>
                <div class="col">
                    <select2
                        placeholder="Forma de acción"
                        name="id"
                        hintStart="Campo obligatorio"
                        [(options)]="optionsRelacion.formaAccion"
                        [group]="form.controls.formaAccion">

                    </select2>
                </div>

                <div class="col">
                    <select2 placeholder="Consumación"
                        name="consumacion"
                        [(options)]="optionsRelacion.matrizDesaparicionConsumacion.consumacion"
                        [group]="form.controls.desaparicionConsumacion"
                        (valueChange)="optionsRelacion.matrizDesaparicionConsumacion.find($event,'consumacion')">

                    </select2>
                </div>
            </div>
            <div class="row" *ngIf="isImputadoVictimaDelito">
                <div class="col">
                    <select2 placeholder="Grado de participación"
                        name="id"
                        [(options)]="optionsRelacion.gradoParticipacion"
                        [group]="form.controls.gradoParticipacion">

                    </select2>
                </div>

                <div class="col">
                    <select2 placeholder="Relación entre acusado y ofendido"
                        name="relacionAcusado"
                        [(options)]="optionsRelacion.matrizDesaparicionConsumacion.relacionAcusado"
                        [group]="form.controls.desaparicionConsumacion"
                        (valueChange)="optionsRelacion.matrizDesaparicionConsumacion.find($event,'relacionAcusado')">

                    </select2>
                </div>
                <div class="col">
                    <select2 placeholder="Forma de conducta"
                        name="id"
                        [(options)]="optionsRelacion.formaConducta"
                        [group]="form.controls.formaConducta">

                    </select2>
                </div>

                <div class="col">
                    <select2 placeholder="Tipo de desaparición"
                        name="tipoDesaparicion"
                        [(options)]="optionsRelacion.matrizDesaparicionConsumacion.tipoDesaparicion"
                        [group]="form.controls.desaparicionConsumacion"
                        (valueChange)="optionsRelacion.matrizDesaparicionConsumacion.find($event,'tipoDesaparicion')">

                    </select2>
                </div>
                <div class="col" [formGroup]="form">
                    <mat-checkbox class="example-margin" name="flagrancia" formControlName="flagrancia" >Flagrancia</mat-checkbox>
                    <mat-checkbox class="example-margin" formControlName="tieneViolenciaGenero" (change)="changeViolenciaGenero($event)">Violencia de género</mat-checkbox>
                    <!-- <checkbox label="Violencia de genero" name="tieneViolenciaGenero"  (valueChange)="changeViolenciaGenero($event)"></checkbox> -->
                </div>
            </div>
            <br/>
            <div class="row space" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">
                <div class="col">
                    <h4>Violencia de género</h4>
                        <div class="row">

                            <div class="col-md-3">
                                <select2 placeholder="Víctima de delincuencia organizada"
                                    name="delincuenciaOrganizada"
                                    [group]="formRelacion.violenciaGenero"
                                    [options]="optionsRelacion.matrizViolenciaGenero.delincuenciaOrganizada"
                                    (valueChange)="optionsRelacion.matrizViolenciaGenero.find($event, 'delincuenciaOrganizada')">

                                </select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Víctima de violencia de género"
                                    name="violenciaGenero"
                                    [group]="formRelacion.violenciaGenero"
                                    [options]="optionsRelacion.matrizViolenciaGenero.violenciaGenero"
                                    (valueChange)="optionsRelacion.matrizViolenciaGenero.find($event, 'violenciaGenero')">

                                </select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Víctima de trata"
                                    name="victimaTrata"
                                    [group]="formRelacion.violenciaGenero"
                                    [options]="optionsRelacion.matrizViolenciaGenero.victimaTrata"
                                    (valueChange)="optionsRelacion.matrizViolenciaGenero.find($event, 'victimaTrata')">

                                </select2>
                            </div>
                            <div class="col-md-3">
                                <select2 placeholder="Víctima de acoso"
                                    name="victimaAcoso"
                                    [group]="formRelacion.violenciaGenero"
                                    [options]="optionsRelacion.matrizViolenciaGenero.victimaAcoso"
                                    (valueChange)="optionsRelacion.matrizViolenciaGenero.find($event, 'victimaAcoso')">

                                </select2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <select2 placeholder="Orden de protección"
                                    name="ordenProteccion"
                                    [group]="formRelacion.violenciaGenero"
                                    [options]="optionsRelacion.matrizViolenciaGenero.ordenProteccion"
                                    (valueChange)="optionsRelacion.matrizViolenciaGenero.find($event, 'ordenProteccion')">

                                </select2>
                            </div>
                        </div>
                </div>
            </div>

            <div class="row space" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">
                <div class="col">
                    <h5>Efectos de violencia</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <select2 placeholder="Efecto"
                                name="efecto"
                                [group]="formRelacion.efectoDetalle"
                                [options]="optionsRelacion.matrizEfectoDetalle.efecto"
                                (valueChange)="optionsRelacion.matrizEfectoDetalle.find($event, 'efecto')">

                            </select2>
                        </div>
                        <div class="col-md-3">
                            <select2 placeholder="Detalle"
                                name="detalle"
                                [group]="formRelacion.efectoDetalle"
                                [options]="optionsRelacion.matrizEfectoDetalle.detalle"
                                (valueChange)="optionsRelacion.matrizEfectoDetalle.find($event, 'detalle')">

                            </select2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="float-right m-1" color="accent" mat-raised-button (click)="formRelacion.efectoDetalle.reset()">Limpiar</button>
                            <button class="float-right m-1" mat-raised-button color="accent" (click)="addEfectoDetalle(formRelacion.efectoDetalle.value)" [disabled]="false">Agregar</button>
                        </div>
                    </div>


                    <div class="row space">
                        <div class="col">
                            <div class="">
                              <mat-table #table [dataSource]="colections.sourceEfectoDetalle">
                                    <!-- Efecto Column -->
                                    <ng-container matColumnDef="efecto">
                                        <mat-header-cell *matHeaderCellDef> Efecto </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.efecto}} </mat-cell>
                                    </ng-container>

                                    <!-- Detalle Column -->
                                    <ng-container matColumnDef="detalle">
                                        <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.detalle}} </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="efectoDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: efectoDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Trata de personas -->
            <div class="row space" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">
                <div class="col">
                    <h5>Trata de personas</h5>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="País de origen"
                                [options]="optionsService.paises"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.paisOrigen"
                                (valueChange)="changePais($event,'arrEstadosOrigen')">
                            </select2>
                            <select2 placeholder="País destino"
                                [options]="optionsService.paises"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.paisDestino"
                                (valueChange)="changePais($event,'arrEstadosDestino')" >
                            </select2>

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Estado origen"
                                [options]="arrEstadosOrigen"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.estadoOrigen"
                                (valueChange)="changeEstado($event,'arrMunicipiosOrigen')">
                            </select2>
                             <select2 placeholder="Estado destino"
                                [options]="arrEstadosDestino"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.estadoDestino"
                                (valueChange)="changeEstado($event,'arrMunicipiosDestino')">
                            </select2>

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Municipio origen"
                                [options]="arrMunicipiosOrigen"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.municipioOrigen">
                            </select2>
                           <select2 placeholder="Municipio destino"
                                [options]="arrMunicipiosDestino"
                                name="id"
                                [group]="formRelacion.trataPersonasForm.controls.municipioDestino">
                            </select2>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Tipo"
                                [options]="optionsRelacion.matrizTipoTransportacion.tipo"
                                name="tipo"
                                [group]="formRelacion.trataPersonasForm"
                                (valueChange)="optionsRelacion.matrizTipoTransportacion.find($event, 'tipo')">
                            </select2>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <select2 placeholder="Transportación"
                                [options]="optionsRelacion.matrizTipoTransportacion.transportacion"
                                name="transportacion"
                                [group]="formRelacion.trataPersonasForm"
                                (valueChange)="optionsRelacion.matrizTipoTransportacion.find($event, 'transportacion')">
                            </select2>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                        <button class="float-right m-1" color="accent" mat-raised-button (click)="formRelacion.trataPersonasForm.reset()">Limpiar</button>
                        <button class="float-right m-1"
                            mat-raised-button color="accent"
                            (click)="addTrataPersonas(formRelacion.trataPersonasForm.value)">
                            Agregar
                        </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="">
                                <mat-table #table [dataSource]="colections.sourceTrataPersonas">

                                    <ng-container matColumnDef="País de origen">
                                        <mat-header-cell *matHeaderCellDef> País de origen </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{ element.paisOrigen }}
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="Estado de origen">
                                        <mat-header-cell *matHeaderCellDef> Estado de origen </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{ element.estadoOrigen }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Municipio de origen">
                                        <mat-header-cell *matHeaderCellDef> Municipio de origen </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{ element.municipioOrigen }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="País destino">
                                        <mat-header-cell *matHeaderCellDef> País destino </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{ element.paisDestino }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Estado destino">
                                        <mat-header-cell *matHeaderCellDef> Estado destino </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{ element.estadoDestino  }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Municipio destino">
                                        <mat-header-cell *matHeaderCellDef> Municipio destino </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{ element.municipioDestino }}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Tipo de trata">
                                        <mat-header-cell *matHeaderCellDef> Tipo de trata </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{ element.tipo }}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Transportación">
                                        <mat-header-cell *matHeaderCellDef> Transportación </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            {{ element.transportacion }}
                                        </mat-cell>
                                    </ng-container>

                            <mat-header-row *matHeaderRowDef="trataDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: trataDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <!--Hostigamiento y/o acoso -->
            <div class="row space" *ngIf="isImputadoVictimaDelito && isViolenciaGenero">

                <div class="col">
                    <h5>Hostigamiento y/o acoso</h5>
                    <div class="row">
                        <div class="col">
                            <select2 placeholder="Modalidad"
                                name="modalidad"
                                [group]="formRelacion.hostigamiento"
                                [options]="optionsRelacion.matrizModalidadAmbito.modalidad"
                                (valueChange)="optionsRelacion.matrizModalidadAmbito.find($event, 'modalidad')">
                            </select2>

                        </div>
                        <div class="col">
                            <select2 placeholder="Ámbito"
                                name="ambito"
                                [group]="formRelacion.hostigamiento"
                                [options]="optionsRelacion.matrizModalidadAmbito.ambito"
                                (valueChange)="optionsRelacion.matrizModalidadAmbito.find($event, 'ambito')">
                            </select2>

                        </div>
                        <div class="col">
                            <select2 placeholder="Conducta"
                                name="conducta"
                                [group]="formRelacion.hostigamiento"
                                [options]="optionsRelacion.matrizConductaDetalle.conducta"
                                (valueChange)="optionsRelacion.matrizConductaDetalle.find($event, 'conducta')">
                            </select2>

                        </div>
                        <div class="col">
                            <select2 placeholder="Detalle de conducta"
                                name="detalle"
                                [group]="formRelacion.hostigamiento"
                                [options]="optionsRelacion.matrizConductaDetalle.detalle"
                                (valueChange)="optionsRelacion.matrizConductaDetalle.find($event, 'detalle')">
                            </select2>
                        </div>
                        <div class="col">
                            <select2 placeholder="Testigo"
                                name="testigo"
                                [group]="formRelacion.hostigamiento"
                                [(options)]="optionsNoticia.testigos">
                            </select2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="float-right m-1" color="accent" mat-raised-button (click)="formRelacion.hostigamiento.reset()">Limpiar</button>
                            <button class="float-right m-1" mat-raised-button color="accent" (click)="addHostigamiento(formRelacion.hostigamiento.value)">Agregar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="">
                                <mat-table #table [dataSource]="colections.sourceHostigamiento">

                                    <ng-container matColumnDef="Modalidad">
                                        <mat-header-cell *matHeaderCellDef> Modalidad </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element?.modalidadAmbito?.modalidad}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Ámbito">
                                        <mat-header-cell *matHeaderCellDef> Ámbito </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element?.modalidadAmbito?.ambito}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Conducta">
                                        <mat-header-cell *matHeaderCellDef> Conducta </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element?.conductaDetalle?.conducta}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Detalle">
                                        <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element?.conductaDetalle?.detalle}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Testigo">
                                        <mat-header-cell *matHeaderCellDef> Testigo </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element?.testigo?.nombre}} </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="hostigamientoDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: hostigamientoDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end space">
                <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)" matTooltipPosition="above">
                    <button mat-raised-button color="accent" _saving [saveFn]="edit.bind(this, form.valid, form.value)" [disabled]="!form.valid || [saving]" *ngIf="id != null">Guardar</button>
                    <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid || [saving]" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button mat-button routerLink="/caso/{{casoId}}/noticia-hecho/relaciones">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>


