<div class="row justify-content-between">
    <div class="col-sm-auto align-self-center">
        <h3 class="mb-0">Armas</h3>
    </div>
    <div class="col-sm-auto">
        <button mat-raised-button routerLink="/caso/{{casoId}}/armas/create" color="accent">Agregar arma</button>
    </div>
</div>
<mat-paginator #paginator
    [length]="pag"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePage($event)">
  </mat-paginator>
<mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

    <!-- Arma Column -->
    <ng-container matColumnDef="Arma">
        <mat-header-cell *matHeaderCellDef> Arma</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.clase}} </mat-cell>
    </ng-container>

    <!-- Tipo Column -->
    <ng-container matColumnDef="Tipo">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
    </ng-container>

    <!-- Marca Column -->
    <ng-container matColumnDef="Marca">
        <mat-header-cell *matHeaderCellDef> Marca y/o Modelo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.serie}} </mat-cell>
    </ng-container>

    <!-- Calibre Column -->
    <ng-container matColumnDef="Calibre">
        <mat-header-cell *matHeaderCellDef> Calibre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.calibreMecanismo != null ? element.calibreMecanismo.calibre : ""}} </mat-cell>

        <!-- <mat-cell *matCellDef="let element"> {{element.calibreMecanismo.calibre || ""}} </mat-cell> -->
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/caso/{{casoId}}/armas/{{row.id}}"></mat-row>
</mat-table>
