<div>
    <div class="row">
        <div class="col-md-4">
            <text label="Número de referencia" id=""></text>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>I. Datos de identificación del primer responsable</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <text label="Nombre del primer responsable" id=""></text>
        </div>
        <div class="col-md-4">
            <text label="Institución de la que proviene" id=""></text>
        </div>
        <div class="col-md-4">
            <text label="Entidad, Municipio" id=""></text>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-5">
            <text label="Clave Única de Identificación Policial (CUIP)" id=""></text>
        </div>
        <div class="col-md-5">
            <button mat-raised-button color="accent">Agregar</button>
        </div>
    </div>    
    
    <div class="row justify-content-center">
        <div class="col-md-11">
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="cuip">
                    <mat-header-cell *matHeaderCellDef> CUIP</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.cuip}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="institucion">
                    <mat-header-cell *matHeaderCellDef>Institución</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.institucion}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="entidadMunicipio">
                    <mat-header-cell *matHeaderCellDef>Entidad, Municipio</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.entidadMunicipio}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span><mat-icon class="button-menu mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon></span> </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;" routerLink=""></mat-row>
            </mat-table>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <h2>II. Conocimientoel hecho al primer responsable</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <select2 placeholder="¿Cómo se enteró del hecho?" name="" [options]="
                [
                    {label:'Fragrancia',value:'Fragrancia'},
                    {label:'Fragrancia_1',value:'Fragrancia_1'}
                ]">
            </select2>
        </div>
        <div class="col-md-4">
            <text label="Especifique" id="Especifique" name=""> </text>
        </div>
        <div class="col-md-3">
            <date label="Fecha de conocimiento" name="" placeholder="dd/mm/aaaa"></date>
        </div>
        <div class="col-md-2">
            <text label="Hora de conocimiento" name="" placeholder="hh:mm"> </text>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <h2>III. Arribo al lugar de la intervención e identificación de riesgos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <date label="Fecha de arribo" name="" placeholder="dd/mm/aaaa"></date>
        </div>
        <div class="col-md-1">
            <text label="Hora de arribo" name="" placeholder="hh:mm"> </text>
        </div>
        <div class="col-md-3">
            <select2 placeholder="Entidad" name="" [options]="
                [
                    {label:'Veracruz',value:'Veracruz'},
                    {label:'Puebla',value:'Puebla'}
                ]">
            </select2>
        </div>
        <div class="col-md-3">
            <select2 placeholder="Municipio" name="" [options]="
                [
                    {label:'Xalapa',value:'Xalapa'},
                    {label:'Veracruz',value:'Veracruz'}
                ]">
            </select2>
        </div>
        <div class="col-md-2">
            <text label="Localidad" name=""> </text>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <text label="Calle" name=""> </text>
        </div>
        <div class="col-md-1">
            <text label="Num. Interior" name=""> </text>
        </div>
        <div class="col-md-1">
            <text label="Num. Exterior" name=""> </text>
        </div>
        <div class="col-md-3">
            <text label="Entre calle y calle" name=""> </text>
        </div>
        <div class="col-md-3">
            <text label="Tramo carretero (Si aplica)" name=""> </text>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <text label="Tipo" name=""> </text>
        </div>
        <div class="col-md-3">
            <text label="KM" name=""> </text>
        </div>
        <div class="col-md-3">
            <text label="Latitud (Con 6 decimales)" name=""> </text>
        </div>
        <div class="col-md-3">
            <text label="Longitud (Con 6 decimales)" name=""> </text>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Tipos de riesgos identificados en el lugar</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3">
            <select2 placeholder="Riesgo para" name="" [options]="
                [
                    {label:'Víctimas',value:'Víctimas'},
                    {label:'Personas',value:'Personas'}
                ]">
            </select2>
        </div>
        <div class="col-md-3">
            <select2 placeholder="Tipo" name="" [options]="
                [
                    {label:'Salud',value:'Salud'},
                    {label:'Hogar',value:'Hogar'}
                ]">
            </select2>
        </div>
        <div class="col-md-3">
            <text label="Especifique" name=""> </text>
        </div>
        <div class="col-md-3">
            <button mat-raised-button color="accent">Agregar</button>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-md-9">
            <mat-table [dataSource]="dataSource2">
                <ng-container matColumnDef="riesgoPara">
                    <mat-header-cell *matHeaderCellDef> Riesgo para</mat-header-cell>
                    <mat-cell *matCellDef="let element2"> {{element2.riesgoPara}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                    <mat-cell *matCellDef="let element2"> {{element2.tipo}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let element2"> <span><mat-icon class="button-menu mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon></span> </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columns2"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns2;" routerLink=""></mat-row>
            </mat-table>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <select2 placeholder="Solicitó apoyo de:" name="" [options]="
                [
                    {label:'Bomberos',value:'Bomberos'},
                    {label:'Cruz Roja',value:'Roja'}
                ]">
            </select2>
        </div>
        <div class="col-md-3">
            <text label="Número económico" name=""></text>
        </div>
        <div class="col-md-3">
            <text label="Especifique" name=""></text>
        </div>
        <div class="col-md-3">
            <button mat-raised-button color="accent">Agregar</button>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-9">
            <mat-table [dataSource]="dataSource3">
                <ng-container matColumnDef="apoyo">
                    <mat-header-cell *matHeaderCellDef>Apoyo de</mat-header-cell>
                    <mat-cell *matCellDef="let element3"> {{element3.apoyo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nEconomico">
                    <mat-header-cell *matHeaderCellDef>Número económico</mat-header-cell>
                    <mat-cell *matCellDef="let element3"> {{element3.nEconomico}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let element3"> <span><mat-icon class="button-menu mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon></span> </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columns3"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns3;" routerLink=""></mat-row>
            </mat-table>
        </div>
    </div>

    <div class="row space"></div>
    <div class="row">
        <div class="col-md-12">
            <h2>Croquis del lugar de intervención</h2>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="changeLocation($event)" [zoom]="zoom" style="height: 400px; width: 100%;" >
                 <agm-marker [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
            </agm-map>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row">
        <div class="col-md-12">
            <h2>Linea de tiempo</h2>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <mat-table [dataSource]="dataSource4">
                <ng-container matColumnDef="evento">
                    <mat-header-cell *matHeaderCellDef>Apoyo de</mat-header-cell>
                    <mat-cell *matCellDef="let element4"> {{element4.evento}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef>Número económico</mat-header-cell>
                    <mat-cell *matCellDef="let element4"> {{element4.fecha}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="hora">
                    <mat-header-cell *matHeaderCellDef>Número económico</mat-header-cell>
                    <mat-cell *matCellDef="let element4"> {{element4.hora}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let element4"> <span><mat-icon class="button-menu mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon></span> </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columns4"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns4;" routerLink=""></mat-row>
            </mat-table>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row">
        <div class="col-md-12">
            <h2>Narración de los hechos por el primer responsable</h2>
        </div>
        <div class="col-md-12">
            <text label="Narración" name=""  [group]=""></text>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row">
        <div class="col-md-12">
            <h2>Acciones realizadas</h2>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row">
        <div class="col-md-3">
            <span>Protección</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Resguardo</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Preservanción del lugar de intervención llenar sección 6</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Informar sobre echos a favor(anexo 1)</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Detenido',value:'Sí'},
                    {label:'N/A',value:'No'}
                ]" 
                name="">    
            </radiobutton>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row">
        <div class="col-md-3">
            <span>Protección</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Resguardo</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Preservanción del lugar de intervención llenar sección 6</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Informar sobre echos a favor(anexo 1)</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Detenido',value:'Sí'},
                    {label:'N/A',value:'No'}
                ]" 
                name="">    
            </radiobutton>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row">
        <div class="col-md-3">
            <span>Protección</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Resguardo</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Preservanción del lugar de intervención llenar sección 6</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Informar sobre echos a favor(anexo 1)</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Detenido',value:'Sí'},
                    {label:'N/A',value:'No'}
                ]" 
                name="">    
            </radiobutton>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row">
        <div class="col-md-3">
            <span>Protección</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Resguardo</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Preservanción del lugar de intervención llenar sección 6</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'},
                    {label:'N/A',value:'NA'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-3">
            <span>Informar sobre echos a favor(anexo 1)</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Detenido',value:'Sí'},
                    {label:'N/A',value:'No'}
                ]" 
                name="">    
            </radiobutton>
        </div>
    </div>
    <div class="row space"></div>
    <div class="row">
        <div class="col-md-12">
            <h2>VI. Preservación del lugar de la inverción</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <date label="Fecha de conocimiento" name="" placeholder="dd/mm/aaaa"></date>
        </div>
        <div class="col-md-3">
            <text label="Hora de conocimiento" name="" placeholder="hh:mm"> </text>
        </div>
        <div class="col-md-12">
            <p>Primer respondiente que realiza el acordonamiento del lugar de la intervención (Llenar sólo en caso de no ser el mismo que llena este formato)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span>Acordonamiento</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-2">
            <text label="CUIP" name=""> </text>
        </div>
        o
        <div class="col-md-2">
            <text label="Apellido paterno" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Apellido materno" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Nombre(s)" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Adcripción" name=""> </text>
        </div>
        <div class="col-md-12">
            <p>Primer respondiente que realiza el acordonamiento del lugar de la intervención (Llenar sólo en caso de no ser el mismo que llena este formato)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span>Resguardo</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-2">
            <text label="CUIP" name=""> </text>
        </div>
        o
        <div class="col-md-2">
            <text label="Apellido paterno" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Apellido materno" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Nombre(s)" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Adcripción" name=""> </text>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>VI. Solicitud de certificado(s) médico(s)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <date label="Fecha de conocimiento" name="" placeholder="dd/mm/aaaa"></date>
        </div>
        <div class="col-md-2">
            <text label="Hora de conocimiento" name="" placeholder="hh:mm"> </text>
        </div>
        <div class="col-md-6">
            <text label="Médico de la agencia del ministerio público en la que se realiza la puesta a disposición" name="" placeholder="hh:mm"> </text>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span>Médico de otra agencia del ministerio público</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-2">
            <text label="Nombre de la agencia" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Municipio" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Calle" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Número" name=""> </text>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span>Médico particular</span>
            <radiobutton
                class="col-md-3"
                [radios]="[
                    {label:'Sí',value:'Sí'},
                    {label:'No',value:'No'}
                ]" 
                name="">    
            </radiobutton>
        </div>
        <div class="col-md-2">
            <text label="Municipio" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Calle" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Número" name=""> </text>
        </div>
        <div class="col-md-12">
            <p>Primer respondiente que realiza la solicitud (Llenar sólo en caso de no ser el mismo que llena este formato)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <text label="CUIP" name=""> </text>
        </div>
        o
        <div class="col-md-2">
            <text label="Apellido paterno" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Apellido materno" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Nombre(s)" name=""> </text>
        </div>
        <div class="col-md-2">
            <text label="Adcripción" name=""> </text>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-auto">
            <button class="" mat-raised-button color="accent">Guardar</button>
        </div>
        <div class="col-sm-auto">
            <button class="" mat-raised-button routerLink="/caso/1313/informe-homologado" color="">Cancelar</button> 
        </div>
    </div>
</div>
