<md-toolbar color="primary" class="mat-drawer-container mat-sidenav-container mat-drawer-transition mat-elevation-z8">
    <span>
        <md-list-item>SIGI</md-list-item>
    </span>
</md-toolbar>
<div class="container">
	<div class="row justify-content-md-center align-items-center" style="height: 75%;">
		<div class="col-md-8 col">
			<md-card>
				<md-card-header>
					<h1 class="full-width text-center">Inicio de sesión</h1>
				</md-card-header>
				<md-card-content>
					<form (submit)="login()">
						<div class="space">
							<text label="Usuario" [(value)]="usuario"></text>
							<text label="Contraseña" [(value)]="pass"></text>
							<checkbox label="Recordarme"></checkbox>
						</div>
						<div class="space">
							<button class="full-width btn-lg" md-raised-button color="accent" type="submit">Iniciar sesión</button>
						</div>
						<div class="space text-center">
							<a href="">¿Olivdaste tu contraseña?</a>
						</div>
					</form>
				</md-card-content>
				<md-card-actions>
				</md-card-actions>
			</md-card>

	</div>
</div>