<h2 md-dialog-title>
    Carga de documentos</h2>
<md-dialog-content>
    <div class="container h-100">
        <div class="row" *ngIf="uploader.queue.length == 0">
            <div ng2FileSelect ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
                class="my-drop-zone container4">
                <h5>Arrastre sus documentos o de click en esta área</h5>
                <input type="file" ng2FileSelect [uploader]="uploader"/>
            </div>
        </div>
        <div class="row margin-text">
            <table class="table" *ngIf="uploader.queue.length != 0">
                <thead>
                    <tr>
                        <th width="50%">Nombre del archivo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td>{{item?.file?.name}}</td>
                        <td><button md-icon-button mdTooltip="Eliminar" (click)="uploader.clearQueue()"><md-icon>clear</md-icon></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" *ngIf="isUploading">
            <div class="col">
                Progreso:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>
    </div>
</md-dialog-content>
<md-dialog-actions class="d-flex justify-content-end">
    <div class="p-2">
        <button md-raised-button md-dialog-close color="accent">Guardar</button>
    </div>
    <div class="p-2">
        <button md-button (click)="close()">Cerrar</button>
    </div>
</md-dialog-actions>