<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<div class="row space">    
    <div class="col-md-12 text-right">
        <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small>
    </div>
</div>
<div class="row space">
    <div class="col-md-6">
        <h2>Entrevistas</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" md-raised-button routerLink="/caso/{{casoId}}/detalle" color="accent">Regresar</button>
    </div>
</div>
<div class="row space justify-content-end">
    <div class="col-md-auto">
        <search></search>
    </div>
    <div class="col-md-auto">
        <button md-raised-button color="accent" routerLink="/caso/{{casoId}}/entrevista/create">Agregar entrevista</button>
    </div>
</div>
<md-paginator #paginator [length]="data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>
<md-table #table [dataSource]="dataSource">
    <ng-container mdColumnDef="entrevistado">
        <md-header-cell *mdHeaderCellDef> Entrevistado </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.nombreEntrevistado}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="calidadEntrevistado">
        <md-header-cell *mdHeaderCellDef> Calidad entrevistado </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.tipoInterviniente.tipo}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="creadoPor">
        <md-header-cell *mdHeaderCellDef> Creado por </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.createdBy}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="fechaCreacion">
        <md-header-cell *mdHeaderCellDef> Fecha de creación </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.created | date:'MM/dd/yyyy'}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="columns"></md-header-row>
    <md-row *mdRowDef="let row; columns: columns;" routerLink="{{row.id}}/view"></md-row>
</md-table>