<breadcrumb [rutas]="breadcrumb"></breadcrumb>
<div class="row space">    
    <div class="col-md-12 text-right">
        <small>NIC:CAI/AIN/00/UAI/268/00126/17/08 - NUC: CAI/AIN/00/UAI/268/00126/17/08</small>
    </div>
</div>
<div class="row space">
    <div class="col-md-6">
        <h2>Entrevistas</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" mat-raised-button routerLink="/caso/{{casoId}}/detalle" color="accent">Regresar</button>
    </div>
</div>
<div class="row space justify-content-end">
    <div class="col-md-auto">
        <search></search>
    </div>
    <div class="col-md-auto">
        <button mat-raised-button color="accent" routerLink="/caso/{{casoId}}/entrevista/create">Agregar entrevista</button>
    </div>
</div>
<mat-paginator #paginator [length]="data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="entrevistado">
        <mat-header-cell *matHeaderCellDef> Entrevistado </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombreEntrevistado}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calidadEntrevistado">
        <mat-header-cell *matHeaderCellDef> Calidad entrevistado </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tipoInterviniente.tipo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creadoPor">
        <mat-header-cell *matHeaderCellDef> Creado por </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdBy}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaCreacion">
        <mat-header-cell *matHeaderCellDef> Fecha de creación </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.created | date:'MM/dd/yyyy'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;" routerLink="{{row.id}}/view"></mat-row>
</mat-table>