<div class="row">
    <div class="col-md-12">
        <h3>Titulares</h3>
    </div>
</div>
<div class="">
    <mat-paginator #paginator [length]="pag" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="operador">
            <mat-header-cell *matHeaderCellDef> Operador </mat-header-cell>
            <mat-cell *matCellDef="let element"> <small>{{element.propietario?.cargo}}</small> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="oficina">
            <mat-header-cell *matHeaderCellDef> Oficina </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.propietario?.municipio}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="titular">
            <mat-header-cell *matHeaderCellDef> Titular </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.propietario?.displayName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="asignacion">
            <mat-header-cell *matHeaderCellDef> Fecha y hora de asignación de titular </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.created | date:'MM/dd/yyyy HH:mm'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nic">
            <mat-header-cell *matHeaderCellDef> NIC </mat-header-cell>
            <mat-cell *matCellDef="let element"> <small>{{element.caso.hasPredenuncia ? element.caso.nic : ''}}</small> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="transferir" *ngIf="onLine.onLine">
            <mat-header-cell *matHeaderCellDef> Transferir </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button class="float-right" mat-icon-button (click)="transferirDialog()" *ngIf="element.vigente"><mat-icon  class="md-24">arrow_forward</mat-icon></button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
</div>