<div class="row">
    <h3>Oficio de solicitud de Policia Ministerial </h3>
    <div class="col-md-12">
        <form>
            <text label="Número de oficio" name="noOficio" [(value)]="model.noOficio" [group]="form"></text>
            <text label="Nombre del comisario de la policía de investigación" name="nombreComisario" [(value)]="model.nombreComisario"
                [group]="form"></text>
            <text label="Actuaciones de investigación solicitadas" name="actuacionesSolicitadas" [(value)]="model.actuacionesSolicitadas"
                [group]="form"></text>
            <div class="row space"></div>
            <div class="row justify-content-end">
                <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
                    <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button class="float-right" mat-button routerLink="/caso/{{casoId}}/policia">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>