<div class="row">
    <h3>Oficio de solicitud de Policía de investigación </h3>
    <div class="col-md-12">
        <form>
            <text label="Número de oficio" name="noOficio" [group]="form"></text>
            <text label="Nombre del coordinador de la policía de investigación" name="nombreComisario" [max]="100" [group]="form"></text>
            <text label="Actuaciones de investigación solicitadas" name="actuacionesSolicitadas" [group]="form" [max]="100"></text>
            <div class="row space"></div>
            <div class="row justify-content-end">
                <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
                    <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button class="float-right" mat-button routerLink="/caso/{{casoId}}/policia">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>