<breadcrumb></breadcrumb>
<div class="row">
    <h3>Oficio de solicitud de Policia Ministerial  </h3>
    <div class="col-md-12">
        <form>
            <text label="Número de oficio"></text>
            <text label="Nombre del comisario de la policía de investigación"></text>
            <text label="Actuaciones de investigación solicitadas"></text>
            <div class="row space"></div>
            <button class="float-right" md-button routerLink="/inspeccion">Cancelar</button> 
            <button class="float-right" md-raised-button color="accent">Guardar</button>
        </form>
    </div>
</div>
