<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Anexo 2 Detencion(es)</h2>
        </div>
    </div>
	<div class="row">
        <div class="col-md-12">
           <text label="Motivo de la Detención" name="" ></text>
        </div>
	</div>
    <div class="row justify-content-start">
        <div class="col-md-auto">
            <date label="Fecha de detención" name="" placeholder="dd/mm/aaaa"></date>
        </div>
        <div class="col-md-auto">
            <text label="Hora de detención" name="" placeholder="hh:mm"> </text>
        </div>
    </div>
	<div class="row justify-content-center">
		<div class="col-md-auto">
	    	<span class="float-rigth">Lugar de la detención de la persona 1(Llenar en caso de ser distinta al lugar de la intervención</span>
		</div>
	</div>
</div>