<div>
  <div class="row justify-content-start">
    <div class="col-md-12">
      <h2>Anexo 2 Detencion(es)</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <text label="Motivo de la Detención" name="motivoDetencion" [group]="form"></text>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-md-auto">
      <date label="Fecha de detención" placeholder="dd/mm/aaaa" name="fechaDetencion" [group]="form"></date>
    </div>
    <div class="col-md-auto">
      <text label="Hora de detención" placeholder="hh:mm" name="horaDetencion" [group]="form"></text>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-md-auto">
      <span class="float-rigth"><strong>Lugar de la detención de la persona 1(Llenar en caso de ser distinta al lugar de la intervención)</strong></span>
    </div>
  </div>
  <br>
  <div class="row justify-content-start">
    <div class="col-md-2">
      <select2 placeholder="Entidad de la detención" id=""
               [options]="[
                    {label:'Veracruz',value:'Veracruz'}
                ]"
               name="entidadDetencion"
               [group]="form">
      </select2>
    </div>
    <div class="col-md-2">
      <select2 placeholder="Municipio de la detención" id=""
               [options]="[
                    {label:'Poza Rica',value:'Poza Rica'}
                ]"
               name="municipioDetencion"
               [group]="form">
      </select2>
    </div>
    <div class="col-md-2">
      <text label="Localidad de la detención" placeholder="Poza Rica" name="localidadDetencion" [group]="form"></text>
    </div>
    <div class="col-md-3">
      <text label="Calle" name="calleDetencion" [group]="form"></text>
    </div>
    <div class="col-md-3">
      <text label="Num.Interior" name="numIntDetencion" [group]="form"></text>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-md-2">
      <text label="Num.Exterior" name="numExtDetencion" [group]="form"></text>
    </div>

    <div class="col-md-2">
      <text label="Entre calle y calle" name="entreCalleDetencion" [group]="form"></text>
    </div>

    <div class="col-md-2">
      <text label="C.P." name="cpDetencion" [group]="form"></text>
    </div>

    <div class="col-md-3">
      <text label="Latitud(con 6 decimales)" name="latitudDetencion" [group]="form"></text>
    </div>

    <div class="col-md-3">
      <text label="Longitud(con 6 decimales)" name="longitudDetencion" [group]="form"></text>
    </div>
  </div>
  <br>
  <div class="row justify-content-start">
    <div class="col-md-auto">
      <span class="float-rigth"><strong>Datos del detenido</strong></span>
    </div>
  </div>
  <br>
  <div class="row justify-content-start">
    <div class="col-md-2">
      <text label="Apellido paterno" name="paternoDetecion" [group]="form"></text>
    </div>

    <div class="col-md-2">
      <text label="Apellido materno" name="maternoDetecion" [group]="form"></text>
    </div>

    <div class="col-md-2">
      <text label="Nombres(S)" name="nombreDetencion" [group]="form"></text>
    </div>

    <div class="col-md-3">
      <span>Sexo</span>
      <radiobutton
        class="col-md-4"
        [radios]="[
                    {label:'H',value:'H'},
                    {label:'M',value:'M'}
                ]"
        name="sexoDetencion"
        [group]="form">
      </radiobutton>
    </div>
    <div class="col-md-3">
      <text label="Edad referida" name="edadRefeDetencion" [group]="form"></text>
    </div>
  </div>


  <div class="row justify-content-start">
    <div class="col-md-2">
      <text label="Calle" name="calleDetenido" [group]="form"></text>
    </div>

    <div class="col-md-2">
      <text label="Num. Exterior" name="numExtDetenido" [group]="form"></text>
    </div>

    <div class="col-md-2">
      <text label="Num. Interior" name="numIntDetenido" [group]="form"></text>
    </div>

    <div class="col-md-3">
      <text label="C.P." name="cpDetenido" [group]="form"></text>
    </div>
    <div class="col-md-3">
      <date label="Fecha" name="fechaDetenido" [group]="form" placeholder="dd/mm/aaaa"></date>
    </div>
  </div>


  <div class="row justify-content-start">
    <div class="col-md-2">
      <select2 placeholder="Casado" id=""
               [options]="[
                    {label:'Soltero',value:'Soltero'},
                    {label:'casado',value:'casado'},
                    {label:'Union Libre',value:'Union Libre'}
                ]"
               name="casadoDetenido"
               [group]="form">
      </select2>
    </div>

    <div class="col-md-2">
      <text label="Ocupación" name="ocupacionDetenido" [group]="form"></text>
    </div>

    <div class="col-md-2">
      <span>Nacionalidad</span>
      <radiobutton class="col-md-6"
                   [radios]="[
                    {label:'Mexicana',value:'Mexicana'},
                    {label:'Extranjera',value:'Extranjera'}
                ]" name="nacionalidadDetenido" [group]="form">
      </radiobutton>
    </div>

    <div class="col-md-3">
      <text label="RFC/CURP" name="rfcCurpDetenido" [group]="form"></text>
    </div>

    <div class="col-md-3">
      <span>Lectura de derechos (anexo 1)</span>
      <radiobutton class="col-md-3"
                   [radios]="[
                    {label:'Si',value:'Si'},
                    {label:'No',value:'No'}
                ]"
                   name="lecturaDerechosDetenido" [group]="form">
      </radiobutton>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-md-2">
      <text label="Señales particulares" name="señalesParticularesDetenido" [group]="form"></text>
    </div>

    <div class="col-md-2">
      <text label="Descripción fisica" name="descripcionFisicaDetenido" [group]="form"></text>
    </div>

    <div class="col-md-2">
      <text label="Tipo de vestimenta" name="tipoVestimentaDetenido" [group]="form"></text>
    </div>

    <div class="col-md-3">
      <span class="center">¿Se encontró pertenencias particulares al detenido? (Anexo 5)</span>
      <radiobutton class="col-md-3"
                   [radios]="[
                    {label:'Si',value:'Si'},
                    {label:'No',value:'No'}
                ]"
                   name="pertenenciasDetenido"
                   [group]="form">
      </radiobutton>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-md-auto">
      <span class="float-rigth"><strong>Seleccione el lugar de la detención</strong></span>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="changeLocation($event)" [zoom]="zoom"
               style="height: 400px; width: 100%;">
        <agm-marker [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
      </agm-map>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-auto">
      <span class="float-rigth">Llenar el Anexo 3. Informe del uso de la fuerza</span>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-sm-auto">
      <button class="" mat-raised-button color="accent">Agregar</button>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="detenido">
          <mat-header-cell *matHeaderCellDef> Detenido</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.detenido}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="edad">
          <mat-header-cell *matHeaderCellDef>Edad</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.edad}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <mat-header-cell *matHeaderCellDef>Direccion</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.direccion}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"><span><mat-icon class="button-menu mat-icon material-icons" role="img"
                                                              aria-hidden="true">delete</mat-icon></span></mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" routerLink=""></mat-row>

      </mat-table>
    </div>
  </div>
</div>
