<div class="row space justify-content-end">
	<div class="col-md-2">
    <select2 placeholder= "Formatos" 
        *ngIf="!isCallCenter"
        (valueChange)="changeFormat($event, object.id, dataFormato)"
        [options]="[
            {label:'LECTURA DE DERECHOS DE LA VÍCTIMA',value:'F1_003'},
            {label:'REGISTRO PRESENCIAL',value:'F1_004'},
            {label:'REGISTRO DE RECEPCIÓN DE LLAMADA',value:'F1_005'}
        ]">
    </select2>
    <select2 placeholder= "Formatos" 
        *ngIf="isCallCenter"
        (valueChange)="changeFormat($event, object.id, dataFormato)" 
        [options]="[
            {label:'REGISTRO DE RECEPCIÓN DE LLAMADA',value:'F1_005'}
        ]">
   </select2>
	</div>
	<div class="col-md-auto">
        <div class="form-group">
            <button mat-raised-button color="accent"  (click)="openDocDialog()">Adjuntar</button>
        </div>
	</div>
</div>
<mat-paginator #paginator
    [length]="data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="accion">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nameEcm}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaCreacion">
        <mat-header-cell *matHeaderCellDef> Fecha de creación </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="procedimiento">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div *ngIf="!element['blob']">
                <button 
                    mat-raised-button
                    color="accent"
                    [disabled]="documentos[element.id] ? !documentos[element.id]['validate'] : false"
                    (click)="downloadFile(element, element.contentType)">
                    {{ documentos[element.id] ? !documentos[element.id]['validate'] ? 'Generando PDF...': 'Desacargar' : 'Descargar' }}
                </button>
            </div>
            <div *ngIf="element['blob']">
                <button 
                    mat-raised-button
                    color="accent"
                    [disabled]="documentos[element.id] ? !documentos[element.id]['validate'] : false"
                    (click)="download(this,element)">Descargar
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
