<!-- Fromulario para usuario 1-->

<form [formGroup]="form">
	<div id="f1" *ngIf="isUserX">
	    <div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Calidad del usuario" name="calidadUsuario" [(value)]="model.calidadUsuario" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Número telefónico del que se está llamando" name="numeroTelefono" [(value)]="model.numeroTelefono" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Tipo de línea telefónica" name="tipoLineaTelefonica" [(value)]="model.tipoLineaTelefonica" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Lugar de donde se llama" name="lugarLlamada" [(value)]="model.lugarLlamada" [group]="form"></text>
		    </div>
	    </div>
	    <div class="row">

		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Hechos narrados que se denuncian" name="hechosNarrados" [(value)]="model.hechosNarrados" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="En base a los hechos se le comunica al usuario" name="usuario" [(value)]="model.usuario" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Hora de conclusión de la llamada" name="horaConlcusionLlamada" [(value)]="model.horaConlcusionLlamada" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Duración de la llamada" name="usuario" [(value)]="model.duracionLlamada" [group]="form"></text>
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-4 col-sm-12 col-lg-4">
		    	<text label="Nombre del servidor público que registra" name="nombreServidorPublico" [(value)]="model.nombreServidorPublico" [group]="form"></text>
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-12 col-sm-12 col-lg-12">
		    	<text-area label="Observaciones/Incidencias" name="observaciones" [group]="form"></text-area>
		    </div>
		</div>
	</div>

	<div id="f2" *ngIf="!isUserX">
		<div class="row space"> <h2>Constancia de lectura de derechos a la víctima u ofendido</h2></div>
	    <div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Número de folio" name="numeroFolio" [(value)]="model.numeroFolio" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
				<select2 [options]="[{value: true,label: 'Si'},{value: false,label: 'No'}]"
				placeholder="¿Habla español?"
				[(value)]="model.hablaEspanol"
				name="hablaEspanol"
				[group]="form">
			    </select2>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="En caso negativo, especificar idioma o lengua" name="idioma" [(value)]="model.idioma" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Nombre del interprete" name="nombreInterprete" [(value)]="model.nombreInterprete" [group]="form"></text>
		    </div>
	    </div>
	    <div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
				<select2 [options]="[{value: true,label: 'Si'},{value: false,label: 'No'}]"
				placeholder="¿Comprendió la víctima u ofendido sus derechos?"
				[(value)]="model.comprendioDerechos"
				name="comprendioDerechos"
				[group]="form">
			    </select2>
			</div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
				<select2 [options]="[{value: true,label: 'Si'},{value: false,label: 'No'}]"
				placeholder="¿Se le proporcionó copia de derechos?"
				name="copiaDerechos"
				[group]="form">
			    </select2>
			</div>
		</div>

		<!-- <div class="row space"> <h2>Oficio de asignación de asesor jurídico</h2></div>
		<div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Nombre de la autoridad a quien se dirige el oficio" name="autoridadOficioAsignacion" [(value)]="model.autoridadOficioAsignacion" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="¿Denuncia o querella?" name="denunciaQuerella" [(value)]="model.denunciaQuerella" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Ubicación de la unidad inmediata" name="ubicacionUnidadInmediata" [(value)]="model.ubicacionUnidadInmediata" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="¿Víctima, ofendido o querellante?" name="victimaOfendidoQuerellante" [(value)]="model.victimaOfendidoQuerellante" [group]="form"></text>
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Cargo o adscripción de la autoridad a quien se dirige el oficio" name="cargoAutoridadOficioAsignacion" [(value)]="model.cargoAutoridadOficioAsignacion" [group]="form"></text>
		    </div>
		</div> -->

		<div class="row space"> <h2>Registro presencial</h2></div>
		<div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Calidad de la persona" name="calidadPersona" [(value)]="model.calidadPersona" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<select2 [options]="optionsServ.tipoPersona"
				placeholder="Tipo de persona"
				name="id"
				[group]="form.controls.tipoPersona">
			    </select2>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Lugar en donde ocurrieron los hechos" name="lugarHechos" [(value)]="model.lugarHechos" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Hechos narrados (hechos denunciados)" name="hechosNarrados" [(value)]="model.hechosNarrados" [group]="form"></text>
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Conclusión en base a los hechos denunciados" name="conclusionHechos" [(value)]="model.conclusionHechos" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<select2 [options]="[{value: true,label: 'Si'},{value: false,label: 'No'}]"
				placeholder="¿Se canaliza a otra área o institución?"
				[(value)]="model.canalizacion"
				name="canalizacion"
				[group]="form">
			    </select2>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="En su caso, institución a que se canaliza" name="institucionCanalizacion" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="¿Motivo del por qué se canaliza a esa institución?" name="motivocanalizacion" [(value)]="model.motivocanalizacion" [group]="form"></text>
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
            <date label="Fecha en la que se canaliza" name="fechaCanalizacion" [group]="form" [(value)]="model.fechaCanalizacion" ></date>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Hora en la que se canaliza" name="horaCanalizacion" [(value)]="model.horaCanalizacion" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Si lo sabe, nombre de quien causó el hecho" name="personaCausohecho" [(value)]="model.personaCausohecho" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Si lo sabe, domicilio de quien causó el hecho" name="domicilioQuienCauso" [(value)]="model.domicilioQuienCauso" [group]="form"></text>
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Nombre de persona que llevó a cabo el registro" name="personaRegistro" [(value)]="model.personaRegistro" [group]="form"></text>
		    </div>
		</div>

	    <!-- <div class="row space"> <h2>Oficio para ayuda y atención a víctima</h2></div>
		<div class="row">
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Oficio" name="oficio" [(value)]="model.oficio" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Nombre de la autoridad a quien se dirige el oficio" name="nombreAutoridadDirigeOficio" [(value)]="model.nombreAutoridadDirigeOficio" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Necesidades se ayudarán a cubrir" name="necesidadesCubrir" [(value)]="model.necesidadesCubrir" [group]="form"></text>
		    </div>
		    <div class="col-md-3 col-sm-12 col-lg-3">
		    	<text label="Ubicación de la unidad inmediata" name="ubicacionUnidadInmediataVictima" [(value)]="model.ubicacionUnidadInmediataVictima" [group]="form"></text>
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-4 col-sm-12 col-lg-4">
		    	<text label="Cargo o adscripción de la autoridad a quien se dirige el oficio" name="cargoAutoridadVictima" [(value)]="model.cargoAutoridadVictima" [group]="form"></text>
		    </div>
		</div> -->
		<div class="row">
		    <div class="col-md-12 col-sm-12 col-lg-12">
		    	<text-area label="Observaciones/Incidencias" name="observaciones" [group]="form"></text-area>
		    </div>
		</div>
	</div>

	<div class="row space"></div>
    <div class="row justify-content-end">
        <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
            <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="!hasPredenuncia">Guardar</button>
        </div>
        <div class="col-sm-auto">
            <button class="float-right" mat-button routerLink="/caso/{{casoId}}/detalle">Cancelar</button>
        </div>
    </div>
</form>
<div class="row space"></div>
<div class="row space"></div>
