<div class="row space">
    <div class="col-md-12">
        <caso-herencia 
            [casoId]="casoId"
            (personasChange)="personasChanged($event)" 
            (heredarChange)="heredarChanged($event)"
            [people]="personas"
            [heredarFunction]="heredarDatos.bind(this)"
            [form]="form"
            [precarga]="precarga"
            (heredarSintesisChange)="heredarSintesisChange($event)">
        </caso-herencia>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="">
                <div class="row justify-content-start">
                    <div class="col-md-12">
                        <text-area label="Nombre de la autoridad que realiza la entrevista" name="autoridadRealizaEntrevista" [group]="form"></text-area>
                    </div>
                    <div class="col-md-12">
                        <text-area label="Lugar donde se realiza la entrevista" name="lugarRealizaEntrevista" [group]="form"></text-area>
                    </div>
                </div>
            </div>
            <div class="">
                <h4>Datos del entrevistado</h4>
                <div class="row">
                    <div class="col-md-3">
                        <text *ngIf="!heredar" label="Nombre del entrevistado" name="nombreEntrevistado" [group]="form"  [max]="150"></text>
                        <text *ngIf="heredar" label="Nombre del entrevistado" name="nombreEntrevistadoHeredar" [group]="form"  [max]="1000"></text>
                    </div>
                    <div class="col-md-3">
                        <text   *ngIf="heredar" label="Sexo" name="sexoHeredar" [group]="form"  [max]="1000"></text>
                        <select2  *ngIf="!heredar" placeholder="Sexo" [options]="options.sexo" name="id" [group]="form.controls.sexo">
                        </select2>

                    </div>
                    <div class="col-md-3">
                        <text *ngIf="heredar" label="Fecha de nacimiento" name="fechaNacimientoHeredar" [group]="form"  [max]="1000"></text>
                        <date-picker  *ngIf="!heredar" label="Fecha de nacimiento" name="fechaNacimiento" (onDateSelect)="calculateAge($event)" [validateDays]="'post'" [group]="form"></date-picker>

                    </div>
                    <div class="col-md-3">
                        <text  *ngIf="heredar; else noHeredarEdad" label="Edad" name="edadHeredar" [max]="1000" [group]="form"></text>
                          <ng-template #noHeredarEdad>
                              <int label="Edad" name="edad" [max]="3" [group]="form"></int>
                          </ng-template>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text *ngIf="heredar" label="Nacionalidad" [max]="1000" name="nacionalidadHeredar" [group]="form"></text>
                        <text *ngIf="!heredar" label="Nacionalidad" name="nacionalidad" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text *ngIf="!heredar" label="Originario de" name="originarioDe" [group]="form"></text>
                        <text *ngIf="heredar" label="Originario de" name="originarioDeHeredar" [group]="form" [max]="1000"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="En su caso, estado migratorio" name="estadoMigratorio" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <select2 *ngIf="!heredar" placeholder="Calidad de interviniente" [options]="options.tipoInterviniente" name="id" [group]="form.controls.tipoInterviniente"></select2>
                        <text *ngIf="heredar" label="Calidad de interviniente" name="calidadIntervinienteHeredar" [max]="1000" [group]="form"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text *ngIf="!heredar" label="Tipo de identificación" name="tipoIdentificacion" [group]="form"></text>
                        <text *ngIf="heredar" label="Tipo de identificación" name="tipoIdentificacionHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text *ngIf="!heredar" label="Emisor de la identificación" name="emisorIdentificacion" [group]="form"></text>
                        <text *ngIf="heredar" label="Emisor de la identificación" name="emisorIdentificacionHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text *ngIf="!heredar" label="Nº de la identificación" name="noIdentificacion" [group]="form"></text>
                        <text *ngIf="heredar" label="Nº de la identificación" name="noIdentificacionHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text *ngIf="heredar; else noHeredarCURP" label='CURP' name="curpHeredar" [max]="1000" [group]="form"></text>
                        <ng-template #noHeredarCURP>
                            <curp-rfc label='CURP' name="curp" [group]="form"></curp-rfc>
                        </ng-template>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text label='RFC' *ngIf="heredar; else noHeredarRFC" name="rfcHeredar" [max]="1000"  [group]="form"></text>
                        <ng-template #noHeredarRFC>
                          <curp-rfc label='RFC' name="rfc" [max]="13" [curp]="false" [group]="form"></curp-rfc>
                        </ng-template>

                      </div>
                    <div class="col-md-3">
                        <select2
                            *ngIf="!heredar"
                            placeholder="¿Sabe leer y escribir?"
                            [options]="
                            [
                                {label:'No',value:false},
                                {label:'Sí',value:true}
                            ]"
                            name="sabeLeerEscribir"
                            [group]="form">
                        </select2>
                        <text *ngIf="heredar" label='¿Sabe leer y escribir?' name="sabeLeerEscribirHeredar" [max]="1000"  [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text *ngIf="!heredar" label="Grado de escolaridad" name="gradoEscolaridad" [max]="40" [group]="form"></text>
                        <text *ngIf="heredar" label="Grado de escolaridad" name="gradoEscolaridadHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Ocupación"  *ngIf="!heredar" name="ocupacion" [group]="form"></text>
                        <text label="Ocupación"  *ngIf="heredar" name="ocupacionHeredar" [max]="1000" [group]="form"></text>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text-area *ngIf="!heredar" label="Lugar de ocupación o negocios" name="lugarOcupacion" [max]="40" [group]="form"></text-area>
                        <text-area *ngIf="heredar" label="Lugar de ocupación o negocios" name="lugarOcupacionHeredar" [max]="1000" [group]="form"></text-area>
                    </div>
                    <div class="col-md-3">
                        <text *ngIf="!heredar" label="Estado civil" name="estadoCivil" [max]="40" [group]="form"></text>
                        <text  *ngIf="heredar" label="Estado civil" name="estadoCivilHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-4">
                        <number *ngIf="!heredar" label="Salario mensual" name="salarioSemanal" [group]="form"></number>
                        <text *ngIf="heredar" label="Salario mensual" name="salarioHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-4">
                        <text label="Relación del entrevistado con alguna de las partes" name="relacionEntrevistado" [max]="40" [group]="form"></text>
                    </div>
                </div>
            </div>
            <div class="">
                <h4>Domicilio para oír y recibir todo tipo de notificaciones</h4>
                <div class="row">
                    <div class="col-md-3">
                        <text  *ngIf="!heredar" label="Calle" name="calle" [group]="form"></text>
                        <text  *ngIf="heredar" label="Calle" name="calleHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text  *ngIf="!heredar" label="Nº Exterior" name="noExterior" [max]="10" [group]="form"></text>
                        <text  *ngIf="heredar" label="Nº Exterior" name="noExteriorHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text  *ngIf="!heredar"label="Nº Interior" name="noInterior" [max]="10" [group]="form"></text>
                        <text  *ngIf="heredar" label="Nº Interior" name="noInteriorHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text  *ngIf="!heredar"label="Colonia" name="colonia" [max]="40" [group]="form"></text>
                        <text  *ngIf="heredar" label="Colonia" name="coloniaHeredar" [max]="1000" [group]="form"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text  *ngIf="heredar; else noHeredarCP"  label="CP" name="cpHeredar" [max]="1000" [group]="form"></text>
                          <ng-template #noHeredarCP>
                              <int label="CP" name="cp" [max]="5" [group]="form"></int>
                          </ng-template>

                    </div>
                    <div class="col-md-3">
                        <text *ngIf="!heredar" label="Municipio" name="municipio" [group]="form"></text>
                        <text *ngIf="heredar" label="Municipio" name="municipioHeredar" [max]="1000" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text  *ngIf="!heredar" label="Estado" name="estado" [group]="form"></text>
                        <text  *ngIf="heredar" label="Estado" name="estadoHeredar" [max]="1000"[group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <int *ngIf="!heredar" label="Nº telefónico particular" name="noTelefonoParticular" [max]="10" [min]="10" [group]="form"></int>
                        <text *ngIf="heredar" label="Nº telefónico particular" name="noTelefonoParticularHeredar" [max]="1000"  [group]="form"></text>
                      </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-md-3">
                        <int  *ngIf="!heredar"label="Nº telefónico celular" name="noTelefonoCelular" [max]="10" [min]="10" [group]="form"></int>
                        <text *ngIf="heredar"label="Nº telefónico celular" name="noTelefonoCelularHeredar" [max]="1000" [group]="form"></text>
                      </div>
                    <div class="col-md-3">
                        <email *ngIf="!heredar" label="Correo electrónico" name="correoElectronico" [group]="form"></email>
                        <text *ngIf="heredar" label="Correo electrónico" name="correoElectronicoHeredar" [max]="1000" [group]="form"></text>
                    </div>
                </div>
            </div>
            <div class="">
                <h4>Datos de la entrevista</h4>
                <div class="row">
                    <div class="col-md-4">
                        <select2 [options]="
                        [
                             {label:'No',value:false},
                             {label:'Si',value:true}
                        ]" placeholder="¿Cuenta con representante legal?" [group]="form"
                        name="tieneRepresentanteLegal">
                        </select2>
                    </div>
                    <div class="col-md-12">
                        <text-area label="En su caso, nombre del representante legal" name="nombreRepresentanteLegal" [group]="form"></text-area>
                    </div>
                    <div class="col-md-4">
                        <select2 [options]="
                        [
                             {label:'No',value:false},
                             {label:'Si',value:true}
                        ]" placeholder="¿Se utilizó medio tecnológico para el registro de la entrevista?" [group]="form"
                        name="medioTecnologicoRegistro">
                        </select2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <text label="Medio tecnológico" name="medioTecnologicoUtilizado" [max]="20" [group]="form"></text>
                    </div>
                    <div class="col-md-4">
                        <select2 [options]="
                        [
                             {label:'No',value:false},
                             {label:'Si',value:true}
                        ]" placeholder="¿Se utilizó medio técnico para el registro de la entrevista?" [group]="form"
                        name="medioTecnicoRegistro">
                        </select2>
                    </div>
                    <div class="col-md-4">
                        <text label="Medio técnico utilizado" name="medioTecnicoUtilizado" [max]="20" [group]="form"></text>
                    </div>
                </div>
            </div>
            <div class="">
                <h4>Narración de los hechos</h4>
                <div class="row">
                    <div class="col">
                        <text-area
                            label="Narración de los hechos"
                            name="narracionHechos"
                            hintStart={{hintStart}}
                            [group]="form"
                            [hintEnd]="hintEnd"></text-area>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <text-area label="Observaciones/Incidencias" name="observaciones" [group]="form"></text-area>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
                    <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid || masDe3Dias==true" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button class="float-right" mat-button routerLink="/caso/{{casoId}}/entrevista">Cancelar</button>
                </div>
            </div>
            <div class="row justify-content-end space">
                <div class="col-sm-auto" *ngIf="!onLine.onLine && masDe3Dias==true">
                    Más de tres dias sin conexión, favor de conectarse a internet
                </div>
            </div>
        </form>
    </div>
</div>
