<div class="row">
    <div class="col-md-12">
        <form>
            <div class="">
                <div class="row justify-content-start">
                    <div class="col-md-3">
                        <text label="Nombre de la autoridad que realiza la entrevista" name="autoridadRealizaEntrevista" [max]="150" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Lugar donde se realiza la entrevista" name="lugarRealizaEntrevista" [max]="150" [group]="form"></text>
                    </div>
                </div>
            </div>
            <div class="">
                <h4>Datos del entrevistado</h4>
                <div class="row">
                    <div class="col-md-3">
                        <text label="Nombre del entrevistado" name="nombreEntrevistado" [max]="150" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <select2 placeholder="Sexo" [options]="options.sexo" name="id" [group]="form.controls.sexo">
                        </select2>
                    </div>
                    <div class="col-md-3">
                        <date label="Fecha de nacimiento" name="fechaNacimiento" (valueChange)="calculateAge($event)"[group]="form"></date>
                    </div>
                    <div class="col-md-3">
                        <number label="Edad" name="edad" [max]="2" [maxValue]="99" [group]="form"></number>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text label="Nacionalidad" name="nacionalidad" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Originario de" name="originarioDe" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="En su caso, estado migratorio" name="estadoMigratorio" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <select2 placeholder="Tipo de interviniente" [options]="options.tipoInterviniente" name="id" [group]="form.controls.tipoInterviniente"></select2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text label="Tipo de identificación" name="tipoIdentificacion" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Emisor de la identificación" name="emisorIdentificacion" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Nº de la identificación" name="noIdentificacion" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="CURP" name="curp" [max]="18" [valRfCurp]="true" [group]="form"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text label="RFC" name="rfc" [valRfCurp]="false" [max]="13" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <select2 placeholder="¿Sabe leer y escribir?"
                        [options]="
                        [
                             {label:'No',value:false},
                             {label:'Si',value:true}
                        ]" name="sabeLeerEscribir" [group]="form"></select2>
                    </div>
                    <div class="col-md-3">
                        <text label="Grado de escolaridad" name="gradoEscolaridad" [max]="50" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Ocupación" name="ocupacion" [max]="50" [group]="form"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <text label="Lugar de ocupación o negocios" name="lugarOcupacion" [max]="50" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Estado civil" name="estadoCivil" [max]="50" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <number label="Salario semanal" name="salarioSemanal" [maxValue]="99999" [max]="5" [group]="form" [hintEnd]="'5 dígitos máximo'"></number>
                    </div>
                    <div class="col-md-3">
                        <text label="Relación del entrevistado con alguna de las partes" name="relacionEntrevistado" [max]="50" [group]="form"></text>
                    </div>
                </div>
            </div>
            <div class="">
                <h4>Domicilio para oír y recibir todo tipo de notificaciones</h4>
                <div class="row">
                    <div class="col-md-3">
                        <text label="Calle" name="calle" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Nº Exterior" name="noExterior" [max]="15" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Nº Interior" name="noInterior" [max]="15" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Colonia" name="colonia" [max]="50" [group]="form"></text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <number label="CP" name="cp" [maxValue]="99999" [max]="5" [group]="form"></number>
                    </div>
                    <div class="col-md-3">
                        <text label="Municipio" name="municipio" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Estado" name="estado" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Nº telefónico particular" name="noTelefonoParticular" [max]="20" [group]="form"></text>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-md-3">
                        <text label="Nº telefónico celular" name="noTelefonoCelular" [max]="20" [group]="form"></text>
                    </div>
                    <div class="col-md-3">
                        <text label="Correo electrónico" name="correoElectronico" [max]="40" [group]="form"></text>
                    </div>
                </div>
            </div>
            <div class="">
                <h4>Datos de la entrevista</h4>
                <div class="row">
                    <div class="col-md-4">
                        <select2 [options]="
                        [
                             {label:'No',value:false},
                             {label:'Si',value:true}
                        ]" placeholder="¿Cuenta con representante legal?" [group]="form"
                        name="tieneRepresentanteLegal">
                        </select2>
                    </div>
                    <div class="col-md-4">
                        <text label="En su caso, nombre del representante legal" name="nombreRepresentanteLegal" [max]="150" [group]="form"></text>
                    </div>
                    <div class="col-md-4">
                        <select2 [options]="
                        [
                             {label:'No',value:false},
                             {label:'Si',value:true}
                        ]" placeholder="¿Se utilizó medio tecnológico para el registro de la entrevista?" [group]="form"
                        name="medioTecnologicoRegistro">
                        </select2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <text label="Medio tecnológico" name="medioTecnologicoUtilizado" [max]="30" [group]="form"></text>
                    </div>
                    <div class="col-md-4">
                        <select2 [options]="
                        [
                             {label:'No',value:false},
                             {label:'Si',value:true}
                        ]" placeholder="¿Se utilizó medio técnico para el registro de la entrevista?" [group]="form"
                        name="medioTecnicoRegistro">
                        </select2>
                    </div>
                    <div class="col-md-4">
                        <text label="Medio técnico utilizado" name="medioTecnicoUtilizado" [max]="30" [group]="form"></text>
                    </div>
                </div>
            </div>
            <div class="">
                <h4>Narración de los hechos</h4>
                <div class="row">
                    <div class="col">
                        <text-area label="Narración de los hechos" name="narracionHechos" [group]="form" [hintEnd]="'150 carácteres mínimo'"></text-area>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <text-area label="Observaciones/Incidencias" name="observaciones" [group]="form"></text-area>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
                    <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button class="float-right" mat-button routerLink="/caso/{{casoId}}/entrevista">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
