<div class="row space justify-content-end">
	<div class="col-md-2">
		<select2 placeholder= "Formatos"[options]="tipo_options[tipo]" (valueChange)="changeFormat($event, id)"></select2>
	</div>
	<div class="col-md-auto">
		<button mat-raised-button color="accent" >Adjuntar</button>
	</div>
	<div class="col-md-auto">
		<button mat-raised-button color="accent" >Compartir</button>
	</div>
</div>
<mat-paginator #paginator
    [length]="data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="accion">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nameEcm}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="procedimiento">
        <mat-header-cell *matHeaderCellDef> Procedimiento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.procedimiento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaCreacion">
        <mat-header-cell *matHeaderCellDef> Fecha de creación </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="downloadFile(row, 'application-pdf')"></mat-row>
</mat-table>
