<div class="row space">
    <div class="col-md-12">
        <h3>Fundamento legal</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col">
                    <text label="Fundamento legal" name="fundamentoLegal" [(value)]="model.fundamentoLegal" [group]="form"></text>
                </div>
                <div class="col">
                    <text label="Contenido del acuerdo" name="contenidoAcuerdo" [(value)]="model.contenidoAcuerdo" [group]="form"></text>
                </div>
                <div class="col">
                    <text label="Con la finalidad de" name="finalidad" [(value)]="model.finalidad" [group]="form"></text>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <text label="Plazo en el que debe ser complementado" name="plazo" [(value)]="model.plazo" [group]="form"></text>
                </div>
                <div class="col">
                    <text label="Apercibimientos" name="apercibimiento" [(value)]="model.apercibimiento" [group]="form"></text>
                </div>
                <div class="col">
                    <text label="Señalar que se solicita" name="senialar" [(value)]="model.senialar" [group]="form"></text>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <text-area label="Observaciones/Incidencias" name="observaciones" [(value)]="model.observaciones"  [group]="form" ></text-area>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-auto" [mdTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
                    <button md-raised-button color="accent" _saving (saveFn)="edit(form.valid, form.value)" [disabled]="!form.valid" *ngIf="id != null">Editar</button>    
                    <button md-raised-button color="accent" _saving (saveFn)="save(form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button class="float-right" md-button routerLink="/caso/{{casoId}}/acuerdo-general">Cancelar</button> 
                </div>
            </div>
        </form>
    </div>
</div>
