<div class="row">
    <div class="col-md-6">
        <h3>Usuarios</h3>
    </div>
    <div class="col-md-6">
        <button class="float-right" mat-raised-button routerLink="/usuarios/create" color="accent">Agregar usuario</button>
    </div>
</div>
<mat-paginator #paginator
    [length]="data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
<mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="Usuario">
        <mat-header-cell *matHeaderCellDef> Usuario</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.usuario}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Apellido paterno">
        <mat-header-cell *matHeaderCellDef>Apellido paterno </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.apellidoPaterno}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Apellido materno">
        <mat-header-cell *matHeaderCellDef> Apellido materno </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
       <mat-cell *matCellDef="let row"> 
         <a mat-icon-button [routerLink]="['/usuarios/edit', row.id]">
          <mat-icon class="md-24">edit</mat-icon>
         </a>
         <a mat-icon-button color="black" (click)="delete(row.id)">
          <mat-icon class="md-24">delete</mat-icon>
         </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
