<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col">
                    <date label="Fecha de inspección" name="fechaHoraInspeccion" [(value)]="model.fechaHoraInspeccion" [group]="form"></date>
                </div>
                <div class="col">
                    <time label="Hora de inspección" name="horaInspeccion"  [group]="form"></time>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <text-area label="Adscripción" name="adscripcion" [(value)]="model.adscripcion" [group]="form"></text-area>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <text-area label="Descripción" name="descripcion" [(value)]="model.descripcion" [group]="form"></text-area>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-auto" [matTooltip]="validateMsg(form)" (mouseenter)="validateForm(form)">
                    <button mat-raised-button color="accent" _saving [saveFn]="save.bind(this, form.valid, form.value)" [disabled]="!form.valid" *ngIf="id == null">Guardar</button>
                </div>
                <div class="col-sm-auto">
                    <button class="float-right" mat-button routerLink="/caso/{{casoId}}/inspeccion">Cancelar</button> 
                </div>
            </div>
        </form>
    </div>
</div>
