<div class="row space">
    <div class="col-md-6">
        <h3>Vehículos</h3>
    </div>
    <div class="col-md-6">
        <button class="float-right" md-raised-button routerLink="/caso/{{casoId}}/vehiculos/create" color="accent">Agregar vehículo</button>
    </div>
</div>
<md-paginator #paginator [length]="data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>
<md-table #table [dataSource]="dataSource">

    <ng-container mdColumnDef="tipo">
        <md-header-cell *mdHeaderCellDef> Tipo </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.tipo}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="marca">
        <md-header-cell *mdHeaderCellDef> Marca </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.marca}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="color">
        <md-header-cell *mdHeaderCellDef> Color </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.color}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="modelo">
        <md-header-cell *mdHeaderCellDef> Modelo </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.modelo}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="placa">
        <md-header-cell *mdHeaderCellDef> Placa </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.placa}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>
