<div>
    <div class="row">
        <div class="col-md-12">
            <h2>Anexo 4 Puesta a dispoición de objetosy/o detenidos</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Vista previa del acta no editable</h3>
        </div>
    </div>

    <div class="row justify-content-center"> 
        <div class="col-md-7" style="text-align: justify;">
            <br><br>
            <h5><strong>C. AGENTE DEL MINISTERIO PÚBLICO TURNO</strong></h5>
            <br><br>
            Agencia del ministerio público __________________________
            <br><br>
            Presente
            <br><br>
            Siendo las (hh:mm) _______ del día (dd) ______ de (mm) _______ de ________ los CC. <strong>Humberto Sánchez</strong> y <strong>Ricardo Crespo</strong>  con Clave Única de Identificación Policial (CUIP) <strong>23443645646</strong>  y <strong>784873263223</strong> rendimos el presente Informe Policial Homologado, para poner a disposición del Ministerio Público al (los) CC. <strong>Yair Ruiz</strong> y <strong>José Luis Elizalde,</strong> así como los siguientes objetos: <strong>2 pistolas calibre 22 y na navaja de 15 cm.</strong>
            <br><br>
            Derivado de los siguientes hechos: <br>
            <strong>Se les encontró flagrancia cometiendo actos delictivos en contra de la sociedad.</strong>
            <br><br><br><br><br>
            <strong>
                Agente del ministerio público ante el que se realiza la puesta a disposición: <br>
                Apellido paterno: ______________________ <br>
                Apellido materno: ______________________ <br>
                Nombre(s): _____________________________ <br>
                Cargo: _________________________________ <br>
                Adscripción: ___________________________ <br><br><br><br>
                <div class="row">
                    <div class="col-md-8">
                        Firma:
                    </div>
                    <div class="col-md-4">
                        Sello de la agencia del ministerio público
                    </div>
                </div>
            </strong> <br><br>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-sm-auto">
            <button class="" mat-raised-button color="accent">Guardar</button>
        </div>

        <div class ="col-sm-auto">
            <button class="" mat-raised-button routerLink="/caso/1313/informe-homologado" color="accent">Cancelar</button>
        </div>
    </div>
</div>
    
    
    

