<mat-card>
	<div>
		<strong>Datos de herencia</strong>
	</div>
	<div class="row">
		<div class="col-md-4">
			<search label="Buscar personas"></search>
		</div>
		<div class="col-md-4">
			<select2 placeholder="Lugar" [options]="[]" [group]="form" name=""></select2>
		</div>
		<div class="col-md-4">
			<select2 placeholder="Delito" [options]="[]" [group]="form" name=""></select2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">

		</div>
		<div class="col-md-4">
			<select2 placeholder="Vehiculo" [options]="[]" [group]="form" name=""></select2>
		</div>
		<div class="col-md-4">
			<select2 placeholder="Arma" [options]="[]" [group]="form" name=""></select2>
		</div>
	</div>
	Caso: {{ caso }}
</mat-card>