<breadcrumb></breadcrumb>
<div class="row space">
    <div class="col-md-6">
        <h2>Catálogos</h2>
    </div>
    <div class="col-md-6">
        <button class="float-right" md-raised-button routerLink="/" color="accent">Regresar</button>
    </div>
</div>
<hr>
<div class="row space"></div>
<md-table #table [dataSource]="dataSource">
    <ng-container mdColumnDef="nombre">
        <md-header-cell *mdHeaderCellDef> Nombre </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.nombre}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="descripcion">
        <md-header-cell *mdHeaderCellDef> Descripción </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.descripcion}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="columns"></md-header-row>
    <md-row *mdRowDef="let row; columns: columns;" (click)="setClickedRow(row)" [class.active]="row.id == selectedRow"></md-row>
</md-table>