
.jaspero__dialog-actions button.primary {
	background-color: #b71c1c !important;
	color:#FFF !important;
}
.jaspero__dialog{
	width: 40% !important;
	height: 30% !important;
	max-width: 50%!important;
}
.jaspero__dialog-content{
	line-height: normal;
	padding: 36px 78px 24px !important;
}

.jaspero__dialog-title{
	padding-left: 144px !important;
}