<breadcrumb></breadcrumb>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <text label="No. de oficio"></text>
                </div>
                <div class="col-md-4">
                    <date label="Fecha de requerimiento"></date>
                </div>
                <div class="col-md-4">
                    <text label="Noombre de la autoridad requerida"></text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <text label="Cargo, turno y adscripción"></text>
                </div>
                <div class="col-md-4">
                    <text label="Domicilio de la autoridad requerida"></text>
                </div>
                <div class="col-md-4">
                    <text label="Infrmación requerida"></text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <text label="Plazo máximo en días para emitir la información"></text>
                </div>
                <div class="col-md-6">
                    <text label="Apercibimiento en caso de incumplimiento"></text>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <text-area label="Observaciones/Incidencias"></text-area>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="p-2">
                    <button md-raised-button color="accent">Guardar</button>
                </div>
                <div class="p-2">
                    <button md-button routerLink="/requerimiento-informacion">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>