@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// $app-primary: mat-palette($mat-indigo);
// $app-accent:  mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $app-warn:    mat-palette($mat-red, 900);

// // Create the theme object (a Sass map containing all of the palettes).
// $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($app-theme);

$app-primary: mat-palette($mat-red, 900);
$app-accent:  mat-palette($mat-blue-grey, 700);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);	
@include angular-material-theme($app-theme);

body {
	font-family: Roboto, Roboto Bold, 'Helvetica Neue', sans-serif;

	* {
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
  	}

}

button:focus{
	outline: none !important;
}

strong,
.font-weight-bold{
	-webkit-font-smoothing: auto !important;
}

.mat-tab-body-content{
	padding: 20px;
}
.mat-form-field{
	padding-top: 7px;
}

.form-group .mat-select-trigger {
    font-size: 14px;
   	min-width: 0 !important;

   	.mat-select-arrow {
		position: absolute;
		right:0;
		top: 10px;
	    width: 0;
	    height: 0;
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    border-top: 5px solid;
	    margin: 0 4px;
	}
}

.form-group .mat-select-placeholder{
	// width: inherit !important;
    position: absolute !important;
    left: 0 !important;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";
@import "theme/tabs";
@import "theme/verticalTabs";
@import "theme/notify";
@import "theme/alerts";
@import "theme/dialog";
@import "theme/table";